[2020-10-22 06:51] snipe commented on #8569
Already fixed in 5.0.1 AFAIK

[2020-10-22 06:51] #8569 closed, assigned to nobody

[2020-10-22 06:54] snipe commented on #8570
Hi @vincentndl! I have to apologize, but i’m not exactly clear what you’re trying to do. I’d love to help you, if you can give me just a little more info

[2020-10-22 07:58] xylcro opened #8571 ""Whoops, looks like something went wrong." after upgrade to v5"
#### Please confirm you have done the following before posting your bug report:

- [x] I have enabled debug mode
- [x] I have read [checked the Common Issues page](https://snipe-it.readme.io/docs/common-issues)

**Describe the bug**
After upgrading to v5.0.1, when clearing chache en refreshing the page, I get an error "Whoops, looks like something went wrong." with nothing else. (before turning on

[2020-10-22 07:58] hixair opened #8572 "V5.0.1 Database migration Alert during upgrade"
#### Please confirm you have done the following before posting your bug report:

- [NA] I have enabled debug mode
- [x] I have read [checked the Common Issues page](https://snipe-it.readme.io/docs/common-issues)

**Describe the bug**

Following #8553 I was able to upgrade (by trashing the vendor folder, editing the .env file for the REDIS_PORT operator and updating my php modules)
I have a working

[2020-10-22 08:07] snipe commented on #8565
Honestly, whatever flavor you are most comfortable with. We have folks running this on raspberry pi, so it works almost anywhere.

Linux is easier for us to support, just because we know it better, but most flavors are kind of similar. So whatever floats your boat.

[2020-10-22 08:08] snipe commented on #8565
(If you’re looking for something more specific tho, Ubuntu, CentOS, and Debian are super common and we know them very well)

[2020-10-22 08:10] snipe commented on #8571
You’re most likely missing some new PHP extension requirements. I know it’s a bad/unhelpful error message. Unfortunately we can’t do a lot about that. Try running composer install again and watch the output. You might need to install PHP-ldap or PHP-bcmath.

[2020-10-22 08:16] devilyxm opened #8573 "Add a timepicker to datepicker for fields where it’s appropriate"
**Server (please complete the following information):**
 - Snipe-IT Version v4.9.4
 - OS: [e.g. Ubuntu, CentOS] centos
 - Web Server: [e.g. Apache, IIS] Apache
 - PHP Version 7.3

**Is your feature request related to a problem? Please describe.**
![image](https://user-images.githubusercontent.com/45618153/96844050-9f3f6200-1481-11eb-8341-178aa683c08e.png)
    This is a system default time picker,

[2020-10-22 08:17] Mikey84 opened #8574 "Failed to load image"
Please confirm you have done the following before posting your bug report:
[ x ] I have enabled debug mode
[ x ] I have read checked the Common Issues page
Describe the bug
A clear and concise description of what the bug is.
Images uploaded seems to be uploaded to storage/app/public/...

To Reproduce
Steps to reproduce the behavior:

Go to e.g. Asset
Click on "Edit Asset"
Scroll down to 'Upload Im

[2020-10-22 08:17] snipe commented on #8531
@ISNL-PimP so glad to hear that. Again, very sorry for the hassle.

[2020-10-22 08:17] Mikey84 commented on #8574
same as: https://github.com/snipe/snipe-it/issues/6953

[2020-10-22 08:20] devilyxm commented on #8573
sorry， i didn't upload  the image
https://user-images.githubusercontent.com/45618153/96844701-63f16300-1482-11eb-9415-175fc673f36b.png

<blockquote></blockquote>

[2020-10-22 08:21] devilyxm commented on #8573
thank you

[2020-10-22 08:22] hixair commented on #8572
Update : I get 500 errors whenever i checkout an asset, or try to save a new logo in the branding part of the settings.
I will revert back to 4.9.5 :'(

[2020-10-22 08:23] LEOkonami opened #8575 "Can't check-in a specific asset for a user"
#### Please confirm you have done the following before posting your bug report:

- [YES ] I have enabled debug mode
- [YES] I have read [checked the Common Issues page](https://snipe-it.readme.io/docs/common-issues)

**Describe the bug**
I get an error while trying to check-in a specific asset (monitor) for one of my users

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a user asset li

[2020-10-22 08:24] snipe commented on #8572
Congrats! I wrote a book on MySQL and I have NO IDEA what’s happening here, so that’s new and fun.

Re: the 500 errors, that wouldn’t shock me. If migrations can’t complete, you’re gonna have a bad time. Can you give me more info on your version MySQL maybe?

[2020-10-22 08:32] Diniver opened #8576 "Expiring notification - class not found (5.0.1)"
Hi all,
Good job to everyone bringing 5.0.1 live!

I have an issue with notification. When I run _php artisan snipeit:expiring-alerts_ I get:

![image](https://user-images.githubusercontent.com/31882138/96844269-36d38f00-1447-11eb-8f25-d7d1cb240aed.png)

Server: Ubuntu 20.04.1
Snipe-IT version: v5.0.1 build 5383 (g870b097f0)
PHP:  7.4.3

[2020-10-22 08:39] hixair commented on #8572
I am running mysql  Ver 15.1 Distrib 10.3.23-MariaDB, for debian-linux-gnu (x86_64) using readline 5.2
I am also strongly considering moving to your hosted Snipe-IT 😆

[2020-10-22 08:48] helloweenx opened #8577 "cant see branding logo and signatures after upgrade from 4.9.5 to latest 5.0.1"
#### Please confirm you have done the following before posting your bug report:

- [YES ] I have enabled debug mode
- [ YES] I have read [checked the Common Issues page](https://snipe-it.readme.io/docs/common-issues)

**Describe the bug**
after upgrading from latest version of 4 to latest build 5.0.1 i cant see any branding, signatures etc.
Also i had to swap php version from 7.3.22 to 7.4.3, othe

[2020-10-22 08:55] GustelDE opened #8578 "V5 - Finding -> wrong setting leads to errors!"
Hi, I tested the V5-versions last night excessively, because there were always Errors "Check the form below".
On all(!!!) pages of the settings menu!

I found that this setting triggers this behaviour:
![01](https://user-images.githubusercontent.com/26502186/96847441-799b6400-1453-11eb-9d0b-fd0946d227b3.jpg)
With V4.x this was set to 5 (it written below, minimum is 5). Everything worked.

With V5.

[2020-10-22 08:58] ISNL-PimP commented on #8572
Got a similar issue after upgrading 4.9.5 to 5.0 with the upgrade.php script, got the same SQLSTATE errors about incorrect blob size.
I fixed it by running some SQL commands similar to what's described here: https://snipe-it.readme.io/docs/installation-issues#sqlstatehy000-general-error-1005-cant-create-table-snipeitsql-3626_1c6-errno-150

[code]

After that, I reran the database migrations (`php

[2020-10-22 09:03] snipe commented on #8577
Thanks so much for this report! If you copy the files that were (inadvertently) moved from storage/private_uploads to app/storage/public back to storage/private_uploads does that help?

[2020-10-22 09:10] xylcro commented on #8571
After installing php-ldap and php-bcmath, running composer install again, all is working again.
Thanks!

[2020-10-22 09:10] #8571 closed, assigned to nobody

[2020-10-22 09:14] GustelDE commented on #8555
Problem **partially** solved by this:
https://github.com/snipe/snipe-it/issues/8578

Only the missing prefix or 000 persist.

[2020-10-22 09:14] GustelDE commented on #8531
My problem, regarding image upload and displaying, was solved by this: https://github.com/snipe/snipe-it/issues/8578

[2020-10-22 09:34] maodahua commented on #8563
same issue:

php artisan snipeit:ldap-sync  --summary
PHP Fatal error:  Allowed memory size of 1073741824 bytes exhausted (tried to allocate 4096 bytes) in /var/www/html/snipeit/vendor/adldap2/adldap2/src/Connections/Ldap.php on line 143
PHP Fatal error:  Allowed memory size of 1073741824 bytes exhausted (tried to allocate 65536 bytes) in /var/www/html/snipeit/vendor/monolog/monolog/src/Monolog/Lo

[2020-10-22 10:00] maodahua commented on #8577
I have the same issue. and all signatures sitll in signatures but can not show in asset history

[2020-10-22 10:10] mschmidt291 opened #8579 "v5.0.1: Custom logo results in CSP error"
#### Please confirm you have done the following before posting your bug report:

- [x ] I have enabled debug mode
- [ /] I have read [checked the Common Issues page](https://snipe-it.readme.io/docs/common-issues)

**Describe the bug**
When uploading a custom logo, it results in 404 in Snipe-IT. If I open it directly in Browser, I can access it normally.
Developer Console:
`Refused to load the imag

[2020-10-22 10:14] ISNL-PimP commented on #8561
Getting the same error when patching any user:
[code]
This command would call https://snipe-url/api/v1/users/4 with a PATCH body of `{"manager_id":1}`

I'm getting the same error message in the frontend when selecting a manager:
![image](https://user-images.githubusercontent.com/59050598/96857380-3646f280-145f-11eb-9ef8-eb6f7aec2d8f.png)

[2020-10-22 10:21] Mikey84 commented on #8577
+1

[2020-10-22 10:41] ISNL-PimP commented on #8107
Sounds interesting. Could perhaps also make assets in backorder easier to track during the shipping process.

[2020-10-22 11:20] #8579 closed, assigned to nobody

[2020-10-22 11:51] fashberg opened #8580 "5.0.1: Error 500 on custom asset report having assets with model without Depreciation"
#### Please confirm you have done the following before posting your bug report:

- [X] I have enabled debug mode
- [X] I have read [checked the Common Issues page](https://snipe-it.readme.io/docs/common-issues)

**Describe the bug**
If you have an asset linked to a model which does not has a deprecation you get error 500

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...' https://dev

[2020-10-22 11:58] helloweenx commented on #8577
hey, nothing have been actually moved from storage/private_uploads. All signatures remains there and folder app/storage isnt event present.
Not really sure how to proceed now.
Thanks!

[2020-10-22 12:06] helloweenx commented on #8577
![image](https://user-images.githubusercontent.com/56583099/96869446-bffebc00-146f-11eb-8f03-4aeb47e0c4a1.png)
btw there is not even link to missing image (signature).
had this problem few months ago and i was able to solve it (not remember how, but its not important). Just saying, that this is probably somewhere deeper.
But there is link to missing image at where logo should be.
Thanks

[2020-10-22 12:14] TinaMccray commented on #8102
This would be nice to have

[2020-10-22 12:21] Mikey84 commented on #8577
Hey guys!

I think it may also be related to the following problem:
https://github.com/snipe/snipe-it/issues/8574

Because the error occurs at the same time.

[2020-10-22 13:00] EmptySet00 commented on #8564
Hi,

 COOKIE_DOMAIN was already set to null.  I ran php artisan config:clear again and also restarted the server again and it seems to be working again.

Thank you.

[2020-10-22 13:00] #8564 closed, assigned to nobody

[2020-10-22 13:46] JoatWiPete commented on #8550
Now that 5.0.1 has rolled out, all I had to do was change REDIS_PORT-null in the .env file and run php upgrade.php again. I am not getting the public storage directories error again. Works great now.
Thanks @snipe

[2020-10-22 13:48] mexx3001 commented on #8528
Yes I have now added a status and it works now.

Does the CSV import only support "," as separator? As soon as ";" is available as separator in a CSV, the importer does not recognize the formatting.

[2020-10-22 13:54] jovibroz commented on #8550
I tired running php upgrade.php again after 5.01 and got the same PHP unlink warning and the results are images getting moves to the app dir instead of public/uploads
Easily fixed by cp them back but would rather not have to :)

<blockquote><img src="https://yoursite.com/wp-content/uploads/2020/04/yoursite-fb-1.jpg" width="48" align="right"><div><img src="https://yoursite.com/wp-content/uploads/20

[2020-10-22 14:35] telesoftas-github commented on #8563
Hi,

Try to re-submit your BIND password. It helped me.

[2020-10-22 15:09] itscsquared opened #8582 "Erroneous data format for unserializing 'Symfony\Component\Routing\CompiledRoute'"
#### Please confirm you have done the following before posting your bug report:

- [X] I have enabled debug mode
- [X] I have read [checked the Common Issues page](https://snipe-it.readme.io/docs/common-issues)

**Describe the bug**
Receiving the following error when attempting to access the Snipe-IT site after upgrading to 5.0.1 "Erroneous data format for unserializing 'Symfony\Component\Routing\

[2020-10-22 15:16] itscsquared commented on #8582
You can go ahead and close this. I had mismatched PHP versions and all appears to be working now.

[2020-10-22 15:19] jmartins1 opened #8583 "500 | Server Error"
#### Please confirm you have done the following before posting your bug report:

**Describe the bug**
When checking out equipment. Equipment is checked out but receive a 500 | server error. (Error: That asset is not available for checkout!)

I also receive this issue when attempting to update email, label and favicon logos.

**To Reproduce**
Steps to reproduce the behavior:
Normal process to check

[2020-10-22 15:21] Kagemusha-SA commented on #8563
@telesoftas-github Actually tried that earlier and then after seeing your post, but it still gives me the "Unable to connect to LDAP directory!" error.  On a side note, I recall looking at an debug log and the AD user and password were showing up for the UI sync.

@uberbrady Tried that dirtiness check fix and it didn't seem to change. I did get about four new people this morning though on the firs

[2020-10-22 15:25] itscsquared commented on #8574
+1 for this issue after upgrading to 5.0.1. This is on Windows Server 2016 running IIS

[2020-10-22 15:31] syndr commented on #8535
We upgraded our Docker container to v5.0.1, and I'm still seeing this issue.  I changed the `memory_limit = 128M` to `memory_limit = 1024M` in `/etc/php/7.2/apach2/php.ini` for the purposes of testing, and restarted apache with `apachectl -k graceful`, and this fixed the 500 error when the "Test LDAP settings" button is clicked, and it does return results.

However, this isn't really viable, as th

[2020-10-22 15:41] SmithD3 commented on #8583
Try running `php upgrade.php` from https://snipe-it.readme.io/docs/upgrading . That fixed many of the random 500 errors we received. If you are running in Docker and it complains about root, `su` to the user that owns the files to where ever the console defaults you to.

<blockquote><img src="/favicon.ico" width="48" align="right"><div>Snipe-IT Documentation</div><div><strong><a href="https://snip

[2020-10-22 15:49] fstorz opened #8584 "V5 SAML token validation fails when Snipe-it is behind a reverse proxy"
#### Please confirm you have done the following before posting your bug report:

- [X] I have enabled debug mode
- [X] I have read [checked the Common Issues page](https://snipe-it.readme.io/docs/common-issues)

**Describe the bug**
After configuring SAML and attempt to login via SAML, the following error is displayed on the login screen.

![image](https://user-images.githubusercontent.com/2781353

[2020-10-22 15:52] jmartins1 commented on #8583
Thanks SmithD3 that resolved the error 500 issue.

[2020-10-22 15:52] #8583 closed, assigned to nobody

[2020-10-22 16:01] dborko95 opened #8585 "Requested Assets Blank - 5.0"
#### Please confirm you have done the following before posting your bug report:

- [X] I have enabled debug mode
- [X] I have read [checked the Common Issues page](https://snipe-it.readme.io/docs/common-issues)

**Describe the bug**
A clear and concise description of what the bug is.

When a user requests an asset it shows up under requested assets tab for 1 second then goes blank and says it is s

[2020-10-22 16:07] PauloFreire70 commented on #8563
I have also a lot of issues with this, though I cannot say exactly the issue, because I had to change the bind user password and in laravel.log I can see the old password being always passed. I've tried to change it to the new one but no luck.

[2020-10-22 16:14] telesoftas-github commented on #8563
Sync or login is not working? I noticed that if I remove active flag parameter - login is working, but sync is failing. If I add it, sync is working, but login is failing :))

[2020-10-22 16:17] Kagemusha-SA commented on #8563
Login is working fine, but sync is only semi-working. As in, it will try to sync and then fail after about 6 minutes. I do get some new users created once in awhile though.

[2020-10-22 16:24] Godmartinz commented on #8532
#8586 fixed!

[2020-10-22 16:36] SaranyaTest17 opened #8587 "api/v1/companies Failed to load resource: the server responded with a status of 401 (Unauthorized)"
I am getting 401 error while calling this API , I have changed the permission in  apache config , but still not working ,where will be the issue ?

I am using Windows 10 , Wamp Server ,  PHP 7.3

[2020-10-22 16:47] fstorz commented on #8584
After some research I was able to resolve the problem by myself :)
The solution was to do 2 things
1. add a "custom" property on the SAML configuration screen
SAML Custom Settings:
[code]
2. Set the username of the relevant users to their email address. This is because the identity value of the SAML token is an Email (at our IDP -> AzureAD)

[2020-10-22 16:47] #8584 closed, assigned to nobody

[2020-10-22 17:01] PauloFreire70 commented on #8563
I'm also being able to login again, but I always get "ERROR: No users found!" with the same exact query that worked before.

[2020-10-22 17:01] roomwillow opened #8588 "Upgrade Failing (Completes without upgrading version)"
#### Expected Behavior (or desired behavior if a feature request)

snipe-it upgrades to V5 from V4.9.5 (build 4482)

-----

#### Actual Behavior

version number does not change

-----

#### Please confirm you have done the following before posting your bug report:

- [Y] I have enabled debug mode
- [Y] I have read [checked the Common Issues page](https://snipe-it.readme.io/docs/common-issues)

---

[2020-10-22 17:20] emike09 commented on #8574
Can confirm as well. I tried moving the files in app/storage/uploads back to public/uploads, but didn't see any symlinks that the updater created. Upgraded from 4.9.5 to 5.0.1, clearing cache in local browser and re-logging, as we all clearing cache in artisan.

[2020-10-22 17:28] ArcheNoah77 commented on #8545
Nothing in the error logs. I checked the laravel.log and the /var/log/apache2/error.log. Any other logs?

Maybe the permissions aren't rigth?
![image](https://user-images.githubusercontent.com/25475591/96908174-8e501a00-149c-11eb-866b-c6a71faa0b28.png)

(With 5.0.1 the images of the models etc. are displayed)

[2020-10-22 17:31] Yooled commented on #8563
We are having similar issues with the sync.  The login seems to work for users that have already been synched, but I am not really getting new users unless I drill down to an OU with less than 500 users.  As long as the OU is less than 500, the sync works and the status page shows up.  More than 500, fails everytime.

[2020-10-22 18:04] itscsquared opened #8589 "Unable to Accept Assets"
#### Please confirm you have done the following before posting your bug report:

- [X] I have enabled debug mode
- [X] I have read [checked the Common Issues page](https://snipe-it.readme.io/docs/common-issues)

**Describe the bug**
Email is generated from Snipe to the user the asset is being checked out to. Clicked the link, and the page loads to accept the asset. However, when clicking confirm,

[2020-10-22 18:17] #8582 closed, assigned to nobody

[2020-10-22 18:28] roratonet opened #8590 "[v. 5.0.1] Cannot checkin & delete user from View User page"
#### Please confirm you have done the following before posting your bug report:

- [X] I have enabled debug mode
- [X] I have read [checked the Common Issues page](https://snipe-it.readme.io/docs/common-issues)

**Describe the bug**
I cannot **Checkin & Delete User** from the **View User** page
Error: No users selected

**To Reproduce**

https://demo.snipeitapp.com/users/39
https://develop.snipeit

[2020-10-22 19:24] snipe commented on #8541
@titouanbrauchli Sorry, I wasn't implying you did anything wrong, just that that's a weird error to get given the nature of this update. :)

[2020-10-22 19:26] snipe commented on #8572
Do either/both of you have very old Snipe-IT installs? We've specifically stated InnoDB as the default for a few years now, so you shouldn't have to state that specifically. (Also InnoDB has bee the default engine for a while, but if you're running something that was installed a long time ago, it's possible we didn't make a migration specifically to handle that conversion.)

[2020-10-22 19:29] snipe commented on #8572
@hixair I promise we don't make this difficult on purpose. :D

A lot of it is the ecosystem itself. Software (web servers, database, PHP, composer libraries, etc) all change, and while we do try to test everywhere we can, it would obviously be impossible for us to test *every* possible scenario. We want you to be successful whether you're hosted with us or not ;)

[2020-10-22 19:30] snipe commented on #8573
Depending on what field you're talking about, it's very possible that the system isn't set up to accept a time, so even if you changed the date picker to include a time, the database won't store it that way.

[2020-10-22 19:32] snipe commented on #8575
@inietov can you take a look at this?

[2020-10-22 19:38] snipe commented on #8576
Thanks! It was a slog, but we got there :D

Hmm... That one hasn't even changed since v4 and I can't reproduce it locally. We *shouldn't* need a `use` statement there, since it's actually a trait that we put on the model itself (`use Notifiable`).

Maybe it'a a PHP version issue? I don't know that we tested above 7.4

[2020-10-22 19:41] crussell395 commented on #8563
We are having the same issue. LDAP login and the test sync work fine. Syncing through the GUI results in a 504 timeout and syncing through the command line throws the error below. The ldapsearch query should be pulling about 550 users.

[code]

[2020-10-22 19:55] snipe commented on #8555
We have customers already using v5.0.1, so that seems unlikely, but I would like to get to the bottom of this.

If you turn debug on and enable the debug bar, what does the message bag say when you try to ave the settings?

[2020-10-22 19:57] snipe commented on #8561
@ISNL-PimP can you reproduce this on the demo?

[2020-10-22 20:00] #8580 closed, assigned to nobody

[2020-10-22 20:01] snipe commented on #8528
I believe the CSV importer does expect commas only

[2020-10-22 20:04] snipe commented on #8528
(We do provide a sample CSV template in the docs, if that's helpful)

[2020-10-22 20:06] snipe commented on #8550
That code was removed though, so I'm not sure why you'd be seeing that

https://github.com/snipe/snipe-it/commit/90dddee923f4274400dde794e5d008e55f4720c4#diff-dea6e5c43f67267b15b05bd95702fd29f4a146561e47dc7ca424832b6ee0ab20

[2020-10-22 20:10] CoventryIT opened #8591 "Upgrade to 5.0.1"
#### Expected Behavior (or desired behavior if a feature request)

After the upgrade the web page would load to login screen or right into the dash bored.

-----

#### Actual Behavior

Whoops, looks like something went wrong.

-----

#### Please confirm you have done the following before posting your bug report:

- [ YES] I have enabled debug mode
- [ YES] I have read [checked the Common Issues pa

[2020-10-22 20:15] CoventryIT commented on #8591
Previously my version was: v4.9.5

[2020-10-22 20:17] snipe commented on #8591
Duplicate of #8540

[2020-10-22 20:17] #8591 closed, assigned to nobody

[2020-10-22 20:23] DaveDeveloper opened #8592 "Support multiple LDAP domains"
I have our user base split in 3 Active directory domains
domainA.local 10.1.0.10
domainB.local  10.2.0.10
domainC.local 10.3.0.10

these domains are not connected to each other.
what is the best way to support these 3 domains for login.

[2020-10-22 20:28] namarie23 opened #8593 "Separate companies can't share same asset tag."
#### Please confirm you have done the following before posting your bug report:

- [ ] I have enabled debug mode
- [ ] I have read [checked the Common Issues page](https://snipe-it.readme.io/docs/common-issues)

**Describe the bug**
A clear and concise description of what the bug is.
Two separate companies can't share the same Asset Tag, it was the general impression that if we separated departmen

[2020-10-22 20:38] snipe commented on #8593
You're 100% right - that's currently a restriction. Funnily it hasn't come up much, but I can see why you might want to have the same asset tags across companies.

[2020-10-22 20:43] namarie23 commented on #8593
Is there any way something like this can be implemented and if so a general time frame? I'm know you've got v5 coming and loads of other things, this just causes a direct issue right now and our only available alternative is to create a new install on a second server for the other team, as 63 assets were overwritten and will need to be recreated, and having two datasets, servers, etc for what's re

[2020-10-22 20:44] snipe commented on #8593
v5 was released this week, so it's a bit of a hectic time. I'm not sure I could give you a realistic timeframe until we're done putting out the fires from that. :(

Maybe a week or two? But again, hard to say exactly.

[2020-10-22 20:49] hixair commented on #8572
Hi !

Following all the help I got here, I got our instance working and the problem was indeed coming from the db format (that I never checked during upgrades).

Don’t worry, I am not complaining !
I have been running snipe-it since version 3 or earlier and it is far superior to every asset utility I ever tested or used !
I really liked that tool, I made a lot of automations for our device managem

[2020-10-22 20:49] namarie23 commented on #8593
Alright, thank you I'll pass the info back along to both teams and see how they want to proceed, as for  v5 glad to hear it dropped, will be doing  test upgrade on our dev server for that then. I appreciate the prompt response, I'll check back in.

[2020-10-23 00:26] devilyxm commented on #8573
thank you for your response, but how can i change the system to accept a time?

[2020-10-23 00:41] WELLBOREIS commented on #8563
@uberbrady I migrated over to CentOS today and still have the same issue with LDAP. I can bind, but get the PHP memory exhaustion error when trying to sync.

[2020-10-23 00:48] WELLBOREIS commented on #8565
@snipe I migrated to CentOS today and am no longer having backup issues. Thanks for your help!

[2020-10-23 00:48] #8565 closed, assigned to nobody

[2020-10-23 02:37] #8590 closed, assigned to nobody

[2020-10-23 02:47] #8589 closed, assigned to nobody

[2020-10-23 02:48] snipe commented on #8587
I'm not sure what you mean here?

Are you authenticating with the API via Bearer token in that call?

[2020-10-23 02:50] snipe commented on #8588
There are a few problems here....

That definitely implies there's a permissions problem.

You'll want to make sure your SMTP settings are correct in your .env.

[2020-10-23 02:55] snipe commented on #8578
Nice sleuthing! I've updated the release notes to reflect that the password minimum should be updated to 8 or greater:

[2020-10-23 02:55] #8578 closed, assigned to nobody

[2020-10-23 03:09] #8585 closed, assigned to nobody

[2020-10-23 03:09] snipe commented on #8585
This is now fixed on master

[2020-10-23 03:10] snipe commented on #8575
@LEOkonami can you tell me what you have your minimum password length set to in your Admin > Settings > Security?

[2020-10-23 03:23] snipe commented on #8572
Thanks so much for the follow up! <del>I'll get this added this to the docs just in case anyone else runs into it as well. </del>

Derp, I had already added it to the docs :D
https://snipe-it.readme.io/docs/installation-issues#during-database-migrations-max-key-length-is-1000-bytes

I just updated the description header to be a little clearer. I wonder if we should just add that to the upgrade.php

[2020-10-23 03:23] #8572 closed, assigned to nobody

[2020-10-23 03:24] snipe commented on #8538
@gilesytheking thanks for this - I'll close this one as a duplicate of #8462 and tag that issue once it's fixed.

[2020-10-23 03:24] #8538 closed, assigned to nobody

[2020-10-23 03:31] snipe commented on #8462
I can definitely confirm this one.

[2020-10-23 03:32] snipe commented on #8462
@uberbrady this looks like it could be kinda sticky. It's pulling the last note from the last checkout, but really I think we should be saving that on the `accessories_users` table, for better performance. The problem is the gross migration we'd have to do to port that data over...

Do you want to take a stab at this, or should I?

[2020-10-23 04:15] uberbrady commented on #8462
@snipe it sounds like you're already on it! Great 👍

[2020-10-23 04:20] uberbrady commented on #8563
I wish I had a way to add a bunch of users automatically to my test AD box; then I could replicate this and be able to fix it.

Still, it does sound like the issue is 'too many users' - let me see if I can see anywhere obvious in the sync code where it's doing something stupid that exhausts memory.

[2020-10-23 04:25] vincentndl commented on #8570
Hi @snipe I have pull request content edit in follow link in path1 & path2. You can review link attach.

Tks you support.

https://github.com/snipe/snipe-it/compare/master...vincentndl:patch-2

https://github.com/snipe/snipe-it/compare/master...vincentndl:patch-1

[2020-10-23 04:28] snipe commented on #8570
Hi Vincent - I'm afraid we can't take that first change as it wouldn't work with all of the other users of this software. We'll see if we can add a setting for that in a future release though.

For the Vietnamese translation, you'll want to do that using Crowdin:
https://crowdin.com/project/snipe-it/vi
https://snipe-it.readme.io/docs/translations

<blockquote><img src="https://crowdin.com/favicon.

[2020-10-23 04:32] uberbrady commented on #8563
What happens when you folks try and run the artisan command with `--dryrun`?

If it doesn't blow up when you do that, that might at least point me in the right direction.

[2020-10-23 04:34] uberbrady commented on #8563
Another idea - if you edit `PAGE_SIZE` in `app/Services/LdapAd.php` (around line 34) - if you knock that down from 500 to, say, 100 - what happens then? I suspect it won't make a difference, but I am definitely curious.

[2020-10-23 04:50] uberbrady commented on #8563
Here's another one - what if you change:
https://github.com/snipe/snipe-it/blob/6c285b02732b0471da6f6c2607123d94b6afd816/app/Console/Commands/LdapSync.php#L112

from '500M' to something bigger?

[2020-10-23 05:00] uberbrady commented on #8563
Here's a potential fix - https://github.com/snipe/snipe-it/pull/8594 - I'm not necessarily sure it's going to solve the problem, though.

If anyone who is affected could test that PR for me, it'd be greatly appreciated! I'd love to get this solved for everyone.

[2020-10-23 05:02] uberbrady commented on #8563
Oh, @Kagemusha-SA already tried that :(

[2020-10-23 05:32] maodahua commented on #8577
Is there any fix or methord can load images? or How to restore data in a lower version instance.

[2020-10-23 05:35] snipe commented on #8574
I'm not sure why moving those files back wouldn't work though... I haven't been able to reproduce this :(

[2020-10-23 05:57] swift2512 commented on #8577
For me, after upgrade from v4.9.3 to v5.0.0, images where not showing because of the way v5 interacts with my LAMP server. Check the URL of an image. In my case it was duplicating the IP and it looked like this - http://192.168.XX.XX:5555/192.168.XX.XX:5555/uploads/logo.png. I changed app_url to null in .env file and everything works fine now.

[2020-10-23 05:59] snipe commented on #8577
That seems unlikely. There's nothing special about v5 that would affect how your LAMP server works.

That should never be the answer though, as it will undoubtedly cause other issues down the line.

When you had the APP_URL, did you have a protocol specified (`http://192.168.XX.XX:5555` versus `192.168.XX.XX:5555`)? The protocol is always required for APP_URL.

[2020-10-23 06:03] swift2512 commented on #8560
I am not familiar with git and how it works so any help would be appreciated.
`user@ubuntu:/var/www/snipeit$ git stash

*** Please tell me who you are.

Run

  **git config --global user.email "you@example.com"
  git config --global user.name "Your Name"**

to set your account's default identity.
Omit --global to set the identity only in this repository.

fatal: unable to auto-detect email address

[2020-10-23 06:04] snipe commented on #8560
You should be able to, yeah

[2020-10-23 06:07] helloweenx commented on #8577
well for me there is just blank space instead of broken URL. If it would be just broken link, i should be able to fix it, but this is just next level :(

[2020-10-23 06:08] snipe commented on #8577
What's the URL of the broken logo?

[2020-10-23 06:11] uberbrady commented on #8592
Unfortunately, Snipe-IT only supports a single LDAP or AD server; not multiple.

You'd have to run three different installs (definitely not ideal)

If we do end up re-working the LDAP system, I would at least consider doing this as part of that.

[2020-10-23 06:14] helloweenx commented on #8577
since i tried to change logo there is now broken URL:
servername/uploads/setting-logo-Uu6sbXE1c4.jpg --> which means \public\uploads
logo that worked on 4.9.5 was (and physicaly still is) here --> \storage\app\public

cant tell you URL of signatures, since there is none atm

[2020-10-23 06:19] snipe commented on #8577
@helloweenx

That's never been the place where we keep public uploads though. Public uploads have always been in `public/uploads`

[2020-10-23 06:21] snipe commented on #8577
I just pushed out a fix for signatures on develop

[2020-10-23 06:22] snipe commented on #8577
Our directory structure has always been:

- Publicly viewable uploads (logo, asset models, locations, etc) are in `public/uploads`
- Private uploads (ones that we need to check your auth to see whether you're allowed to view it, such as license uploads) live in `storage/private_uploads`

[2020-10-23 06:58] vincentndl commented on #8570
Tks @snipe! I understand that, but for version 4.8 I can edit those two files and use them, but since updating to 4.9.5, I can't use it even though I have copied 2 edit files correct to the correct directory. Is there a way I can fix it and use it internally by us?

[2020-10-23 07:09] ISNL-PimP commented on #8561
Yep!
On https://demo.snipeitapp.com/users/41/edit:
![image](https://user-images.githubusercontent.com/59050598/96966882-e6bfff80-150e-11eb-92b9-9f3aa65b6b1f.png)

<blockquote><img src="https://demo.snipeitapp.com/favicon.ico" width="48" align="right"><div><strong><a href="https://demo.snipeitapp.com/users/41/edit">Snipe-IT Asset Management Demo</a></strong></div></blockquote>

[2020-10-23 07:17] denzfarid opened #8595 "Cleaning up the backups of Snipe-IT failed v5.0.0 & v5.0.1"
#### Please confirm you have done the following before posting your bug report:

- [x] I have enabled debug mode
- [x] I h ave read [checked the Common Issues page](https://snipe-it.readme.io/docs/common-issues)

**Describe the bug**
Hi, I would like to report some clean backup features which previously worked on version 4.x but after upgrading to version 5.x, the feature failed.

here is the php

[2020-10-23 07:49] snipe commented on #8462
I have a fix out in a PR right now which should resolve this issue. Once it's reviewed, I'll  merge it in.

[2020-10-23 07:53] swift2512 commented on #8577
Protocol was specified as http://

[2020-10-23 07:54] roomwillow commented on #8588
Interestingly I nagivated to that directory and only the files inside of it where incorrectly assigned permissions levels, they all had 644 while everything else in snipe has been 775, I re-ran `chmod 775 -R /var/www/snipe-it` to be safe, along with `chown www-data:www-data -R /var/www/snipe-it`, but I'm not also noticing attempting backups from the webUI result in "whoops, looks like something we

[2020-10-23 07:57] snipe commented on #8595
Hi @denzfarid - thanks for raising this issue. I'm unfortunately unable to reproduce this locally :(

<img width="666" alt="Screen Shot 2020-10-23 at 12 54 21 AM" src="https://user-images.githubusercontent.com/197404/96971688-5364db00-14ca-11eb-977e-bd3f21ead837.png">

Have you tried clearing your config cache? It looks like some stuff changed between versions of the backup package we used.

https

[2020-10-23 08:03] snipe commented on #8595
Also make sure you've got the following in your .env:

[code]

(And clear your config cache again)

It *should* fall back gracefully to those settings even if you don't specify them, but it's worth a shot.

[2020-10-23 08:05] swift2512 commented on #8560
I don't know why, but **git stash** left me with blank SnipeIT screen (even in private browser window).
user@ubuntu:/var/www/snipeit$ git stash
Saved working directory and index state WIP on master: af06e4205 Bumped version
user@ubuntu:/var/www/snipeit$ git status
On branch master
Your branch is behind 'origin/master' by 987 commits, and can be fast-forwarded.
  (use "git pull" to update your loca

[2020-10-23 08:06] snipe commented on #8560
Try clearing your config cache - `php artisan config:clear`

[2020-10-23 08:08] snipe commented on #8560
Actually, the `aborting` business means the `git pull` didn't work.

`error: The following untracked working tree files would be overwritten by merge:`

Try `git stash` again and then running `php upgrade.php`

[2020-10-23 08:22] swift2512 commented on #8560
[code]

[2020-10-23 08:23] snipe commented on #8560
Did that work?

[2020-10-23 08:28] swift2512 commented on #8560
Version v4.9.3 - build 4395 (master)

I think, I'll leave it this way for now. :)

[2020-10-23 08:36] m4zl commented on #8577
With the Release 5.0.2 I am still seeing now Server 500 errors while uploading any kind of pictures to assets or even the branding logo.

Anyone an idea why?

[2020-10-23 08:36] snipe commented on #8577
I'd need a specific error message to work with.

[2020-10-23 08:38] snipe commented on #8577
(Also try adding `PUBLIC_FILESYSTEM_DISK=local_public` to your .env file and clear your config cache by running `php artisan config:cache`)

[2020-10-23 08:40] m4zl commented on #8577
These are the only messages that I am getting. I also tried editing the .env file like you stated and run the `php artisan config:cache`

![image](https://user-images.githubusercontent.com/14125915/96976174-ca768f80-151b-11eb-83c3-a480cd7bd3bf.png)

![image](https://user-images.githubusercontent.com/14125915/96976223-dd895f80-151b-11eb-9e3a-3aadbc8f5618.png)

[2020-10-23 08:41] snipe commented on #8577
I need a stack trace to be able to see what's happening here though.
https://snipe-it.readme.io/docs/whoops

<blockquote><img src="/favicon.ico" width="48" align="right"><div>Snipe-IT Documentation</div><div><strong><a href="https://snipe-it.readme.io/docs/whoops">"Whoops!"</a></strong></div><div>500 error</div></blockquote>

[2020-10-23 08:45] Diniver commented on #8576
Thanks for fast response considering that you have so many tickets.

I have downgrade php to:
![image](https://user-images.githubusercontent.com/31882138/96976184-6c45ae80-1513-11eb-91e7-2a9b5f886613.png)

and bumped the SnipeIT version to 5.0.2. Unfortunately the issue still remains. I thought I have might missed a _php_ extension but it looks like everything needed is here:
`mysqlnd, opcache, pd

[2020-10-23 08:47] m4zl commented on #8577
Thanks for the tip @snipe ! Totally forgot the laravel.log file.

Somehow the permissions for the IUSR user disappeared.

My fault as it seems and now it is working again!

Thanks for the handsome support!

[2020-10-23 08:47] LEOkonami commented on #8575
It seems I found a workaround... I was playing around and I edit this asset but didn't chance anything amd saved... After that I could checkin the asset 🤔... Not sure what was the issue there...
Amd the minimum is 6

[2020-10-23 08:50] helloweenx commented on #8577
i can confirm that with 5.0.2 signatures are back and are working without any issue now. thanks!

but cant bring back branding logo - which is minor issue, but its just nice to have it there you know :-D if i try to change it, i get this URL to image servername/uploads/setting-logo-rsPN84xf7v.jpg and image is not shown:
![image](https://user-images.githubusercontent.com/56583099/96977818-e24f1300-

[2020-10-23 08:55] m4zl commented on #8577
Can you verify that the logo is at the place where the URL mentions it "/snipe-it/public/uploads/setting-logo-rsPN84xf7v.jpg"?

[2020-10-23 08:56] helloweenx commented on #8577
already verified. its there indeed with right properties
![image](https://user-images.githubusercontent.com/56583099/96978232-6dc8a400-151e-11eb-9bb6-7ba104f1da06.png)

[2020-10-23 09:00] maodahua commented on #8577
Thank! @snipe  5.0.2 is useful and signatures are back!

[2020-10-23 09:00] m4zl commented on #8577
Are other pictures from asset models or in general pictures are shown?

I had a similar issue yesterday with the picture not showing up, but for me it was just the browser cache. Needed ti completly delete cache and restart the browser.

[2020-10-23 09:06] helloweenx commented on #8577
tried different browser and even clearing cache, logo still not showing up. Dont have asset pictures, only other pictures are those signatures and they are showing just fine after update to 5.0.2.
Also there is no new error logged in laravel.log atm

[2020-10-23 09:09] snipe commented on #8577
@helloweenx What's your `APP_URL` set to in your `.env`, `http://servername` or just `servername`?

[2020-10-23 09:11] helloweenx commented on #8577
its actually set to just "servername"

[2020-10-23 09:12] snipe commented on #8577
You always need the protocol in the `APP_URL`. Try changing it to `http://servername` (or `https://servername`, if you're running it over TLS/SSL) and clearing your config cache: `php artisan config:clear`

[2020-10-23 09:16] helloweenx commented on #8577
tried. Doesnt seems like it changed anything. BUT: i saw this in browser dev console:
Refused to load the image 'https://servername/uploads/setting-logo-RFUt8PKND1.jpg' because it violates the following Content Security Policy directive: "img-src 'self' data: gravatar.com maps.google.com maps.gstatic.com *.googleapis.com".

o.O

[2020-10-23 09:20] snipe commented on #8577
That's progress maybe. (Also if you go directly to that image url, does it load in a browser?)

Sort of doesn't make sense that the CSP would be giving you problems there (the "self" part in that statement should permit your browser to load things from the same origin), but try adding/updating `ENABLE_CSP=false` in your .env and clearing your config cache again.

[2020-10-23 09:28] helloweenx commented on #8577
not loading even if i go directly on URL.
Actually had ENABLE_CSP already on false, so tried to turn it on without any success and again back off with same results

[2020-10-23 09:29] snipe commented on #8577
Can you explain what you mean by that? What do you see when you go to that url?

[2020-10-23 09:35] helloweenx commented on #8577
oh wait.. i can see where problem is now :-)
there is wrong APP_URL in .env
update had to mess it up and change it from proper DNS name to name of server, where IIS is running.
So i now changed it to proper APP_URL and everything is back to normal.

Thank you to pointing me into this pretty obvious thing.

But it would be probably good idea to check upgrade script ;-)

Thanks once again for great

[2020-10-23 09:37] snipe commented on #8577
The upgrade script doesn't try to modify the .env in any way. (I feel oogy about making that part of our system in general.)

Closing this for now, since it appears your problem is resolved.

[2020-10-23 09:37] #8577 closed, assigned to nobody

[2020-10-23 09:40] helloweenx commented on #8577
FYI - just checked shadow copy of .env and there was always wrong APP_URL, but in earlier versions of SnipeIT it probably didnt matter. So if anyone comes across this, check out APP_URL first ;-)
Enjoy

[2020-10-23 09:41] snipe commented on #8577
Yeah, the framework upgrade resulted in settings in the .env being a little stricter. It technically shouldn't have worked in v4 with a bad APP_URL, but... ¯\_(ツ)_/¯

[2020-10-23 10:49] denzfarid commented on #8595
I really appreciate @snipe , for taking the time to answer this ticket, on .env I have added the enviroment, but it's still the same, failed to clean up

<img width="645" alt="gambar" src="https://user-images.githubusercontent.com/1294403/96995077-d1bb8e80-1557-11eb-94a9-b6cd395d93e6.png">

-----------

maybe it has a problem with the php7.4 version that I am using :)

[2020-10-23 11:01] snipe commented on #8595
Maaaaaybe, but that Spatie ticket I linked you to did mention that their stuff should work with PHP 7.4...

[2020-10-23 11:01] snipe commented on #8595
I'll check the Spatie library version tomorrow and see if maybe that's it. (It's 4AM here and I need to crash soon.)

[2020-10-23 11:17] snipe commented on #8588
Can you tell me what shows up in your `storage/logs/laravel.log` when you try that?

[2020-10-23 11:25] IronDragonFly opened #8597 "depreciation report"
#### Expected Behavior (or desired behavior if a feature request)

hi there, please may I have guided steps on how to setup depreciation on an asset

-----

#### Actual Behavior

 Warning: You do not currently have any depreciations set up. Please set up at least one depreciation to view the depreciation report.  I get this error when trying to run the depreciations report
-----

#### Please confi

[2020-10-23 11:26] IronDragonFly commented on #8597
Thank you, looking forward to a reply

[2020-10-23 11:28] snipe commented on #8597
You can set up Depreciations by going to `/depreciations` and setting them up there. From there, assign the new depreciation at the asset model level.

[2020-10-23 11:28] #8597 closed, assigned to nobody

[2020-10-23 11:32] snipe commented on #8576
Can you try something for me?

In `app/Console/SendExpirationAlerts.php`, can you change

[code]

to

[code]

and

[code]

to

[code]

(Basically just add a leading slash to those two notification calls.

Let me know if that helps.

[2020-10-23 11:42] IronDragonFly commented on #8597
thank you so much, working on my side

[2020-10-23 11:47] snipe commented on #8597
Oops - I tagged the wrong issue in that last commit, which had nothing to do with anything here.

Glad you're sorted tho!

[2020-10-23 11:49] #8531 closed, assigned to nobody

[2020-10-23 11:51] m4zl commented on #8561
I also needed to exclude the manager from updating via the API and now my script is working again. Even if I did not touch the manager attribute the error as above shown occured.

I could also reproduce it as @ISNL-PimP did in the Demo.

[2020-10-23 11:56] itscsquared commented on #8589
That error went away, but am still receiving another one stating there is an undefined variable: sig_filename. With debug turned off it still returns a 500 server error. Attached is a screenshot of the error.

![image](https://user-images.githubusercontent.com/51164364/97000779-3ac5e680-1505-11eb-9ca6-225abe0bc46e.png)

And I did update to 5.0.2 as well and ran the handy commands after upgrading.

[2020-10-23 11:59] snipe commented on #8589
Which screen are you seeing this on? I was able to sign for and accept an asset without any issues. Did this get triggered on acceptance where the signature is required, or no?

[2020-10-23 11:59] itscsquared commented on #8558
I believe this issue was resolved in the 5.0.2 update, but there is still an error when I go to accept an asset. Instead of the mix file giving me an error, I get an undefined variable error attached here.

![image](https://user-images.githubusercontent.com/51164364/97001051-b6c02e80-1505-11eb-881c-8e72430dcb08.png)

[2020-10-23 12:01] itscsquared commented on #8589
After I select the radio button to accept and click 'submit,' that is when the error is triggered.

[2020-10-23 12:02] snipe commented on #8589
Did this get triggered on acceptance where a signature is required, or no?

[2020-10-23 12:02] itscsquared commented on #8589
No, no signature required.

[2020-10-23 12:04] roomwillow commented on #8588
https://pastebin.com/dSqm4cTp see error from storage/logs/laravel.log when attempting a backup, note i redacted the internal testing email address with "REDACTED-EMAIL-ADDRESS", I notice the first few lines are relating to failing auth of SMTP, is it possible this is all tied back to not having email fully configured?

<blockquote><img src="https://pastebin.com/i/facebook.png" width="48" align="ri

[2020-10-23 12:07] Diniver commented on #8576
These slashes fixed the issue!

Now, I found another issue after I have received email notification:
![image](https://user-images.githubusercontent.com/31882138/97001315-13d0da00-1530-11eb-9ca9-c9c9c36f35fa.png)

Email tables look a bit broken but it is not that big deal. It is still readable.

Feel free to close the issue and thanks for your support!

[2020-10-23 12:10] snipe commented on #8576
Which command are you seeing the weird table in?

[2020-10-23 12:11] rekordskratch commented on #8558
I can confirm I am also getting this error on 5.02 now

[2020-10-23 12:11] Diniver commented on #8576
It is from the email I receive once I use `php artisan snipeit:expiring-alerts`

[2020-10-23 12:13] snipe commented on #8576
Hm, okay, let me take a look. I don't see anything funny in the markdown there.

[2020-10-23 12:26] inietov commented on #8575
@LEOkonami Hey, thanks for let us know. I was dabbing at this issue and I try to checkin different assets in my installation of Snipe-IT and everything looks good in my end.

I'm concious that "system's haunted" is not an acceptable answer here, so if you find this behaviour some other time please let us know with more info about the asset (if you can share it, obviously), because this looks like

[2020-10-23 12:27] snipe commented on #8575
When I've seen this before, it usually means some data got a little funky somewhere, for example if the user the asset is assigned to was deleted.

[2020-10-23 12:32] addis2123 commented on #8197
Looking forward to any updates.

[2020-10-23 12:38] snipe commented on #8576
<img width="574" alt="Screen Shot 2020-10-23 at 5 34 39 AM" src="https://user-images.githubusercontent.com/197404/97004155-78b90f80-14f1-11eb-9d72-e01a77310583.png">

I can reproduce this as well :( I re-generated the vendors from Laravel but it didn't seem to fix anything.

Looks like it might be a Laravel bug in early versions of Laravel v6?
https://github.com/laravel/framework/issues/31065

Sig

[2020-10-23 12:40] snipe commented on #8561
I can reproduce this locally now, but I have no idea what's triggering it yet. The validation on the user model is pretty straightforward.

[code]

[2020-10-23 12:41] Diniver commented on #8576
Thanks for checking. It is not a blocker, I can wait to be patched.

[2020-10-23 12:41] #8576 closed, assigned to nobody

[2020-10-23 12:42] snipe commented on #8576
Folks will definitely complain about it though - better if I can figure out if there's a workaround short of upgrading Laravel

[2020-10-23 13:16] Pikok89 commented on #8589
I was able to replicate this issue on v 5.0.2
My installation doesn't require signature when accepting assets.

After making the use of a signature required I was able to accept the asset without any errors.
Disabling the feature again causes the error to reappear.

![image](https://user-images.githubusercontent.com/73346817/97008081-a7aba180-1542-11eb-9e03-5ecc742c2fbf.png)

[2020-10-23 13:16] snipe commented on #8589
Yeah its already fixed on develop

[2020-10-23 13:18] memph1sx opened #8599 "Cannot assign manager to user / On dashboard, recent activities are sorted from oldest to most recent items"
#### Please confirm you have done the following before posting your bug report:

- [x ] I have enabled debug mode
- [x ] I have read [checked the Common Issues page](https://snipe-it.readme.io/docs/common-issues) yes

**Describe the bug**
**On dashboard, recent activity, assigned assed are shown from older to latest instead from latest to older.

When assigning a manager to a user we get the error

[2020-10-23 13:19] snipe commented on #8599
Duplicate of #8561 and #8537

[2020-10-23 13:19] #8599 closed, assigned to nobody

[2020-10-23 13:26] itscsquared commented on #8558
@speakradmin Same here. Just upgraded, ran the commands after upgrading, same issue.

[2020-10-23 13:26] snipe commented on #8558
The fix is on develop. Should be merged to master shortly

[2020-10-23 13:27] itscsquared commented on #8558
@snipe understood. Thank you so much for your response to this. You all have been busy with this release!

[2020-10-23 13:37] snipe commented on #8576
This is getting even weirder.... It seems like it breaks if there are more than 3 columns in the table. WTF.

[2020-10-23 13:50] mexx3001 opened #8600 "Assets missing after import"
Now that I have edited the import file so that it is suitable for snipeit, I have the following problem.
There are over 4000 records in the import file that should be imported. The import also works with a few exceptions of about 200 records where the asset model does not fit.
However, only 918 Total Assets are displayed.
Where are the remaining 2800 records?
Is there a log file or is it possible

[2020-10-23 13:52] mexx3001 commented on #8528
Thanks a lot, in the meantime I have adapted my import file correctly.

[2020-10-23 13:52] #8528 closed, assigned to nobody

[2020-10-23 13:55] #8558 closed, assigned to nobody

[2020-10-23 13:56] snipe commented on #8558
Fix is on master now

[2020-10-23 13:58] CoventryIT commented on #8540
When I try to follow the steps above I'm getting the following error:

C:\inetpub\wwwroot\snipe-it>composer install --no-dev
PHP Warning:  PHP Startup: Unable to load dynamic library 'php_curl.dll' (tried:
 C:\PHP\ext\php_curl.dll (%1 is not a valid Win32 application.), C:\PHP\ext\php_
php_curl.dll.dll (The specified module could not be found.)) in Unknown on line
0
PHP Warning:  PHP Startup: Unab

[2020-10-23 13:58] snipe commented on #8540
Install the libraries that it's complaining about and you shouldn't be fine

[2020-10-23 14:01] CoventryIT commented on #8540
I do have them all loaded that's where I'm a little confused:

![image](https://user-images.githubusercontent.com/48068571/97013170-bbd9a980-1516-11eb-807b-3063cfc87770.png)

[2020-10-23 14:18] jmartins1 opened #8601 "Check-out/ Check-in Asset Picture Missing"
Please confirm you have done the following before posting your bug report:

Describe the bug
Email notifications: asset picture missing only displaying place holder. Setting to include/not include asset picture in notification missing from notifications settings.

I've run php upgrade.php

To Reproduce
Steps to reproduce the behavior:
Normal process to check out an item

Expected behavior
Asset pi

[2020-10-23 14:32] snipe commented on #8601
Not sure what you mean exactly? What placeholder?

What's your APP_URL in your .env?
What's the URL of the image it's trying to load?

[2020-10-23 14:33] snipe commented on #8540
I don't really do windows, but a quick google search turned up this:
https://stackoverflow.com/questions/32718133/php-warning-php-startup-unable-to-load-dynamic-library-php-curl-dll-impossibil

<blockquote><img src="https://cdn.sstatic.net/Sites/stackoverflow/Img/apple-touch-icon@2.png?v=73d79a89bded" width="48" align="right"><div>Stack Overflow</div><div><strong><a href="https://stackoverflow.com

[2020-10-23 14:39] jmartins1 commented on #8601
![2020-10-23_8-35-07](https://user-images.githubusercontent.com/31219479/97017215-e1f94c80-150a-11eb-9204-e3e46fb27694.jpg)

APP_URL=https://ARPSINV1

![pic](https://user-images.githubusercontent.com/31219479/97017566-503e0f00-150b-11eb-8c05-14864b12b122.jpg)

[2020-10-23 14:40] snipe commented on #8601
Does that file actually exist there?

[2020-10-23 14:43] jmartins1 commented on #8601
no, it exists here C:\wamp\www\snipe-it\public\uploads\models

I do not have this directory
![directory](https://user-images.githubusercontent.com/31219479/97017960-ca6e9380-150b-11eb-8c6f-57bc2e48ba5b.jpg)

[2020-10-23 14:44] snipe commented on #8601
That's where it should be, and that's where that URL should be trying to find it.

[2020-10-23 14:46] jovibroz commented on #8550
I was very "tired" when I tried apparently :)
I somehow thought I was already on 5.01 when the script reached Step 11 in the v5.0 upgrade.php...
Sorry.
All good and no Step 11 present in 5.01
Going for 5.02 right about.. now!

[2020-10-23 14:47] WELLBOREIS commented on #8563
What's crazy is it was never an issue until v5.

[2020-10-23 14:48] snipe commented on #8563
@WELLBOREIS Not really particularly crazy - we rewrote all of the LDAP functionality in v5

[2020-10-23 14:52] WELLBOREIS commented on #8563
[root@USHO1-AM01 snipe]# php artisan snipeit:ldap-sync --dryrun
PHP Fatal error:  Allowed memory size of 524288000 bytes exhausted (tried to allocate 20480 bytes) in /var/www/html/snipe/vendor/adldap2/adldap2/src/Models/Concerns/HasAttributes.php on line 199
PHP Fatal error:  Allowed memory size of 524288000 bytes exhausted (tried to allocate 32768 bytes) in /var/www/html/snipe/vendor/symfony/debu

[2020-10-23 14:58] WELLBOREIS commented on #8563
Same thing.

[2020-10-23 15:03] Kagemusha-SA commented on #8563
This increased memory use much quicker up to 2700MB. Still got a 500 page and no new users. Going to revert and try your other ideas.

[2020-10-23 15:21] ISNL-PimP commented on #8561
I'm really not familiar with this validation syntax, but I noticed locations use a similar hierarchy (parent locations) with a different syntax for the validation:
[code]
(Found in https://github.com/snipe/snipe-it/commit/fa5134603f8dbef6f67a9f98b9e370cdcf3460c5)
The above does not show the same issue.
Would changing `different:users.id` to `different:id` help in any way?

[2020-10-23 15:22] snipe commented on #8561
@ISNL-PimP I wish :( Already tried that (and a dozen other permutations.)

![crazy-pills](https://user-images.githubusercontent.com/197404/97022402-eb81b500-1508-11eb-94c1-1a8ee8b238b6.gif)

[2020-10-23 15:25] derhedwig opened #8602 "LDAP Sync does not work with LDAP Employee Number empty"
- [x] I have enabled debug mode
- [x] I have read [checked the Common Issues page](https://snipe-it.readme.io/docs/common-issues)

**Describe the bug**
"Test LDAP Sync" is not working, when I leave 'LDAP Employee Number' empty. I get the following error:
`Error getting users from LDAP directory, error: ldap_search(): Search: Protocol error`
It was working with the same settings in 4.9.5, But isn't

[2020-10-23 15:25] WELLBOREIS commented on #8563
I just tried it as well and it just keeps running and running :'(

[2020-10-23 15:29] jovibroz commented on #8562
Just crashing in here with a slightly different question, I've learned to live with composer complaining ever so slightly with every upgrade.
Shortest possible answer to this: And does it matter? (https://snipe.net/2017/11/15/so-you-ran-composer-as-root/)

--------------------------------------------------------
Step 6: Updating composer dependencies:
(This may take an moment.)
-------------------

[2020-10-23 15:44] derhedwig commented on #8602
Of course, the same happens on `users/ldap`: `ldap_search(): Search: Protocol error`

[2020-10-23 15:46] CoventryIT commented on #8540
Ok so I think this is part of my issue:

![image](https://user-images.githubusercontent.com/48068571/97024714-1da11000-1525-11eb-9d22-16038c71b580.png)

This Dumb Path worked in 4.9.5 but after running the upgrade I get this, Any idea what this should be set to for windows users?

This is what the path looks like in windows explorer: C:\Program Files\MariaDB 10.0\bin

[2020-10-23 15:46] Kagemusha-SA commented on #8563
I made the change and it didn't seem to help. **BUT!**

If I run the 'composer clear-compiled' command it gives me a 'not defined' error, as has been recently, so I deleted all the files manually in bootstrap/cache for the first time. I then ran the other clean up commands you are supposed to do and tested again.

THIS TIME,  the memory use didn't go above 50MB or so, but it still gives me a 500 p

[2020-10-23 15:50] itscsquared commented on #8540
@CoventryIT you can change the \ to a / instead or double up on the backslashes (\\\). Since the language interprets that as an escape sequence, add another backslash to avoid that error.

[2020-10-23 15:54] CoventryIT commented on #8540
After adding another \ I get the same error:

![image](https://user-images.githubusercontent.com/48068571/97025646-5c839580-1526-11eb-9d5d-baf2fb1c0023.png)

Testing the change by trying to run php artisan migrate

[2020-10-23 15:56] itscsquared commented on #8540
You need to do it for all the backslashes in the statement, not just the first one.

[2020-10-23 15:58] jmartins1 commented on #8601
Yes, but the images are not appearing in the emails notifications.

[2020-10-23 16:00] CoventryIT commented on #8540
Ok I see, Thank you for the help. I'm going to revert my server to a snapshot I took before the upgrade and make the changes you pointed out to see how it goes.

[2020-10-23 16:05] itscsquared commented on #8540
@CoventryIT no problem. I ran into the same issue when I started upgrading to 5.0. It takes a little doing, but this site is super helpful in figuring out the errors you see.

[2020-10-23 16:15] CoventryIT commented on #8540
@itscsquared did you happen to run into a database migrate error?

![image](https://user-images.githubusercontent.com/48068571/97027807-44f9dc00-1529-11eb-94d0-cc64840e0feb.png)

When trying to load the webpage I get:

![image](https://user-images.githubusercontent.com/48068571/97027847-4f1bda80-1529-11eb-9931-ca9d9de5ce85.png)

enabled debugging but no further info was provided, and my database u

[2020-10-23 16:20] itscsquared commented on #8540
@CoventryIT I did not. Are your permissions correct for that user?

I run my install on a Windows server but I think you still need to manipulate privileges for certain users to have access to certain directories.

[2020-10-23 16:23] snipe commented on #8601
I'm not able to reproduce this locally.
<img width="625" alt="Screen Shot 2020-10-23 at 9 23 14 AM" src="https://user-images.githubusercontent.com/197404/97028750-664ece00-1511-11eb-8b2d-02ea8e8b5c90.png">

[2020-10-23 16:24] snipe commented on #8601
Do you have the "Show images in emails" setting turned on in your Admin > Settings > General

[2020-10-23 16:29] CoventryIT commented on #8540
I have all the permissions on the folder correct and here is the DB settings for the user:

![image](https://user-images.githubusercontent.com/48068571/97029426-6f4c9900-152b-11eb-9724-ce0234bb201f.png)

Should I try creating another user?

[2020-10-23 16:38] jmartins1 commented on #8601
Yes
![2020-10-23_10-36-51](https://user-images.githubusercontent.com/31219479/97030321-d5c9bb00-151b-11eb-9303-787dc86f1361.jpg)

[2020-10-23 16:40] uberbrady commented on #8563
Thanks for testing! It looks like we have progress but don't have it nailed yet.

You can always blow away the vendors/ directory and do a fresh composer install.

[2020-10-23 16:42] cslob commented on #8575
I had the same error. It turned out the default location the device was assigned to no longer existed. I edited the asset, removed the default location (which was a blank text box with an x to delete it) and it worked.

[2020-10-23 16:49] jmartins1 commented on #8601
Maybe this might help?

I re-ran the following commands; in this order:

composer dump-autoload
composer clear-compiled
php artisan config:clear
php artisan view:clear
php artisan cache:clear
php artisan route:clear
php update.php

Here are the results:
![cmd](https://user-images.githubusercontent.com/31219479/97031413-78cf0480-151d-11eb-85f5-42f45c56a362.jpg)

[2020-10-23 17:13] ArcheNoah77 commented on #8545
With v5.0.2 the signatures are displayed. Thanks! But there is another issue with signing for an asset. I will create a new issue

[2020-10-23 17:13] #8545 closed, assigned to nobody

[2020-10-23 17:18] ArcheNoah77 opened #8603 "Signature window offset and too small"
#### Please confirm you have done the following before posting your bug report:

- [x ] I have enabled debug mode
- [x ] I have read [checked the Common Issues page](https://snipe-it.readme.io/docs/common-issues)

**Describe the bug**
When signing for an asset, the signature window cant be used full size and the signature (or the pen i write with) is offset, ca. 1cm to the right.
It happens on all

[2020-10-23 17:21] SmithD3 commented on #8602
How do you have the `LDAP Bind Username` ? I had to change mine to `CN=SNIPE_LDAPUSER,OU=XXX,DC=XXXXX,DC=XXX` type of style instead of `SNIPE_LDAPUSER@XXX.XXX`

[2020-10-23 17:25] SmithD3 commented on #8535
@uberbrady

[2020-10-23 17:31] derhedwig commented on #8602
Yes, mine is uid=assets,cn=sysaccounts,cn=etc,dc=xxx,dc=xxx,dc=xxx same as before the upgrade and i can do ldapsearch from cli using the same username.

[2020-10-23 17:31] CoventryIT commented on #8540
Tried to set a new password on the old account but was unsuccessful, so I created a DB user to correct the problem. (Strange) Thank you for all the help @itscsquared

[2020-10-23 18:06] emike09 commented on #8574
Steps to recreate for me:

1. Update Ubuntu 18.04
2. su to snipeitapp
3. cd to /var/www/inventory
4. Run php upgrade.php (using the new 5.0.2 release)
5. Receive the following prompt:
 - Updating nesbot/carbon (1.39.1 => 2.32.2):     The package has modified files:
    M bin/upgrade-carbon
    Discard changes [y,n,v,d,s,?]?
6. Not sure what to choose, so I chose Y.
7. The next step is to move the

[2020-10-23 18:57] snipe commented on #8561
I've pulled that `different:id` validator rule for now, just so we're not preventing people from successfully using the system. It's not ideal, as it means that validation is gone now and folks can make the mistake of making themselves their own manager which can have odd results, but this will at least buy us a little time.

Changes are on master and develop now.

[2020-10-23 19:12] snipe commented on #8601
I can't fathom why it wouldn't be able to find the update.php file. It's definitely checked into the source...

[2020-10-23 19:15] snipe commented on #8601
What happens if you run `git pull`?

[2020-10-23 19:17] jmartins1 commented on #8601
It's indeed odd. I was on 5.0.1 and ran these commands except php update php. Then I submitted an issue that I was receiving a 500 server error. One of the users then advised me to run php update.php, which I did. There didn't appear to be any issues running the command and it cleared the 500 error. Today I updated to 5.0.2 (although the missing notifications issue existed in 5.0.1), I then tested

[2020-10-23 19:19] jmartins1 commented on #8601
I attempted git pull. Here is the result. Please note I run this on Windows Server 2012 R2. SnipeIT is hosted on a WAMP Server.

![2020-10-23_13-18-42](https://user-images.githubusercontent.com/31219479/97045126-6f9c6280-1532-11eb-8ca3-b8912ebc7409.jpg)

[2020-10-23 19:21] snipe commented on #8601
Ah, this wasn't installed via git then? In your first post, you mentioned you ran `update.php`, but now you can't anymore?

[2020-10-23 19:23] jmartins1 commented on #8601
Correct. If you look at  #8583 that might help.

[2020-10-23 20:12] uberbrady commented on #8563
For that PR, I'd also be curious to see if the Artisan command - with and without the `--json_summary` option - ends up getting anyone anywhere?

Either way it seems to at least help with the memory exhaustion, so that's something. I'll probably get it merged since it doesn't seem to hurt us; only help.

[2020-10-23 20:15] uberbrady commented on #8563
If you get the "Unable to connect to LDAP directory!" error you might want to try re-inputting your password? I've seen a small scattering of reports that that has helped some users.

[2020-10-23 20:17] USSChris commented on #8563
@uberbrady - I just tried the PR on my instance after first trying to bump up the memory limit to 1G then 2G with no love. It hit its 600 second limit before it finished though.

I did have to manually edit app/Console/Commands/LdapSync.php line 112 rather than being able to set the ENV variable of LDAP_MEM_LIM in .env

[2020-10-23 20:47] uberbrady commented on #8563
Yes, you'd have to hand-edit the value in line 112; we don't support `.env` for that constant.

But the point of the PR was supposed to be that the memory usage doesn't balloon out like that any more. We got at least one report that the memory usage is much better now (under the PR) but it doesn't quite solve the problem.

If you're hitting the 600 second limit (10 minutes!!), you can certainly tr

[2020-10-23 20:52] cliff-LINKS opened #8604 "Assets empty after v5 upgrade"
[laravel.log](https://github.com/snipe/snipe-it/files/5431826/laravel.log)
#### Please confirm you have done the following before posting your bug report:

- [V] I have enabled debug mode
- [V] I have read [checked the Common Issues page](https://snipe-it.readme.io/docs/common-issues)

**Describe the bug**
A clear and concise description of what the bug is.

After an upgrade from 4.9.5 to 5.0.1 my

[2020-10-23 21:01] snipe commented on #8604
Include any additional information you can find in `storage/logs`, your browser console, and your webserver's logs.

[2020-10-23 21:23] #8462 closed, assigned to uberbrady, snipe

[2020-10-23 21:37] uberbrady commented on #8563
Alright; I think there were two bugs here - one is the memory one, which I think the PR fixed. The other may have been related to something that @snipe was working on. I'm hoping with both of those in-place, then maybe we get somewhere? So @snipe made a new release with both fixes:

https://github.com/snipe/snipe-it/releases/tag/v5.0.3

Check this one out and let us know if you have any better luc

[2020-10-23 21:52] cliff-LINKS commented on #8604
I get this gibberish in the console of my browser if I hit the Assets button.

https://mail.linksit.be:44344/api/v1/hardware?status=&order_number=&company_id=&status_id=&search=&sort=name&order=desc&offset=0&limit=50&searchable%5B%5D=company&searchable%5B%5D=name&searchable%5B%5D=asset_tag&searchable%5B%5D=serial&searchable%5B%5D=model&searchable%5B%5D=model_number&searchable%5B%5D=category&search

[2020-10-23 22:04] snipe commented on #8604
I'm more interested in app logs, to see if you're triggering a 500 error or what. Did you try clearing your browser cookies?

[2020-10-23 22:17] derhedwig commented on #8602
Found the culprit:
When I put in a value for 'ldap_emp_num', for example 'uid', everything works.
But 'ldap_emp_num' is optional. So please either make 'ldap_emp_num' a mandatory field or change 'getSelectedFields' in app/Services/LdapAd.php

But by the way: Thanks for snipeit!

[2020-10-23 22:31] cliff-LINKS commented on #8604
The browser cache and cookies where cleaned.

I get the same error in Safari, Firefox and Chrome. It ends with the line '414 (Request-URI Too Long)'

[2020-10-23 23:08] WELLBOREIS commented on #8563
@uberbrady Why am I getting this error when trying to upgrade?
[root@USHO1-AM01 snipe]# php upgrade.php

ERROR: This script should not be run as root/admin. Exiting.

I've been able to use root in the past.

[2020-10-23 23:29] snipe commented on #8563
@WELLBOREIS We changed that in v5, because folks shouldn't be running it as root. It can cause problems that we end up having to support when people run it as root.

[2020-10-23 23:32] WELLBOREIS commented on #8563
This is what I'm getting using user that's not root/admin:

[sudo] password for SnipeIT:

ERROR: This script should not be run as root/admin. Exiting.

[SnipeIT@USHO1-AM01 snipe]$

[2020-10-23 23:33] snipe commented on #8563
If you're seeing a sudo prompt, you're running it as a sudo user, which is basically the same as root tho.

[2020-10-23 23:34] WELLBOREIS commented on #8563
If I run without sudo, I get this:
[SnipeIT@USHO1-AM01 snipe]$ php upgrade.php
Welcome to the Snipe-IT upgrader.

Please note that this script will not download the latest Snipe-IT
files for you unless you have git installed.
It simply runs the standard composer and artisan
commands needed to finalize the upgrade after.

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! WARNING !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!! If

[2020-10-23 23:37] WELLBOREIS commented on #8563
I got same error using a regular user with no sudo permissions where access is denied.

[2020-10-23 23:49] king2004r commented on #8498
!!! Hi any update

[2020-10-23 23:50] snipe commented on #8498
That's not on the short-term roadmap.

[2020-10-23 23:59] WELLBOREIS commented on #8563
Nevermind. Sorry I'm a novice on linux. I researched giving access to snipe-it folder recursively. Now I can run upgrade.

[2020-10-24 00:13] WELLBOREIS commented on #8563
Still no-go on LDAP sync :(  I cleared the cache and config and re-updated the LDAP account password. It just runs with no conclusion.

[2020-10-24 00:28] uberbrady commented on #8563
Nice work figuring out your permissions! One less thing...

You can definitely try setting the timeout to be longer (an hour?) and see if it eventually gets to the end.

On the database side I don't see much more we can optimize here - it does a lookup for the user, if they exist then it does stuff, but it will only save if the user is 'dirty' (e.g. something changed). It's not going to get much f

[2020-10-24 00:41] WELLBOREIS commented on #8563
Sounds good. Thank you!

[2020-10-24 00:43] snipe commented on #8604
I'm guessing you're seeing this because you have a metric butt-ton of custom fields. I'll be honest and I'm not sure how to address this right now, but we'll take a look. Some of those url parameters are needed by the table library we use, but we may be able to filter them out so they're not being sent to the server.

[2020-10-24 00:53] uberbrady commented on #8535
The latest v5.0.3 has at least a possible fix for the LDAP memory consumption issue in it; can you folks give that a shot and see if it helps at all?

[2020-10-24 00:53] cliff-LINKS commented on #8604
I do have an extensive set of custom fields indeed, it did work great in version 4 though.
Thanks for looking in to this!

[2020-10-24 01:32] snipe commented on #8561
@uberbrady has a PR up that will re-add the validation in a different way

[2020-10-24 01:32] #8561 closed, assigned to nobody

[2020-10-24 01:59] snipe commented on #8604
@uberbrady you're better at JS than I am - can you take a look? (I'll also be digging around). It seems bootstrap-tables is sending all of our `data-column` info to the server, but I don't see any reason why it should need to do that. The `data-columns` stuff *should* just dictate the front-end of display - which columns are searchable, sortable, etc - but *maybe* there's some additional magic tha

[2020-10-24 02:50] dborko95 opened #8607 "EULA insert users full names, device serial, asset name, etc"
**Server (please complete the following information):**
 - Snipe-IT Version 5.0.2
 - OS: [e.g. Ubuntu]
 - Web Server: [Apache]
 - PHP Version 7.4

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

We cant include user info or device info into a user agreement contract

**Describe the solution you'd like**
A clear and concise

[2020-10-24 02:51] #8537 closed, assigned to inietov

[2020-10-24 02:58] snipe commented on #8370
What was the table engines for the settings table, if you recall?

@inietov @Godmartinz - this may not be relevant anymore with v5, but I'm not sure. I'm thinking it could either be a MyISAM table engine issue, or maaaaaybe and parse error in that version of the Swedish language?

[2020-10-24 03:04] snipe commented on #8607
I feel like we've heard this request before, but I can't find the exact GH issue I'm looking for for that. It's definitely something on the roadmap, but it gets a little squirrelly with stuff like the global EULA (versus category based) since we send those out for all kinds of different item types, and I can easily see chaos ensuing when people try to use a global EULA (referencing things like ass

[2020-10-24 03:18] dborko95 commented on #8607
Aha makes sense. Thank you so much for considering it! Happy (hopefully) Friday

[2020-10-24 03:25] snipe commented on #8607
It's not impossible, we just really have to think it through so we don't end up making things ugly for the users. Maybe you can only use those variables when it's a category-specific EULA (versus the global one), so the category type (asset vs accessory vs licenses) would limit what variables might be available in those EULAs. It's as much a UX issue as it is a technical one, and the UX issues ten

[2020-10-24 06:30] diblasio commented on #7677
still relevant

[2020-10-24 07:01] SaranyaTest17 commented on #8587
I am not using bearer token ,i am not calling from mobile app.I am using as web application only. I just downloaded the code from github and using it. I tried to configure with MAC OS, it was working perfectly . But in windows its creating problem.

I have done based on the instructions given here https://snipe-it.readme.io/v4.0/docs/pre-flight-setup,https://snipe-it.readme.io/v4.0/docs/wamp

I am

[2020-10-24 07:14] roratonet commented on #8544
Bug present on v.5.0.3 aswell
https://develop.snipeitapp.com/hardware/1#maintenances

<blockquote><img src="https://develop.snipeitapp.com/favicon.ico" width="48" align="right"><div><strong><a href="https://develop.snipeitapp.com/hardware/1#maintenances">Snipe-IT Asset Management Demo</a></strong></div></blockquote>

[2020-10-24 10:01] SjamonDaal commented on #8607
Yeah right @snipe, this is exactly what I've built and [asked your opinion about](https://github.com/snipe/snipe-it/issues/5933#issuecomment-432972944) years ago. I known it wasn't finished and could have used some UX Improvement but all logic worked.

[2020-10-24 10:02] SjamonDaal commented on #8607
@dborko95, thanks for restarting this and mentioning me.

[2020-10-24 10:49] ghost commented on #8370
@snipe Hm, I can't recall unfortunately! And yeah not sure this is relevant anymore after V 5.

[2020-10-24 13:10] SaranyaTest17 commented on #8587
Any one got this issue ?

[2020-10-24 15:27] dirceubb commented on #7677
still relevant, please reopen

[2020-10-24 18:09] Ladjets opened #8608 "Program Icons/Images"
Hi

Just wondering can the icons be easily changed to custom icons ?

[2020-10-24 19:13] cliff-LINKS opened #8609 "Cannot drag the field order in fieldset"
#### Please confirm you have done the following before posting your bug report:

- [•] I have enabled debug mode
- [•] I have read [checked the Common Issues page](https://snipe-it.readme.io/docs/common-issues)

**Describe the bug**
Since I upgraded to version 5 I can't drag to reorder fields in a fieldset. The drag dots do not react on a click and drag, they are not selectable (1).
I can insert a

[2020-10-25 07:15] LEOkonami commented on #8575
I will... If I have the same issues again will contact you!

@snipe This asset was assigned to a deleted user but a long time ago, I check it out again for a user in the system.

@cslob Thanks I will check this next time I have this issue.

Love Snipe-it makes my job a lot easier, thanks!
P.S
And thanks for the multiple asset crafting

[2020-10-25 07:57] jovibroz commented on #8544
This was actually one of the first things I noticed after struggling thru the upgrade to v.5.0.0 and I immediately just changed the name.

Looked like this (Swedish language):

2020-10-21 08:43 | Johan Hörnqvist | uppdatering | Monitor NADIA (00161) |   |   | name: 20&quot; Monitor NADIA  Monitor NADIA
-- | -- | -- | -- | -- | -- | --

EDIT: Hm haha here the formatting works and the "20 & quot; "

[2020-10-25 08:40] shafayetdotme opened #8610 "Category TAG ID Based on Category"
**Server (please complete the following information):**
 - Version v5.0.3 - build 5443 (master)
 - OS: Windows
 - Web Server: Laravel Server mood
 - PHP Version: 7.4.9

**Requested feature**
- When I create new asset, The Tag is not supposed to be visible. TAG ID will be shown IF and only if the asset creation is successful.
- Tag ID Should be based on category. Like, If "Desktop" short tag code "

[2020-10-25 08:56] Raffudeen opened #8611 "Error on Backup"
Dear ,

i can't able to genrate backup of my snipeit server .Attached the Screen Shot. Please advice...
![Capture](https://user-images.githubusercontent.com/70876850/97102735-0004af80-16b9-11eb-8f24-4f87f0225c56.JPG)
 server.. Attached the Screenshot .

![image](https://user-images.githubusercontent.com/70876850/97102722-e8c5c200-16b8-11eb-85d9-835ae4fc5b3d.png)

[2020-10-25 10:46] jeroenbrussich opened #8612 "[v5.0.4] production.ERROR: BadMethodCallException: Call to undefined method Illuminate\Database\Eloquent\Builder::GetDeleted()"
#### Expected Behavior (or desired behavior if a feature request)

When I surf to /users?status=deleted, I expect to see my deleted users.

-----

#### Actual Behavior

no matching records are found

![afbeelding](https://user-images.githubusercontent.com/245972/97104626-b23a7800-16b5-11eb-9ca9-3eb0d1ac1392.png)

#### Extra information, added by me!

I assume a wrong database-query lies at the bas

[2020-10-25 10:59] jeroenbrussich opened #8613 "[v5.0.2] [API] get deleted users is gone from API (was present in v4.9.5)"
**Server (please complete the following information):**
 - Snipe-IT Version **v5.0.2**
 - OS: [e.g. Ubuntu, CentOS]  **Ubuntu 20.04**
 - Web Server: [e.g. Apache, IIS] **Apache2**
 - PHP Version **7.4.3**

**Is your feature request related to a problem? Please describe.**

In version 4.95, I could select deleted users through the API.

![afbeelding](https://user-images.githubusercontent.com/245972

[2020-10-25 11:06] jeroenbrussich commented on #8613
thinking some more on this..

it would be nice if the deleted-boolean (cf. v4.95) would return, but now would have 3 options:

- omitted = return all users, both active and deleted
- bool:false = only return users who not deleted
- bool:true = only return users who are deleted

however, the extra field in the array would still be welcome.
when I select all users, it would be nice to know whether a

[2020-10-25 12:55] Joly0 commented on #8500
Hey @uberbrady sry for coming back to this so late, but was in vacation. I just upgraded my dev environment to 5.0.3 and still getting the above error.

[2020-10-25 13:34] Joly0 commented on #8500
btw a simple get-aduser powershell query works perfectly trying to get all user from the dev server with -server set to my domain, so its not a connection problem or wrong settings. The same settings still work fine in my 4.9.5 prod-instance

[2020-10-25 15:14] denzfarid commented on #8611
try chmod -R 777 /var/www/snipeit/storage/app/backup-temp

[2020-10-25 15:45] Raffudeen commented on #8611
If i try this im getting : Operation not permitted. Attached the screen shot .

![image](https://user-images.githubusercontent.com/70876850/97111874-44f90800-16f2-11eb-994b-4356eaf32baa.png)

[2020-10-25 19:30] jmartins1 commented on #8601
Attempted to start from scratch using instructions on: https://snipe-it.readme.io/docs/wamp

When attempting to run: composer install --no-dev --prefer-source

Received the following errors (small snapshot):
![2020_10_25_11_15_53_C_WINDOWS_system32_cmd exe_composer_install_no_dev_prefer_source](https://user-images.githubusercontent.com/31219479/97114036-c1b8c180-16b3-11eb-8f09-b065aeb68c7b.jpg)

I

[2020-10-25 21:55] webshaun opened #8614 "Error: Asset Maintenance you were looking for was not found!"
#### Please confirm you have done the following before posting your bug report:

- [ ] I have enabled debug mode
- [x] I have read [checked the Common Issues page](https://snipe-it.readme.io/docs/common-issues)

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
Edit maintenance and save.
It'll take you to the full maintenanc

[2020-10-25 23:52] AssetMana opened #8615 "Unable to Access Snipe-IT.lan/setup page after fresh install"
#### Please confirm you have done the following before posting your bug report:

- [N] I have enabled debug mode
- [Y] I have read [checked the Common Issues page](https://snipe-it.readme.io/docs/common-issues)

**Describe the bug**
A clear and concise description of what the bug is.
I have attempted to install Snipe-IT multiple times across fresh installs of both Ubuntu 18.04 and 20.04, all attem

[2020-10-26 00:40] ycmq commented on #8554
Issue fixed in 5.0.3

[2020-10-26 00:40] #8554 closed, assigned to nobody

[2020-10-26 02:14] maodahua commented on #8563
emmmmm.....In V5.0.3, I still can not sync ldap and no errors found.

[2020-10-26 02:46] conan522 commented on #8563
same, still no fix in v5.0.3

[2020-10-26 04:40] AssetMana commented on #8615
Alright I figured out that I was using the incorrect location for the install script? Where it should be used within the /var/html/snipe-it/ folder, After issuing the Composer dump-autoload command it returned an error permission denied once I had given proper permission to the app it worked however now that the webpage loads correctly it states that it cannot connect to the database. Therefore up

[2020-10-26 05:13] AssetMana commented on #8615
I changed the password for the database user 'snipeit' and was able to get the software working, sorry for wasting your time.

[2020-10-26 05:13] #8615 closed, assigned to nobody

[2020-10-26 06:38] roratonet commented on #8611
Prepend "sudo" if administrator is in the sudoers file, or login as root

[2020-10-26 08:54] Raffudeen commented on #8611
Done... Thank You...

[2020-10-26 10:07] IronDragonFly opened #8616 "env settings for outgoing mail - using a local domain"
#### Expected Behavior (or desired behavior if a feature request)

settings to add on env for outgoing emails for a local domain

-----

#### Actual Behavior

settings added to env dont work for outgoing emails. Not sure if there has to be a specific format for entering domain details for outgoing mails. thank you
-----

#### Please confirm you have done the following before posting your bug repor

[2020-10-26 10:12] ThoBur commented on #8518
Same here.

![image](https://user-images.githubusercontent.com/70443365/97159983-f7c17880-177b-11eb-8e86-ca6c3fa3b55c.png)

Snipe-IT Version v5.0.1

[2020-10-26 10:17] nilsrb opened #8617 "LDAP-Sync no longer working in v.5.0.3"
#### Expected Behavior (or desired behavior if a feature request)

I updated today from v.4.9.5 to v.5.0.3 and the ldap sync is no longer working.

Go to people -> LDAP Sync -> Select location -> click on "synchronize"

-----

#### Actual Behavior

Go to people -> LDAP Sync -> Select location -> click on "synchronize" -> gives me error 500.
In settings, i tried "Test LDAP Syncronization" [sic] - t

[2020-10-26 10:36] Mikey84 commented on #8574
The update fixed issue for me (v5.0.3) Thank you Guys!

[2020-10-26 10:42] IronDragonFly commented on #8616
never mind - i sorted the issue

[2020-10-26 10:42] #8616 closed, assigned to nobody

[2020-10-26 11:38] WELLBOREIS commented on #8563
Same here :( I’m sure we will figure it out soon, though!

[2020-10-26 13:06] henningkessler commented on #8172
I have the same issue with the same version and the only thing I changed was to add a custom field.

[2020-10-26 13:18] henningkessler commented on #8172
Okay, I can confirm after reverting the DB to a backup before adding the custom field everything is back to normal..

[2020-10-26 16:06] Kagemusha-SA commented on #8563
Not working for me for v5.0.3 either. Tired to increase the timeout to 1800, but it 500ed at just over 6 minutes. Let me know if you want me to try anymore fixes.

[2020-10-26 16:24] uberbrady commented on #8611
I'm glad you got it going and it's working for you, but generally we tend to try to avoid using `chmod -R 777` - because it means that *any* user on this Unix box can now read and write to the backup directories. If there's only ever one 'user' on the box at any time? Probably not a big deal (though @snipe , who is far more of a security nerd than I am, may disagree).

But if you did have some kin

[2020-10-26 16:24] #8611 closed, assigned to nobody

[2020-10-26 16:39] itscsquared opened #8618 "Still unable to load images after upgrading to 5.0.3"
#### Please confirm you have done the following before posting your bug report:

- [X] I have enabled debug mode
- [X] I have read [checked the Common Issues page](https://snipe-it.readme.io/docs/common-issues)

**Describe the bug**
When looking in the asset list, the image link appears to be broken. However, when clicking on the asset itself and going to the page for that specific asset, the phot

[2020-10-26 16:49] uberbrady commented on #8563
Do you get the same result via the Artisan command? Sometimes, depending on your webserver setup, you might have different components that force-close the connection. But via Artisan your commands can run as long as the `max_execution_time` permits.

Still, even if that is the case, we should be completing faster than this. I can run a couple thousand SQL queries in a minute or so, usually. So som

[2020-10-26 16:51] uberbrady commented on #8563
Thanks everyone for the feedback and testing! I'm going to dig into this more today. I'm probably going to do a combination of:

1. Adding some kind of `verbose` flags to get additional logs, either on-screen or in the logfile
2. Figuring out some Powershell magic to add a bunch of users (a thousand or so) to my own AD setup, so I can replicate the problem.

I'll report back when I've got somethin

[2020-10-26 17:24] Kagemusha-SA commented on #8563
I can't seem to get it to work with the command line. Just gives me an "Unable to connect to LDAP directory!" error. I tried resaving the password, changing the type of username, etc., but nothing fixed it.

[2020-10-26 18:00] uberbrady commented on #8563
@Kagemusha-SA that's weird. Are you sure you're running it from your `snipe-it` directory; e.g. the place where your `.env` lives? The `APP_KEY` in particular is very necessary - as the LDAP password is encrypted with it. Of course, the database user/pass is also pretty critical.

Though I suppose if you can run other Artisan commands, then the `snipeit:ldap-sync` shouldn't be any different.

[2020-10-26 18:11] uberbrady commented on #8563
Okay, good news! I figured out the PowerShell thing, and added a thousand users to my directory, and I'm getting the same results that you folks are. I suspect there's a bug in the paging algorithm. If you don't hit pagination (at 500), you wouldn't see it.

I should have a fix out today.

[2020-10-26 18:25] uberbrady commented on #8500
Welcome back! Hope your vacation was great. I've been working on an LDAP sync issue in #8563 but I'm not sure that's the same as your problem.

If you have more than 500 or so users in your directory, then that other issue may be the same as your problem.

If not, then something else is definitely going on. I'm hoping to have a fix out for the 'too many LDAP users' problem today, but that might no

[2020-10-26 18:44] WELLBOREIS commented on #8563
Yay!

[2020-10-26 18:51] Relix360 commented on #8487
+1 in 5.0.3

[2020-10-26 18:54] Joly0 commented on #8500
No, if only the synced users are counted, then its not more then about 150 users. Even if everything is counted, it shouldnt be more then 500 entries in my ad.
Is there a command or something to test the ldap functionallity outside of snipe, like i said with a powershell command i could "easily" execute? That could potentionally help identify the root of the problem.
Additionally is there anything

[2020-10-26 19:13] roratonet commented on #8618
Verify that permissions for the IIS Server are set correctly on the folder/files.

https://forums.iis.net/t/1187650.aspx

<blockquote><img src="https://forums-iis.azureedge.net/resources/v-2020-09-25-01/favicon.ico" width="48" align="right"><div><strong><a href="https://forums.iis.net/t/1187650.aspx">Minimum folder permissions required for IIS7.5 web site : The Official Microsoft IIS Forums</a></s

[2020-10-26 19:22] itscsquared commented on #8618
That wouldn't explain why it loads on the asset page but not the asset list, would it? I verified those permissions were correct when I updated and everything looks to be correct.

[2020-10-26 19:52] uberbrady commented on #8500
"Can't contact LDAP server" is pretty low-level; if you can't contact it then that means that Snipe-IT's LDAP connect commands will not let you connect - any other test you would do would be the same.

Is it possible that this test server needs a port opened on some firewall? Some kind of IP address shenanigans?

I *do* have some experimental LDAP test scripts that are semi-inside-of, but semi-out

[2020-10-26 20:05] uberbrady commented on #8563
Okay, this at least fixed it for _me_ - https://github.com/snipe/snipe-it/pull/8619

Can you folks check this out? If it helps enough people we can probably see about cutting another release, barring any other small fixes we need to try and sneak in.

[2020-10-26 20:23] Kagemusha-SA commented on #8563
@uberbrady Yes, this worked for me and it synced in less than a minute. So I think you got it. :)

[2020-10-26 20:32] Frizzanko commented on #8563
@uberbrady That did the trick for us as well. Thank you for your help!

[2020-10-26 20:38] Kagemusha-SA commented on #8617
Try the fix [here](https://github.com/snipe/snipe-it/pull/8619).

[2020-10-26 21:18] WELLBOREIS commented on #8563
@uberbrady You did it! Congratulations and thank you so much!

[2020-10-26 21:18] #8563 closed, assigned to uberbrady

[2020-10-26 21:19] snipe commented on #8563
Excellent - thanks so much for your patience and willingness to help us test quickly. I'm merging that PR now and will have a tagged release out shortly.

[2020-10-26 21:28] #8532 closed, assigned to Godmartinz

[2020-10-26 21:36] snipe commented on #8601
You should never ever be running composer update. It means your composer.lock file and ours will be out of sync, and that can cause problems for you down the line (and potential bugs that we won't be able to reproduce.)

Without knowing *why* those package installs failed, it's tough for us to know that's going on here.

[2020-10-26 21:38] jmartins1 commented on #8601
Understood. I ran this on a test installation to try to get past the error.

On Oct 26, 2020, 3:36 PM, at 3:36 PM, snipe <notifications@github.com> wrote:

[2020-10-26 21:39] uberbrady commented on #8617
Full release also available here: https://github.com/snipe/snipe-it/releases/tag/v5.0.4

<blockquote><img src="https://repository-images.githubusercontent.com/14346979/164a6580-7d79-11e9-865f-eae87593e11a" width="48" align="right"><div><img src="https://github.githubassets.com/favicons/favicon.svg" height="14"> GitHub</div><div><strong><a href="/snipe/snipe-it/releases/tag/v5.0.4">Release v5.0.4 ·

[2020-10-26 21:40] uberbrady commented on #8504
We've cleaned up our LDAP setup pretty solidly with the latest v5 release - check out https://github.com/snipe/snipe-it/releases/tag/v5.0.4

<blockquote><img src="https://repository-images.githubusercontent.com/14346979/164a6580-7d79-11e9-865f-eae87593e11a" width="48" align="right"><div><img src="https://github.githubassets.com/favicons/favicon.svg" height="14"> GitHub</div><div><strong><a href="/

[2020-10-26 21:40] uberbrady commented on #8510
I think we caught most of this in the latest v5 - https://github.com/snipe/snipe-it/releases/tag/v5.0.4

<blockquote><img src="https://repository-images.githubusercontent.com/14346979/164a6580-7d79-11e9-865f-eae87593e11a" width="48" align="right"><div><img src="https://github.githubassets.com/favicons/favicon.svg" height="14"> GitHub</div><div><strong><a href="/snipe/snipe-it/releases/tag/v5.0.4">

[2020-10-26 21:40] uberbrady commented on #8535
(It didn't! But this does: https://github.com/snipe/snipe-it/releases/tag/v5.0.4 )

<blockquote><img src="https://repository-images.githubusercontent.com/14346979/164a6580-7d79-11e9-865f-eae87593e11a" width="48" align="right"><div><img src="https://github.githubassets.com/favicons/favicon.svg" height="14"> GitHub</div><div><strong><a href="/snipe/snipe-it/releases/tag/v5.0.4">Release v5.0.4 · snip

[2020-10-26 21:41] #7997 closed, assigned to nobody

[2020-10-26 21:46] Joly0 commented on #8500
The dev server is in another vlan, but it has access to the main ad and sync worked, prior to v5 and as said with a simple powershell command aswell.
Is it possible to get back to v4.9.5? If so, i would take a backup of the prod snipe-it instance, restore that onto the dev server so they are exact twins, update to v5 and see what happens.

[2020-10-26 21:48] uberbrady commented on #8489
Please let us know if this is still a problem in the latest v5 - https://github.com/snipe/snipe-it/releases/tag/v5.0.4

<blockquote><img src="https://repository-images.githubusercontent.com/14346979/164a6580-7d79-11e9-865f-eae87593e11a" width="48" align="right"><div><img src="https://github.githubassets.com/favicons/favicon.svg" height="14"> GitHub</div><div><strong><a href="/snipe/snipe-it/releas

[2020-10-26 21:54] roratonet commented on #8618
Maybe you have the image still in the cache. Please try the same with an Incognito Window.

Is the URL of the displayed image the same as the one which is not loading?

What about IIS server logs? What's the error message there?
https://www.sumologic.com/blog/iis-log-files-location/

<blockquote><img src="https://assets-www.sumologic.com/company-logos/_1200x630_crop_center-center_82_none/SumoLogic

[2020-10-26 22:01] Joly0 commented on #8500
Just tried the newest release, still same. Tried some suggestions from other issues like using the full ldap/ad-path of the ldap bind user, but didnt help either

[2020-10-26 22:08] gramakri commented on #8506
I hit pretty much the same issue when trying to update the Cloudron package to the latest 5.x release.

[2020-10-26 22:10] snipe commented on #8506
https://snipe-it.readme.io/docs/installation-issues#fatal-error-uncaught-exception-reflectionexception-with-message-class-log-does-not-exist

[2020-10-26 22:15] nilsrb commented on #8617
Will give it a try tomorrow, thank you! 👍

[2020-10-26 22:19] snipe commented on #8506
I don't have an idea what Cloudron is, but if it's anything like Softaculous, etc, you'd have to take that up with them, as their upgrade process is likely flawed. I see this tho: https://forum.cloudron.io/topic/3244/snipe-it-is-now-available

Those types of companies never actually talk to us, and we're not part of their upgrade/installation process, so we don't really have any god ways of troubl

[2020-10-26 22:20] snipe commented on #8506
@gramakri also, I don't even see 5x listed here? https://www.cloudron.io/store/com.snipeitapp.cloudronapp.html

<blockquote><img src="https://api.cloudron.io/api/v1/apps/com.snipeitapp.cloudronapp/versions/0.3.0/icon" width="48" align="right"><div>Cloudron</div><div><strong><a href="https://www.cloudron.io/store/com.snipeitapp.cloudronapp.html">Install Snipe-IT - Open Source IT Asset Management</a

[2020-10-26 22:21] gramakri commented on #8506
@snipe Thanks, I found several similar issues https://github.com/snipe/snipe-it/issues/4673, https://github.com/snipe/snipe-it/issues/7174, https://github.com/snipe/snipe-it/issues/6104 and https://github.com/snipe/snipe-it/issues/4470 . Still investigating what the root cause is.

[2020-10-26 22:22] snipe commented on #8506
@gramakri as mentioned in the docs (and in all of those tickets), it's almost always an issue in the .env, or some cached files that need to be deleted.

It's a difficult one to troubleshoot, because basically if *anything* goes wrong and prevents the stack from fully loading, it can toss out that message. Basically, the framework fails to load (again, usually for the reasons I mentioned), and it

[2020-10-26 22:23] gramakri commented on #8506
I am one of the co-founders of Cloudron :-D  We only very recently added Snipe-IT, it was contributed by our community. I am updating it to 5.x as we speak and that is when I hit the issue. I have been meaning to reach out to you about the package but this was published not even 2-3 weeks ago and wasn't "stable" yet.

[2020-10-26 22:24] snipe commented on #8506
Yeah, we just released v5 last monday

[2020-10-26 22:35] emike09 commented on #8574
Looks like it worked on 5.0.4! Thanks for the update to v5 and all the work that went into it.

[2020-10-26 22:39] snipe commented on #8574
We didn't actually do anything with images in v5.0.3, so my guess is just that the upgrade process blew out whatever cached config stuff was in there and was causing the issues.

[2020-10-26 22:42] uberbrady commented on #8604
@cliff-LINKS I don't know if this is related, but in that `laravel.log` file that you attached, I'm seeing a ton of errors like:

[code]

I know the blade-caching mechanism that Laravel uses wants to be able to write into that directory. It doesn't seem very likely that that's the actual problem here, but I definitely think you should fix that.

I'm still looking into the 'having tons of custom fi

[2020-10-26 22:44] snipe commented on #8604
Yeah, while those permissions issues *definitely* should be fixed, the `414 (Request-URI Too Long)` is a bigger deal IMHO. BS Tables shouldn't be sending all of those extra values to the server.

[2020-10-26 22:44] snipe commented on #8604
@uberbrady if you click on the link in the example they gave, you'll see the same result. It's farting out before it can even check for auth, etc.

[2020-10-26 22:58] uberbrady commented on #8604
Yeah, even on my local setup with a small handful of custom fields, it's still sending a bunch of `searchable[]` stuff, which I don't think we want - the back-end doesn't need to know, that's just a 'hint' for the front-end, right?

[2020-10-26 22:59] aplusham commented on #7839
adding my 2 cents here for this feature
would like to be able to add the custom fields on print out. Not only that but also custom verbiage if possible . Very similar to EULA email on acceptance .
This way when you print, it is an actual agreement.

[2020-10-26 23:04] snipe commented on #8604
@uberbrady yeah - the backend API is what determines whether something is actually searchable. The `searchable` data-dash attribute *should* only be used by the frontend. I could see maybe if it's using that info to determine what search string to send through? Either way, it *should* be using that to silently build the query string, not passing ALL of that shit to the server. We can experiment wi

[2020-10-26 23:16] snipe commented on #8604
Another thought.... BS tables has the option to set `data-side-pagination="server"` or `data-side-pagination="client"`.

I would have thought that once you set `data-side-pagination="server"` and have a `data-url=<url>`, it shouldn't try to push any of that info to the URL tho.

[2020-10-27 01:21] conan522 commented on #8604
I have a similar issue, but Chorme is ok,, IE11 is empty.

[2020-10-27 01:26] JovinJovinsson opened #8620 "Error: undefined when sending test mail with SMTP Relay (no User/Pass)"
#### Please confirm you have done the following before posting your bug report:

- [x] I have enabled debug mode
- [X] I have read [checked the Common Issues page](https://snipe-it.readme.io/docs/common-issues)

**Describe the bug**
At the company I work for we have an SMTP relay which has a whitelist of servers that can send emails. It does not accept username & password authentication. I have tr

[2020-10-27 02:05] maodahua commented on #8563
@uberbrady I can sync now, But It's strange that so many new  user cannot login system. as a old user I can login...we both sync by ldap and managed password by ldap.

[2020-10-27 03:06] maodahua opened #8621 "LDAP sync successfully but cannot login by ldap"
#### Please confirm you have done the following before posting your bug report:

- [ x] I have enabled debug mode
- [ x] I have read [checked the Common Issues page](https://snipe-it.readme.io/docs/common-issues)

**Describe the bug**
In v5.0.4 I can sync by ldap, but I still login some account by ldap

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'login page'
2. Type username and pa

[2020-10-27 05:39] GaneshKandu opened #8622 "Issue while composer install on php 7.1.33"
**Describe the bug**
Hi I Having an issue while installing composer

[code]

Snipe-IT required php 7.2.0 but [https://snipe-it.readme.io/docs/requirements](https://snipe-it.readme.io/docs/requirements) mentioned it require 7.1.3

**Screenshots**

![image](https://user-images.githubusercontent.com/12833130/97261171-49cdd100-1844-11eb-8b0a-69cc7c08633d.png)

**Server (please complete the following i

[2020-10-27 06:29] Raffudeen commented on #8611
THANKS FOR THE SUPPORT..KEEP SUPPORTING…… And I have an other issue too while asset checkout. For that I should open a new ticket or I can continue in this???  Sent from Mail for Windows 10 From: Brady WetheringtonSent: Monday, October 26, 2020 7:25 PMTo: snipe/snipe-itCc: Raffudeen; AuthorSubject: Re: [snipe/snipe-it] Error on Backup (#8611) I'm glad you got it going and it's working for you, but

[2020-10-27 06:41] nilsrb commented on #8617
Unfortunately still not working:

**Argument 1 passed to App\Console\Commands\LdapSync::updateCreateUser() must be an instance of Adldap\Models\User, instance of Adldap\Models\Entry given, called in /var/www/html/snipe-it/app/Console/Commands/LdapSync.php on line 245**

Log:
[code]

[2020-10-27 06:58] roratonet commented on #8611
If there is no similar issue open, please create a new one with your concern.

[2020-10-27 09:05] cliff-LINKS commented on #8604
@uberbrady thanks for pointing me to the permission issues, they're been taken care of.

[2020-10-27 10:20] drhirn commented on #8510
Able to log in now with the `ldap_active_flag` set

[2020-10-27 11:22] jeroenbrussich commented on #8612
upgraded to version **5.0.4** through _php upgrade.php_
now just noticed this error, but I guess it would have been already present in **5.0.2**

[laravel.log](https://github.com/snipe/snipe-it/files/5444876/laravel.log)

[2020-10-27 12:17:19] production.ERROR: BadMethodCallException: Call to undefined method Illuminate\Database\Eloquent\Builder::GetDeleted() in /var/www/inventaris/vendor/laravel/

[2020-10-27 12:49] diegogarciadev opened #8623 "Error 500 when acceptance is required without signature"
#### Please confirm you have done the following before posting your bug report:

- [x] I have enabled debug mode
- [x] I have read [checked the Common Issues page](https://snipe-it.readme.io/docs/common-issues)

**Describe the bug**
When checkout with acceptance required but signature not required you will get an 500 error.
ErrorException: Undefined variable: sig_filename in /var/www/html/snipe-it

[2020-10-27 12:57] diegogarciadev commented on #8623
solved in #8589

[2020-10-27 12:57] #8623 closed, assigned to nobody

[2020-10-27 13:32] diegogarciadev opened #8624 "Duplicate API route"
#### Please confirm you have done the following before posting your bug report:

- [x] I have enabled debug mode
- [x] I have read [checked the Common Issues page](https://snipe-it.readme.io/docs/common-issues)

**Describe the bug**
Duplicated api route accessories missing

**Screenshots**
![image](https://user-images.githubusercontent.com/5694236/97308501-3846f200-1861-11eb-936f-5698bb3b6347.png)

[2020-10-27 13:33] pcsmarts502 commented on #8618
I noticed that a double // is inserted between the domain name and the upload folder see below. I don't know where in code to correct.
 Failed to load image: http://school.org//uploads/models/1504-chromebookpng.png

<blockquote><div><strong><a href="http://school.org//uploads/models/1504-chromebookpng.png">Page not found | School dot org</a></strong></div></blockquote>

[2020-10-27 14:15] Raffudeen opened #8625 "Error_On_Asset_Checkout"
#### Please confirm you have done the following before posting your bug report:

- [x] I have enabled debug mode - YES
- [x] I have read [checked the Common Issues page](https://snipe-it.readme.io/docs/common-issues) -YES

**Describe the bug**

While Checkout an asset to an user page appears "Whoops, Looks like something went wrong" whereas if i checkout to an location or Asset it is working norma

[2020-10-27 14:22] Raffudeen commented on #8625
And another Screenshot. After double clicking the checkout button , Asset is being checked out but the error shows as attached picture.

![Snipeit asset checkout 1](https://user-images.githubusercontent.com/70876850/97314632-f45fe700-1878-11eb-9ffc-c7ae8a8b7479.JPG)

[2020-10-27 14:38] itscsquared commented on #8618
I double checked after upgrading to v5.0.4 and still the same error. I tried loading it in an incognito window and the issue persisted.

In inspecting the image element when on the asset's info page, I see that the source link is the name our DNS resolves snipe-it to, rather than an IP address, but in the asset list, it shows the IP address and then the path for the uploaded image. Not sure if tha

[2020-10-27 15:26] pcsmarts502 commented on #8618
Found my problem too.  Typo in .env file url.  Thanks for the tip itssquared

[2020-10-27 15:37] diegogarciadev opened #8626 "Unaccepted Assets not working"
#### Please confirm you have done the following before posting your bug report:

- [x] I have enabled debug mode
- [x] I have read [checked the Common Issues page](https://snipe-it.readme.io/docs/common-issues)

**Describe the bug**
Unaccepted Assets report is not working, when you go to https://develop.snipeitapp.com/reports/unaccepted_assets you will see Showing 1 to 1 of 1 rows or something lik

[2020-10-27 15:57] WELLBOREIS opened #8627 "Upgrade Permissions"
#### Please confirm you have done the following before posting your bug report:

- [x ] I have enabled debug mode
- [ x] I have read [checked the Common Issues page](https://snipe-it.readme.io/docs/common-issues)

**Describe the bug**
A clear and concise description of what the bug is.
Can't run php upgrade.php because root/sudo user is not allowed and non-root/sudo user does not have correct file

[2020-10-27 16:10] GustelDE opened #8628 "QR-Code missing"
Hi folks,

is it possbile to correct the Image-URL for the QR-Code in the Asset-Window?
The URL points to localhost instead of the correct IP.

![Zwischenablage01](https://user-images.githubusercontent.com/26502186/97329167-10fb1f80-1877-11eb-8d06-4de2e265352b.jpg)

The logo on top points to:
http://10.10.0.14/uploads/setting-logo-itDQQUwY0h.jpg

The QR-Code points to:
http://localhost/hardware/90

[2020-10-27 16:13] roratonet commented on #8627
Assuming that the Apache user is "www-data" and your snipe-it installation folder (home of upgrade.php) is /var/www/snipeit
Otherwise replace as needed.

Please do the following with the root user:
`chown -R www-data:www-data /var/www/snipeit`
`sudo -u www-data php /var/www/snipeit/upgrade.php`

If this works, then the permissions for the upgrade are right set.

In addition, add your normal user t

[2020-10-27 17:58] WELLBOREIS commented on #8627
@roratonet I apologize, but I'm not very familiar with Linux.

In your first step, you say I need to do:

chown -R www-data:www-data /var/www/snipeit
sudo -u www-data php /var/www/snipeit/upgrade.php

with "root", however if I replace the first www-data with root, I get the error: invalid group: 'root:www-data'

[2020-10-27 18:38] Relix360 commented on #8626
Same here on 5.0.3

[2020-10-27 18:52] roratonet commented on #8627
No, please don't replace www-data with root but execute the command as the root user.

[2020-10-27 19:00] WELLBOREIS commented on #8627
@roratonet I just tried and got "chown: invalid user: ‘www-data:www-data’"

[2020-10-27 19:17] WELLBOREIS commented on #8627
How do I find out which group is the Apache user group? I think that's my issue.

[2020-10-27 19:23] WELLBOREIS commented on #8627
It looks like the group name is Apache.

[2020-10-27 19:25] roratonet commented on #8627
Use apache:apache

[2020-10-27 19:44] drudich opened #8629 "LDAP Issue After Upgrade"
After the upgrade from v4.95 to v5.04, I can no longer log into SnipeIT with my usual LDAP creds.  Do I need to change something to get LDAP working again?

[2020-10-27 19:56] drudich commented on #8629
I had an active session in another browser, so I can still get into the admin settings in SnipeIT.  When I go to "Test LDAP Sync" it completed successfully and shows a bunch of users, however I still cannot log into a new session (via an incognito browser).  Any ideas?

[2020-10-27 20:02] inietov commented on #8575
I'm going to close this as is not helping with (not really) my TOC. As I said previously, of course, feel free to reopen or create a new issue if this happens again. Good day!!

[2020-10-27 20:02] #8575 closed, assigned to inietov

[2020-10-27 20:04] WELLBOREIS commented on #8627
Ok I changed ownership to apache:apache. I added the user "update" to the apache group. I was able to run the second script "update.php" using the username "apache" however I keep getting access denied with "update"

[update@USHO1-AM01 snipe]$ php upgrade.php
Welcome to the Snipe-IT upgrader.

Please note that this script will not download the latest Snipe-IT
files for you unless you have git inst

[2020-10-27 20:12] pcsmarts502 commented on #8629
Make sure your paths have the forward slashes like this DB_DUMP_PATH="C:/PROGRA~1/MySQL/MYSQLS~1.7/bin"  and make sure you change the minus signs (-) to (=) like this  REDIS_PORT=null   in your .env file and then run upgrade.php again

[2020-10-27 20:27] drudich commented on #8629
Thank you.  I am running SnipeIT in Ubuntu 18.04.  I did fix the REDIS_PORT issue... the only issue that I have now is the LDAP problem that I listed above.

[2020-10-27 20:28] roratonet commented on #8627
What about doing that from root?

`sudo -u apache php /var/www/html/snipe/upgrade.php`

[2020-10-27 20:38] ashraftown opened #8630 "after upgrade from 4.9.5 to 5.0.4 - Whoops, looks like something went wrong."
(1/1) FatalThrowableErrorCall to undefined method Laravel\Passport\Passport::withCookieSerialization()
--
in AuthServiceProvider.php line 92
at AuthServiceProvider->boot()
at call_user_func_array(array(object(AuthServiceProvider), 'boot'), array())in BoundMethod.php line 29
at BoundMethod::Illuminate\Container\{closure}()in BoundMethod.php line 87
at BoundMethod::callBoundMethod(object(Application

[2020-10-27 20:49] WELLBOREIS commented on #8627
That appears to be working. Not sure if the "sh:composer: command not found" is an error or not, but other than that, looks good. Not sure why the user 'update' wont work even though it's in the same group.

[root@USHO1-AM01 snipe]# sudo -u apache php /var/www/html/snipe/upgrade.php
Welcome to the Snipe-IT upgrader.

Please note that this script will not download the latest Snipe-IT
files for you

[2020-10-27 20:52] drudich commented on #8629
I fixed this issue... for some reason, there was no "Company" associated with my LDAP account in SnipeIT.  Once I associated the "Company" with my account, I am now able to login.

[2020-10-27 20:54] roratonet commented on #8627
`curl -sS https://getcomposer.org/installer | php sudo mv composer.phar /usr/bin/composer`

Then re-run

`sudo -u apache php /var/www/html/snipe/upgrade.php`

[2020-10-27 21:01] drudich commented on #8629
Spoke too soon.  After setting the "Company" on my LDAP account, it let me login one time - I logged out and then I could never login again.

Any ideas?

[2020-10-27 21:23] WELLBOREIS commented on #8627
I got this error when running the script:

[root@USHO1-AM01 snipe]# curl -sS https://getcomposer.org/installer | php sudo mv composer.phar /usr/bin/composer
Could not open input file: sudo
curl: (23) Failed writing body (0 != 16366)

<blockquote></blockquote>

[2020-10-27 21:53] WELLBOREIS commented on #8627
I installed using a different link, but got this output:

--------------------------------------------------------
Step 6: Updating composer dependencies:
(This may take an moment.)
--------------------------------------------------------

-- We couldn't find a local composer.phar - trying globally.

Cannot create cache directory /usr/share/httpd/.cache/composer/repo/https---repo.packagist.org/, o

[2020-10-27 22:54] roratonet commented on #8627
Everything with the root user:

`cd /var/www/html/snipe`
`curl -sS https://getcomposer.org/installer | php
php composer.phar install --no-dev --prefer-source`
`sudo -u apache php /var/www/html/snipe/upgrade.php`

[2020-10-27 23:53] WELLBOREIS commented on #8627
[root@USHO1-AM01 ~]# cd /var/www/html/snipe
[root@USHO1-AM01 snipe]# curl -sS https://getcomposer.org/installer | php php composer.phar install --no-dev --prefer-source
Could not open input file: php
curl: (23) Failed writing body (0 != 16366)

<blockquote></blockquote>

[2020-10-28 00:15] krojas4 commented on #8626
in version 5.0.4 it also shows that problem

[2020-10-28 00:55] hpz commented on #8622
I have the same issue. The install.sh file for Debian 9 installs php 7.1 packages.

[2020-10-28 02:06] dsnefnse commented on #8587
**EDIT: Fixed. I reinstalled using the github method in a new folder rather than downloading the archive, ran update.php, copied env file, reinstall composer, regenerated key and restarted services.**

Yes we are also getting this issue. Can enter records in the forms, add companies, users etc. that are saved into the DB but we get error 401 unauthorized in the inspect console and nothing displays

[2020-10-28 03:06] ffuentes commented on #8622
Hi, I upgraded from v4.8.0 to 5.0.4 without issues and I'm running php v7.1.33 on CentOS 7.

Are you doing a fresh install?

[2020-10-28 03:16] GaneshKandu commented on #8622
yes

[2020-10-28 05:57] roratonet commented on #8627
Sorry, my typo

`cd /var/www/html/snipe`
`curl -sS https://getcomposer.org/installer | php composer.phar install --no-dev --prefer-source`
`sudo -u apache php /var/www/html/snipe/upgrade.php`

[2020-10-28 06:15] flexional commented on #8458
Hi there, glad I found this thread.  Just performed a server migration and backed up my snipe-it instance (database, .env, etc) that was running great for quite some time.  Restored it to a nearly identical environment and ran into this unauthorized error as well.  I have the entire snipe-it directory backed up, but no longer have access to the original server that was successfully running snipe-i

[2020-10-28 07:07] diegogarciadev commented on #8536
@snipe There are an error in file, not in translation. The fille has an error that blocks application. Line 210 should be deleted.

![image](https://user-images.githubusercontent.com/5694236/97403421-a983b500-18f4-11eb-864f-e51b6fa4cac5.png)

Thank you.

[2020-10-28 07:27] denzfarid commented on #8611
I totally agree !!, if snipeit is installed with the installer, then by default we have a snipeitapp user, and we can chown that user and chmod -R 755, I give 777 solution because I don't know what user the web server is running?
administrator, or default www-data or maybe apache,
should be chown based on the user running the service 🤝

Thanks for the correction :)

[2020-10-28 07:39] ghost commented on #8546
APP_URL=https://inventaris.vzwdesteiger.be
CORS_ALLOWED_ORIGINS='https://www.vzwdesteiger.be,https://vzwdesteiger.be,http://vzwdesteiger.be,http://www.vzwdesteiger.be'

So I used all the possible adresses. This worked just fine until the update.
I would like to use the api for https://vzwdesteiger.be/personeel/

It still works when I use the Moesif CORS chrome plugin. But this is not ok for our ot

[2020-10-28 09:09] Gowei88 commented on #8621
@maodahua 你好，我也有一样的问题，请问你解决了吗？
Hello, I have the same problem, have you solved it？

[2020-10-28 09:17] maodahua commented on #8621
@hssz202pgw Not yet, I'm waiting snipe solve the issue.

[2020-10-28 09:22] Gowei88 commented on #8621
我的环境基本和你一致，web服务器用的nginx，怀疑可能是中文版的原因？

[2020-10-28 09:23] WELLBOREIS commented on #8627
:(

[root@USHO1-AM01 snipe]# curl -sS https://getcomposer.org/installer | php composer.phar install --no-dev --prefer-source
Could not open input file: composer.phar
curl: (23) Failed writing body (0 != 16366)
[root@USHO1-AM01 snipe]#

<blockquote></blockquote>

[2020-10-28 09:33] maodahua commented on #8621
I don't think so. I modify the language to English and nothing helpd.
As I know, the Chinese is a language pack in code.

[2020-10-28 14:12] drudich commented on #8629
I made a change to the LDAP user account in SnipeIT, re-synced the LDAP user database (under "People") and now it seems to be letting me login.

[2020-10-28 14:12] #8629 closed, assigned to nobody

[2020-10-28 14:42] ItAdmin712 opened #8631 "Remove, hide, or disable default fields on an asset (Same as issue 8155)"
**Server (please complete the following information):**
 - Snipe-IT Version : v4.9.5 - build 4482 (master)
 - OS: [e.g. Ubuntu, CentOS] CentOS
 - Web Server: [e.g. Apache, IIS] Apache
 - PHP Version : 7.4.11

**Is your feature request related to a problem? Please describe.**
Feature Request:  On the default new asset page, There are fields we do not use, and don't for see using.  For example: orde

[2020-10-28 17:07] jovibroz commented on #8537
Awesome fix in 5.04. Just a notice that the backups flipped order with this one :)

[2020-10-28 17:14] snipe commented on #8537
Huh. I didn’t even do anything with backups in that release.

[2020-10-28 17:15] snipe commented on #8631
This has been requested before. It’s not on the short term roadmap, but it’s still on our mind. If we can find a way to make that happen without crapping all over the database, we’ll consider it

[2020-10-28 17:23] snipe commented on #8621
When possible, please post in English. (It’s okay if you have to use google translate. Bad translations are better than nothing.)

We are unable to reproduce this issue right now. LDAP logins are working as expected on our end. We’re looking into it, but it’s very hard to fix a bug you can’t reproduce :(

[2020-10-28 18:40] snipe commented on #8622
This is definitely a bug, either in the docs or in the composer file. I don't *think* we actually need PHP 7.2 - it should only require 7.1.3, but our composer.json definitely locks it in at 7.2.

I'm going to try a fresh install with just 7.1.3 (removing the composer PHP version requirement) and see if it works.

[2020-10-28 18:48] snipe commented on #8622
I just tried it with 7.1.3 and everything seemed okay.

I'd love confirmation of that by others tho? Just change the bit at the end of `composer.json` to:

[code]

and re-run `composer install --no-dev`

I'd still recommend using PHP 7.2 if you can, since later versions of Snipe-IT will likely require it, but I'll update the composer file to reflect the correct requirement if we can confirm. Not s

[2020-10-28 19:15] Nais0r opened #8632 "Clean Install - not working"
#### Please confirm you have done the following before posting your bug report:

- [ ] I have enabled debug mode
- [* ] I have read [checked the Common Issues page](https://snipe-it.readme.io/docs/common-issues)

**Describe the bug**
After clean install i get following error when trying to access setup page for the first time in httpd error log:

`[php7:error] [pid 12423] [client 172.16.66.150:537

[2020-10-28 19:16] snipe commented on #8632
Is your storage directory writable by the web server and/or the user you're running composer as?

[2020-10-28 19:17] Nais0r commented on #8632
yes it is writeable

composer command was executed with root user

[2020-10-28 19:19] snipe commented on #8632
You should never use composer as root. That will end up making some weird file permissions, and will cause you lots of heartache later.

What's the output of `ls -al /var/www/snipe-it/storage/` and `ls -al /var/www/snipe-it/storage/framework`?

[2020-10-28 19:44] Nais0r commented on #8632
[code]

[code]

changed this before doing the composer install

[2020-10-28 19:49] snipe commented on #8632
Try deleting the contents of the `storage/framework/cache` directory.

You can probably use something like:

[code]

[2020-10-28 19:55] Nais0r commented on #8632
did above, directory is clean, restarted httpd
(i did those things in my first install after googling what might have gone wrong)
i found some with failed to open stream: permisson denied .. but nothing with "no such file or directory"

but still same result exactly the same error in the log :(

what is the correct user context composer has to be executed with? i can do clean install only takes 20

[2020-10-28 20:02] WELLBOREIS opened #8633 "Can't restore users using 'php artisan snipeit:restore-users'"
#### Please confirm you have done the following before posting your bug report:

- [x ] I have enabled debug mode
- [ x] I have read [checked the Common Issues page](https://snipe-it.readme.io/docs/common-issues)

**Describe the bug**
A clear and concise description of what the bug is. Please see below.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...' People--> LDAP Sync
2. Click

[2020-10-28 20:08] WELLBOREIS opened #8634 "Cannot restore from .sql backup"
#### Please confirm you have done the following before posting your bug report:

- [ x] I have enabled debug mode
- [ x] I have read [checked the Common Issues page](https://snipe-it.readme.io/docs/common-issues)

**Describe the bug**
A clear and concise description of what the bug is. See below

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...' See below
2. Click on '....'
3. Scrol

[2020-10-29 02:13] djlongy commented on #8563
I am still getting the "500 Server Error. Please check your server logs for more information." error on mine with version 5.0.4. when Testing the LDAP. I have updated the LDAP Bind Password.
I am able to get a successful test if I narrow the "Base Bind DN" down to one user.
If there a large number of users then it will just say "500 Server Error. Please check your server logs for more information.

[2020-10-29 02:52] maodahua commented on #8621
I can't find some log to show you even thought I turn on the debug mode.
And It's very easy reproduce in my instance. I just add a user in AD and do ldap sync in system. Everything OK, but the new user can't login. Notice me the username or password error. But username is correct. I reset password and resync, still can not login...

[2020-10-29 04:39] baditaflorin opened #8635 "Unable to find image 'snipeit:latest' locally"
I did docker stop snipeit
And when I try to run it again I get this error.
[code]

[2020-10-29 04:40] Dimtar opened #8636 "500 server error and cannot get users or accessories"
#### Please confirm you have done the following before posting your bug report:

- [X] I have enabled debug mode
- [X] I have read [checked the Common Issues page](https://snipe-it.readme.io/docs/common-issues)

**Describe the bug**
Cannot list users page or accessories page.
Cannot checkout anything without a 500 server error page.

**To Reproduce**
Try to checkout anything to a user or location.

[2020-10-29 04:54] baditaflorin opened #8637 "HTTP request sent, awaiting response... Read error (Connection reset by peer) in headers."
Installed using docker, also docker mysql instance.
When I`m trying to connect I get this error.
Where inside the docker image I can check for logs?

`storage/logs/` is empty.

[code]

[code]

[2020-10-29 04:55] baditaflorin commented on #8635
I also have nextcloud installed so port 80 and 443 are reserved for this, not sure if this could be part of the problem.

[2020-10-29 05:00] baditaflorin commented on #8637
[code]

[2020-10-29 05:02] baditaflorin commented on #8637
From inside the docker file I can access it.
I also have a Nextcloud instance that is using by default port 80 and 433, could this be a problem as I have seen that snipe-it also wants access to this ports?

[code]

[2020-10-29 05:05] baditaflorin commented on #8637
When I try to access from my laptop to the server where I run the docker container I get this

[code]

[2020-10-29 05:13] GaneshKandu commented on #8622
@snipe  Thanks for clarification.

[2020-10-29 05:13] #8622 closed, assigned to nobody

[2020-10-29 05:14] baditaflorin commented on #8637
Nevermind, I misunderstood something regarding how to forward the port
Running this command worked.

[code]

[2020-10-29 05:14] #8637 closed, assigned to nobody

[2020-10-29 05:50] conan522 opened #8638 "Multiple check and bulk checkin"
Can multiple check and bulk checkin asset in the user's page? It is a useful feature for when some user quit.

[2020-10-29 07:07] LecrisUT opened #8639 "Caddy webserver support"
Can you include documentation for [`Caddy`](https://caddyserver.com/docs/) as a webserver? Here is the `Caddyfile` I am using which works perfectly well.
[code]

[2020-10-29 09:33] linux-ops opened #8640 "SETUP TEST MAIL : Mail could not be sent. Error: undefined"
conf env

MAIL_DRIVER=smtp
MAIL_HOST=smtp.xxx.com
MAIL_PORT=25
MAIL_USERNAME=sysopstools@xxx.com
MAIL_PASSWORD=xxxxx
MAIL_ENCRYPTION=null
MAIL_FROM_ADDR=sysopstools@xxx.com
MAIL_FROM_NAME='Snipe-IT'
MAIL_REPLYTO_ADDR=chao.wang01@xxx.com
MAIL_REPLYTO_NAME='Snipe-IT'
MAIL_BACKUP_NOTIFICATION_ADDRESS=sysopstools@xxx.com

Version:5.0.4
Logs

[2020-10-29 17:29:31] production.ERROR: ErrorException: Tryi

[2020-10-29 10:12] maodahua commented on #8621
I create a new server and fresh install snipeit on it and config ldap.
I can sync. But the same user cannot login the new system.
example:
User1       can login old system             still can not login new system
User2       can not login old system        still can not login new system

And I found when the first login successfully in new system, The user Note will add "last login from ldap2".

[2020-10-29 10:59] mikedowler commented on #8609
+1 to this on versions 5.0.0 and 5.0.4.  I noticed the following error in Developer Tools - not sure if it's relevant
![Screenshot 2020-10-29 at 10 57 19](https://user-images.githubusercontent.com/67961/97559752-c217cc00-19d5-11eb-9ccb-70d34596ce92.png)

[2020-10-29 13:42] imicsabi opened #8641 "Whatever save its not visible on the site, but saved into the database"
If i everthing modifily on the site not show, new user, new company etc.
But if logon phpmyadmin all data is stored in the database.

Server:
 - Snipe-IT Version: 5.0.4 build 5452
 - OS: Windows Server 2019
 - Web Server: Apache 2.4.46
 - PHP Version: 7.3.21

Desktop:
- OS: Windows 10
- Browser: Edge, Chome, Firefox
- Version: Latest

[2020-10-29 13:49] mschmidt291 commented on #8636
We had the same problem. Exec into your container and execute the upgrade.php. Also clear the cache. This fixed it for us.

[2020-10-29 14:27] Chetyre commented on #8621
For what it's worth, I'm seeing the same issue with our LDAP accounts.  Noticed initially when we upgraded to 5.0.1 last week and still occurring on 5.0.4.  We are not using active directory but same symptoms.  I run a test sync and it shows a successful connect & bind.  Running an actual sync shows a successful LDAP import.  But when you go to log in with any of the LDAP accounts I receive a "use

[2020-10-29 15:48] troveitech opened #8642 "500 error after v5 upgrade on mysql 8"
#### Please confirm you have done the following before posting your bug report:

- [x] I have enabled debug mode
- [x] I have read [checked the Common Issues page](https://snipe-it.readme.io/docs/common-issues)

**Describe the bug**
500 error with no other logs or details

**To Reproduce**
Steps to reproduce the behavior:
Upgrade to mysql v8 then attempt upgrading from v4 to v5

**Expected behavio

[2020-10-29 17:20] Relix360 commented on #8626
Problem also present on demo

@snipe

[2020-10-29 17:41] ashraftown opened #8643 "Unable to launch after upgrade from v4.9.5 to v5.0.4"
**#### Please confirm you have done the following before posting your bug report:**

- [x] I have enabled debug mode
- [x] I have read [checked the Common Issues page](https://snipe-it.readme.io/docs/common-issues)

**Describe the bug**
After upgrade from v4.9.5 to v5.0.4 - unable to launch SnipeIT
Error: Whoops, looks like something went wrong

**To Reproduce**
Steps to reproduce the behavior:
1.

[2020-10-29 17:42] ashraftown commented on #8630
#8643 with more details.
Duplicate of #8643

[2020-10-29 17:42] #8630 closed, assigned to nobody

[2020-10-29 17:44] ashraftown commented on #8643
@snipe please help.

[2020-10-29 17:57] chillinglucifer opened #8644 "Everything is gone in web interface. mysql database shows everything exists. Does not show up in web interface."
#### Please confirm you have done the following before posting your bug report:

- [ * ] I have enabled debug mode
- [ * ] I have read [checked the Common Issues page](https://snipe-it.readme.io/docs/common-issues)

**Describe the bug**
Go anywhere in the web interface, and it shows "no matching records found". Assets, Asset Models, PEOPLE even, nothing shows up.

**To Reproduce**
Steps to reprodu

[2020-10-29 18:48] pablom1776 commented on #8489
Thanks for your help everyone. I am good now. I am having an issue with the Backup and the QR code.

[2020-10-29 19:12] WELLBOREIS commented on #8627
Does anyone have any other ideas?

[2020-10-29 19:43] nothavelizard opened #8645 "Feature Request - Storing of/Access to 3rd Party Account Credentials"
**Server (please complete the following information):**
 - Snipe-IT Version 4.9.0 build 4210 (g8b2f8ef3c)
 - OS: ubuntu0.18.04.7
 - Web Server: Apache
 - PHP Version : 7.2.24-0

**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
3rd party account credential management, for storing login information for different vendor interfaces/portals suc

[2020-10-29 20:16] lcoppenr commented on #8644
My assets are showing up after going to 5.04, but people is empty.  When I click on a person within assets I get SQLSTATE[42S22]: Column not found: 1054 Unknown column 'accessories_users.note' in 'field list' (SQL: select `accessories`.*, `accessories_users`.`assigned_to` as `pivot_assigned_to`, `accessories_users`.`accessory_id` as `pivot_accessory_id`, `accessories_users`.`id` as `pivot_id`, `ac

[2020-10-29 20:18] uberbrady commented on #8644
@lcoppenr you need to run migrations

[2020-10-29 20:22] lcoppenr commented on #8644
I just update the underlying docker image, didn't realize I had to do a migrate too.   Thx.

[2020-10-29 21:42] uberbrady commented on #8489
Please open a new issue for your Backup and QR code issues - I suspect they're probably permissions-related.

[2020-10-29 21:42] #8489 closed, assigned to uberbrady

[2020-10-29 23:14] worthy92 opened #8646 "Feature Request: Asset Name as part of the Multiple Asset Creation Fields"
#### Expected Behavior (or desired behavior if a feature request)

Feature request - create multiple asset

The create multiple asset option is great. However, is there any way of having the "Asset Name" field part of the multiple asset creation options (i.e. with Asset Number and Serial). We use the Asset Name as the computer name, so having this ability would speed up the adding of assets.

Keep

[2020-10-30 00:16] #8627 closed, assigned to nobody

[2020-10-30 00:16] #8634 closed, assigned to nobody

[2020-10-30 00:17] #8633 closed, assigned to nobody

[2020-10-30 03:24] baditaflorin opened #8647 "Make the Import Feature more clear by showing that file types can be imported."
**Is your feature request related to a problem? Please describe.**
When you first see the Import feature, you have Select Import FIle, but no description of what I can import.
**Describe the solution you'd like**
Show at the very minimal the types of files that you accept (CSV, XLSX, [...] etc)
Does it require the file to have a Header? These types of questions could help make a more smooth experi

[2020-10-30 05:02] baditaflorin opened #8648 "Logo Image not visible using reverse proxy via nginx"
Link to image
http://127.0.0.1:6000/public/uploads/setting-logo-GkMHbeqdcx.jpg
Accessing from other network but logo will still point to the localhost.
Nginx configuration.
[code]

![image](https://user-images.githubusercontent.com/2330999/97661725-d0b9be00-1a7d-11eb-9dd2-9535fc590722.png)

[2020-10-30 05:26] baditaflorin opened #8649 "Cannot import assets even when AUTO_GENERATE ID is true."
**Describe the bug**
I have a CSV with some products, when I try to load the data using the importer , I get this error
`The model id field is required.`

**Screenshots**
![image](https://user-images.githubusercontent.com/2330999/97662628-3dce5300-1a80-11eb-907e-6f21a856563b.png)

![image](https://user-images.githubusercontent.com/2330999/97662830-bd5c2200-1a80-11eb-8ed1-594884100159.png)

![image

[2020-10-30 05:32] baditaflorin commented on #8649
Tried with Model number and now getting this errors.
![image](https://user-images.githubusercontent.com/2330999/97663352-fd6fd480-1a81-11eb-99d6-43af839864e1.png)

[2020-10-30 06:02] baditaflorin commented on #8649
Tried with every possible version that contains number in it......

![image](https://user-images.githubusercontent.com/2330999/97666351-1d08fc00-1a86-11eb-8b97-4df0bcd8476d.png)

![image](https://user-images.githubusercontent.com/2330999/97666392-3ca02480-1a86-11eb-9d26-df57cfdf098e.png)

[2020-10-30 08:04] Mikey84 commented on #8574
I helped clear cashe: https://snipe-it.readme.io/docs/clearing-the-config-cache

<blockquote><img src="/favicon.ico" width="48" align="right"><div>Snipe-IT Documentation</div><div><strong><a href="https://snipe-it.readme.io/docs/clearing-the-config-cache">Clearing the Config Cache</a></strong></div><div>Snipe-IT will try to cache your .env file variables for re-use to speed things up a bit, if you

[2020-10-30 08:04] #8574 closed, assigned to nobody

[2020-10-30 09:43] nilsrb commented on #8617
ah, i was still logged in... now i logged out but i can't login again. Error 500... told my colleagues they should better not logout :) LDAP Test in settings worked :/

[2020-10-30 10:11] SvenMazet commented on #8592
same here, multiple domains, this is a "must have"

[2020-10-30 10:16] LecrisUT opened #8650 "Admin Unauthenticated"
#### Please confirm you have done the following before posting your bug report:

- [x] I have enabled debug mode
- [x] I have read [checked the Common Issues page](https://snipe-it.readme.io/docs/common-issues)

**Describe the bug**
Root admin user is not authenticated, and cannot see any data, e.g. in Group Management

**To Reproduce**
Steps to reproduce the behavior:
1. Clean installation on Cen

[2020-10-30 10:59] 11500606 commented on #8340
@snipe Any help please? because we wanne upgrade but we get error's

[2020-10-30 11:08] davidmatthews85 opened #8651 "Upgrade to v5.0.4 - Backup GUI not working 500 error"
System Information
Ubuntu 20.0.4
Snipe-IT version
v5.0.4 build 5452 (gc93f4ef0d)
Software License
AGPL3
PHP Version
7.4.11
Laravel Version
6.18.10

CLI backup works fine, although on the GUI - when clicking on Backups (admin/backups)

Presented with the following error in debug:

(2/2)                                     TypeError                                                                  Re

[2020-10-30 11:34] Mariano7717 commented on #8492
Whats your LDAP Filter? Make sure the user you are missing is within the scope of the LDAP Filter applied.
i.e.: _Filter applied to Users members of a specific AD group. Only AD users not appearing after a LDAP Sync are those not within that AD gorup_

[2020-10-30 11:41] Mariano7717 commented on #8492
Just saw it, not the issue

[2020-10-30 12:29] Quantum-Sicarius opened #8652 "Unable to execute backup on docker"
**Describe the bug**
Error 500 on creating a backup via GUI or CMD

**Expected behaviour**
Backup created

**Server (please complete the following information):**
 - Snipe-IT Version:  v5.0.4 - build 5452 (master)
 - OS: docker
 - Web Server: Laravel 6.18.10
 - PHP Version 7.2.24-0ubuntu0.18.04.7

**Desktop (please complete the following information):**
 - OS: Linux
 - Browser Firefox
 - Version 8

[2020-10-30 12:53] chillinglucifer commented on #8644
Update on the situation:

So I was able to have assets appear yesterday by using git to clone (as suggested in this: https://snipe-it.readme.io/docs/switching-to-a-git-install ) the master and migrated settings over. Did not touch the database. After that completed and I started WAMP, everything showed back up again. Great, right? Well...

I left it, just said "screw it not touching it it's workin

[2020-10-30 13:52] PiChG commented on #8628
Hi GustelDE,
we've had simmilar issue with our instance - all images were show properly despite QR codes that had link pointing to 127.0.0.0....
For us solution was to properly setup ENV variables.

Regards,
PiChG

[2020-10-30 15:01] fajterini commented on #8649
Hi I have the same issue on new installed 5.0.4 (windows) but import was working with 5.0.2. If this helps somehow :)
I have tried to enable/disable "AUTO_GENERATE ID" but this setting seems to have no impact. for me

Last edit: This issue seems to be only related to new Assests. I have now tested Consumables, Accessories, Components Import and no issue.

[2020-10-30 15:05] PiChG commented on #8649
For me it seems that some fields are lacking, but for now I have two instances PROD v4.9.4 and DEV v5.0.1
And in both cases imports are working fine - ofcourse after some tryouts with column names (usually up to 1hour of experimenting)

[2020-10-30 15:18] chillinglucifer commented on #8644
Sorry to constantly update this but there have been SO many weird things happening, I'm not sure what to do at this point. Now it's only showing up on the server itself by accessing "localhost". I can remote into it and just use a browser to access so the database is usable now, but I can no longer access it remotely through the network. virtual host settings are set as described in the WAMP guide

[2020-10-30 18:22] mntsupport commented on #8595
Curious if anyone found a solution for this?

I'm also getting an error after upgrading to 5.0.4

`An error occurred while cleaning up the backups of Snipe-IT
Exception message: Trying to access array offset on value of type null
Exception trace: #0 /var/www/snipeit/vendor/spatie/laravel-backup/src/Tasks/Cleanup/Strategies/DefaultStrategy.php(47): Illuminate\Foundation\Bootstrap\HandleExceptions->

[2020-10-30 20:23] r-hardiman opened #8653 "Unable to backup database"
#### Expected Behavior (or desired behavior if a feature request)

A Successful backup

-----

#### Actual Behavior

"Backup failed because the dump process failed with exit code 1 : General Error : The system cannot find the path specified"

-----

#### Please confirm you have done the following before posting your bug report:

- [ yup ] I have enabled debug mode
- [ confirmed ] I have read [chec

[2020-10-30 21:03] Sylencer91 commented on #8503
Works for me. I deleted my Apache RP conf and did it exactly the same way again. When someone needs the config, feel free to comment here. Closing. Thank you.

[2020-10-30 21:03] #8503 closed, assigned to nobody

[2020-10-31 04:37] LSNIGHTSHOT commented on #8646
+1 for this feature

[2020-11-01 06:18] fajterini commented on #8653
Hi I am new to snipe it, but do you have correct settings of DB_DUMP_PATH in your .env file in c:\inetpub\wwwroot\snipeit\.env
I should be something like 'C:\\PROGRA~1\\MARIAD~1.0\\bin' or 'C:\\PROGRA~1\\MARIAD~1.1\\bin', depending your version  (Single quotation with two backslashes !!!!) ??

[2020-11-01 06:44] saranyalekshmanan commented on #8587
@snipe  Can you please explain why I am getting this issue ? I have configured the same in both Ubunthu and Windows. Still I am getting that issue ? Am is missing anything to configure ?

[2020-11-01 09:02] Raffudeen commented on #8625
is there any updates??

[2020-11-01 14:14] r-hardiman commented on #8653
I have done this but still get the same error.

[2020-11-01 23:55] kclifford20 opened #8654 "Cannot get CSR from parameter when setting up SAML"
#### Expected Behavior (or desired behavior if a feature request)

After clicking submit on the SAML detail entry screen, it should save and enable SAML.

-----

#### Actual Behavior

Error: openssl_csr_sign(): cannot get CSR from parameter 1

-----

#### Please confirm you have done the following before posting your bug report:

- [X] I have enabled debug mode
- [X] I have read [checked the Commo

[2020-11-02 00:07] Dimtar commented on #8636
Thanks for your reply @mschmidt291, I was able to exec into the container and run the upgrade script. Whilst the script seemed happy I can no longer access the system. No matter what it redirects to the setup page and just has a generic server error 500.

Below is the log from the script if that offers any insight.
[Snipe-IT Upgrade Log.txt](https://github.com/snipe/snipe-it/files/5472080/Snipe-IT

[2020-11-02 00:12] Dimtar commented on #8636
Ok slight update, I switched debug mode off and restarted the container. This let me back in but nothing is fixed.
If I re-enable debug mode I see the user page is still broken:
![image](https://user-images.githubusercontent.com/3172977/97819369-3b782d00-1cfc-11eb-90a8-57d54a2e9963.png)

Can provide whatever people need, just not sure what to provide exactly.

[2020-11-02 01:20] LecrisUT commented on #8650
Solved it unconventionally. After reinstalling dependencies with `sudo`, the authentication goes through. Probably there is a `php` path issue.

[2020-11-02 05:12] LSNIGHTSHOT commented on #8654
Based on this https://www.php.net/manual/en/openssl.installation.php try copying
https://github.com/openssl/openssl/blob/master/apps/openssl.cnf to C:\Program Files\Common Files\SSL\openssl.cnf

I had to paste mine to C:\usr\local\ssl\

<blockquote><img src="https://www.php.net/favicon.ico" width="48" align="right"><div><strong><a href="https://www.php.net/manual/en/openssl.installation.php">PHP:

[2020-11-02 05:22] kclifford20 commented on #8654
Legend! Thanks for your help! :)

[2020-11-02 05:22] #8654 closed, assigned to nobody

[2020-11-02 06:18] 119155012 opened #8655 "Feature Request: Custom export assets with Last Audit at Range"
### Server
 - Snipe-IT Version: v4.9.5 build 4482 (g5b68a321a)
 - OS: Ubuntu 18.04.5 LTS (Bionic Beaver)
 - Web Server: Apache
 - PHP Version: 7.2.24-0ubuntu0.18.04.7

### Describe feature request
The idea came out of wondering how many assets have been audited with the date interval. (e.g., last month, last year or last 45 days)
Currently we're using Excel filter function to set a date range afte

[2020-11-02 06:28] yanagha opened #8656 "Signature pad is too big and zoomed"
Hi,

We are using Version v5.0.0 - build 4484 (master).
In this version the signature pad is too big and itis not possible to sign. We tested on iPad and on PC.
Which css file should be edited?

UPDATE:

I've just updated to the Version v5.0.4 - build 5452 (master). The issue is the same
You can see the screenshot here https://ibb.co/P13gf4d
<img src="https://i.ibb.co/WBqfYFL/2-FDD702-E-2214-4-CAB

[2020-11-02 07:16] shoebwk opened #8657 "ldap got disabled after upgrading to 5.04 from 4.9.5"
#### Expected Behavior (or desired behavior if a feature request)

(what you expect to happen goes here)

ldap sync should be working as previous version
-----

#### Actual Behavior

ldap user not visible, when try to sync gets 500 error, when try to test ldap from admin panel get the message **ldap is not enabled, cannot test**

-----

#### Please confirm you have done the following before postin

[2020-11-02 07:24] denzfarid commented on #8656
+1, me too , after upgrade to v5, signature pad not sync, so very difficult
like this

Firefox version 82.0.2 (64-bit)
![ezgif com-video-to-gif(1)](https://user-images.githubusercontent.com/1294403/97840664-062d0880-1d17-11eb-83fb-f22615d65fbd.gif)

google chroome version 86.0.4240.111 (Official Build) (x86_64)
![ezgif com-video-to-gif(2)](https://user-images.githubusercontent.com/1294403/97844723

[2020-11-02 11:04] sinichi19 commented on #8646
if im not mistaken, asset name this field is for naming the same item like Computer Desktop we can filter using asset name all computer desktop,  i think work around for you is to add custom filed for computer name and make required in creation. or unique is you computer name is the asset tag.

want to request is can create multiple asset tag like for Printer = PRN0001 for desktop COMP002

[2020-11-02 14:05] dakide opened #8658 "PHP Version - Relase notes vs error message"
Just upgraded to the latest version using "php updgrade.php"
Even though the release notes say that this version requires PHP 7.1.3 or higher, I get the error that I need 7.2.0 or higher.

I'm guessing the release notes must be updated?

[2020-11-02 17:14] steve1673 commented on #8657
Adding a +1 to this, I'm also seeing this issue. If the OP doesn't respond, I can look at adding my troubleshooting info.

[2020-11-02 17:21] uberbrady commented on #8657
This usually means that you don't have the php-ldap extension enabled. I would probably only expect that if you had **also** changed your PHP version while you did the upgrade, and in that process accidentally missed the LDAP extension.

Can either of you check that and see? `php -i` isn't a perfect test, but running that and piping it with something like `|grep -i ldap` should give you something.

[2020-11-02 18:32] markr-metra-autosound-com commented on #8632
This is probably because of selinux is protecting the web folder from being written to:

semanage fcontext -a -t httpd_sys_rw_content_t "/path/to/directory(/.*)?"

You can also test that it is selinux by running setenforce 0 (but remember to turn it back on with setenforce 1 !!!! ) then trying to run your app

[2020-11-02 18:57] steve1673 commented on #8657
basic install info:

- Windows install on server 2019 / IIS.
- Debug not turned on yet, I'm trying to figure that out now. (sorry, i'm more of a hardware guy, this isn't as intuitive for me)
- Upgraded last week from 4.9.5 to 5.0.4. System was working fine for months prior to this.
- upgrade was via php upgrade..php with no other changes made. I didn't check LDAP at that point, as everything else

[2020-11-02 19:47] BradRSnipeIT opened #8659 "Import Issue"
**Describe the bug**
I have a standalone version of SNIPEIT (not on Internet). When I try to import your sample assets csv, I get the following error:

"Integrity constraint violation: 1048 Column 'requestable' cannot be null..." shows the query and the requestable entry is null.  Not sure where to go from here.

Thanks,
Brad

[2020-11-02 19:47] snipe commented on #8659
Please provide answers to the questions you deleted.

#### Confirm you have done the following before posting your bug report:

- [ ] I have enabled debug mode
- [ ] I have read [checked the Common Issues page](https://snipe-it.readme.io/docs/common-issues)

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2.

[2020-11-02 19:50] snipe commented on #8657
@uberbrady I wouldn't *think* that would be the reason. In v4, we checked to see whether or not the ldap functions existed. If they didn't (meaning php-ldap wasn't installed), you'd see that **ldap is not enabled, cannot test** message.

Can we see screenshots of your LDAP settings page (with sensitive info redacted, of course)

[2020-11-02 19:51] BradRSnipeIT commented on #8659
Please provide answers to the questions you deleted.

Confirm you have done the following before posting your bug report:
 I have enabled debug mode - No, just logged the import
 I have read checked the Common Issues page - Yes
Describe the bug
Describe the bug
I have a standalone version of SNIPEIT (not on Internet). When I try to import your sample assets csv, I get the following error:

"Integr

[2020-11-02 19:51] snipe commented on #8659
Do you have a value for "requestable" in your CSV?

[2020-11-02 19:57] steve1673 commented on #8657
Sure thing. Items to note:
- LDAP show enabled in the first checkbox.
- LDAP test fails as LDAP is not enabled.
- Attempting to make a change and save results in server error 500.

![image](https://user-images.githubusercontent.com/4225758/97913022-54d8a380-1d13-11eb-8fa3-713c3a206dde.png)

[2020-11-02 19:59] snipe commented on #8657
It looks like that error is triggered by:

[code]

So something is going wrong with the LDAP init process.

[2020-11-02 20:19] uberbrady commented on #8657
Yeah, I agree :/ -

@steve1673 can you get us your `laravel.log` file? Usually in `storage/logs/laravel.log`. Maybe a missing migration? But I'd expect stuff to blow up all over the place if that were the case.

[2020-11-02 20:20] snipe commented on #8657
I'd expect that too, tbh. The LDAP migrations were a while back.

[2020-11-02 20:21] steve1673 commented on #8657
[laravel.log](https://github.com/snipe/snipe-it/files/5477827/laravel.log)

[2020-11-02 20:24] snipe commented on #8657
[code]

Did you run migrations?

[code]

[2020-11-02 20:25] steve1673 commented on #8657
not since I migrated to this server. I can run it now if you need me to

[2020-11-02 20:28] browntrouser commented on #8618
This was the fix for me!

[2020-11-02 20:29] snipe commented on #8657
Please do and try your LDAP again

[2020-11-02 20:30] steve1673 commented on #8657
C:\inetpub\wwwroot\snipe-it>php artisan migrate
**************************************
*     Application In Production!     *
**************************************

 Do you really wish to run this command? (yes/no) [no]:

Migrating: 2018_07_28_023826_create_checkout_acceptances_table

In Connection.php line 669:

  SQLSTATE[42S01]: Base table or view already exists: 1050 Table 'checkout_acceptanc

[2020-11-02 20:32] snipe commented on #8618
Great - since it looks like everyone is sorted here, I'm going to close this issue for now.

[2020-11-02 20:32] #8618 closed, assigned to nobody

[2020-11-02 20:33] snipe commented on #8618
Yes, we certainly support https - it's how we run all of our hosted customers. As long as the URL you access it from and the `APP_URL` match, it shouldn't be an issue.

[2020-11-02 20:33] snipe commented on #8657
Uggggh.... means your migrations table is donked. (There's nothing *we* do to donk it, mind you. We only ever write to that table, never ever delete from it.)

Can you show me the contents of your `migrations` table?

[2020-11-02 20:40] steve1673 commented on #8657
hopefully this is what you're looking for. We're a little out of my comfort zone working with databases, so feel free to point me in the right direction is this is incorrect.

[migrations.xlsx](https://github.com/snipe/snipe-it/files/5477899/migrations.xlsx)

[2020-11-02 20:47] cmaliwat commented on #8550
Everything seems to be fine now with newer versions of v5.

[2020-11-02 20:47] #8550 closed, assigned to nobody

[2020-11-02 20:59] snipe commented on #8657
You have 278 migrations, where you should have 291. My guess would be something somehow failed the first time that 2018_07_28_023826_create_checkout_acceptances_table migration was run.

Are you using a GUI, or... how are you interfacing with mysql?

[2020-11-02 21:06] steve1673 commented on #8657
HeidiSQL - https://www.heidisql.com/
the instructions I followed to set this up on windows / IIS are here: https://blog.teknex.com.au/snipe-it/snipe-it-installation-on-windows-server/

if the date you quoted is correct, then that was the previous install of snipe-it on an older server in AWS. we recently migrated to an azure Windows VM a few months ago. We didn't see any LDAP issues until the migr

[2020-11-02 21:37] jmartins1 commented on #8644
chillinglucifer, this is one of multiple issues I'm experiencing with the upgrade (from 4.9.5 to 5.0.0; tried up to 5.0.4). It appears to be affecting WAMP Server users (not sure about others). Running ( "composer install --no-dev --prefer-source) only produces fails. I'm sure Snipe-IT is working to resolve this issue. I opened a ticket myself #8601 10 days ago. I rolled my installation back to 5.

[2020-11-02 21:57] henningkessler commented on #8657
I had the same error messages and problems while I tried my migration from 4.9.3 to 5.0.3. This installation is running in a jail on FreeBSD 11.3. Unfortunately I already reverted to a snapshot as my maintenance window was closing...

[2020-11-02 21:59] snipe commented on #8603
So this is fun...

<img width="405" alt="Screen Shot 2020-11-02 at 1 56 36 PM" src="https://user-images.githubusercontent.com/197404/97923707-48ece180-1d13-11eb-8c4d-39ff2cfe7a6a.png">

(See #8656)

It's too big and too small. Schrödinger signature box :D

We're looking into this.

[2020-11-02 22:00] snipe commented on #8656
Can anyone tell me if this happens only on mobile v desktop?

[2020-11-02 22:01] snipe commented on #8603
Can anyone tell me if this happens only on mobile v desktop?

[2020-11-02 22:16] snipe commented on #8657
The date is just when the migration file was created. LDAP isn't working for you now because there were migrations that happened after that one that impact LDAP, but because it short-circuits at that one, they never run.

Try inserting a new record in the migrations table via your GUI where the `migration` field is `2018_07_28_023826_create_checkout_acceptances_table` and `batch` is 5, then try ru

[2020-11-02 22:21] snipe commented on #8656
Have either of you tried upgrading to the latest tagged release?

[2020-11-02 22:23] snipe commented on #8656
@Godmartinz From what I can tell, the OP's issue should only happen on mobile, so we may need to do a `@media` split on screen sizes. I'm not sure why that would have changed from v4 to v5, but the two reports from desktop users seems to be the same (the pointer being off a little, as we see in #8603)

[2020-11-02 22:52] WELLBOREIS opened #8660 "35 Users Out of 2500 Not Syncing - LDAP"
#### Please confirm you have done the following before posting your bug report:

- [X] I have enabled debug mode
- [X] I have read [checked the Common Issues page](https://snipe-it.readme.io/docs/common-issues)

**Describe the bug**
A clear and concise description of what the bug is.
There are approximately 35 users out of 2500 that do not update when LDAP sync is run from either CLI or GUI. There

[2020-11-02 23:08] uberbrady commented on #8660
We typically sync 'brand-new' users in v5 at about 1000-users-per-minute, and 'already-synced' users go at around 1000-users-per-30-seconds.

At 2500, you're *probably* going to be able to do an initial sync in around 2.5 minutes, and a subsequent sync in 1min 15secs.

If you run `php artisan snipeit:ldap-sync --json_summary` - what output do you get; do your users get synchronized?

Are your miss

[2020-11-02 23:29] saschafoerster commented on #8458
I also migrated after successfully updating everything and the lastest on another server and now: get the same error.

[2020-11-02 23:37] snipe commented on #8458
I'm still completely unable to reproduce this on any local or customer hosted instances :(

Because it's not happening on customer instances, this leads me to believe it's either a server setting or some random cached file. That said, we *are* seeing it with a very small handful of support-only customers, but at least one reported it starting from v4.9.3-4.9.5. The only thing I can think of that s

[2020-11-02 23:52] denzfarid commented on #8656
I use the desktop version, but the same thing seems to happen in the mobile version, I tried using Google Chrome with the Google Device Toolbar on the Inspect Element, and replaced it with the iPhone X device

thank you

![ezgif com-gif-maker](https://user-images.githubusercontent.com/1294403/97931793-05d94f80-1da1-11eb-9258-3a2a73907c95.gif)

[2020-11-02 23:52] snipe commented on #8656
What happens if you turn it to landscape mode on the phone?

[2020-11-02 23:57] denzfarid commented on #8656
this is when I use landscape mode on the phone
![ezgif com-gif-maker (1)](https://user-images.githubusercontent.com/1294403/97932108-c2331580-1da1-11eb-85d4-ad1c8bfcfb36.gif)

[2020-11-03 00:22] steve1673 commented on #8657
looks like it fixed something, but there are more errors
LDAP status is unchanged

php artisan migrate
**************************************
*     Application In Production!     *
**************************************

 Do you really wish to run this command? (yes/no) [no]:

Migrating: 2018_08_20_204842_add_depreciation_option_to_settings
Migrated:  2018_08_20_204842_add_depreciation_option_to_s

[2020-11-03 00:24] snipe commented on #8657
Further along, but yeesh... no idea how your migrations table got so mangled.

Now try inserting migration as `2018_10_18_191228_add_kits_licenses_table` and `batch` as whatever the highest batch number in your migrations table is, and re-run migrations.

[2020-11-03 00:28] steve1673 commented on #8657
got ar error with "1050 Table 'kits' already exists" this time.
can I assume that I need to follow your syntax for adding a line to the table for each of these errors? I can run through them all without having to converse over each one if that's the case

[2020-11-03 00:31] snipe commented on #8657
Yeah, you basically want to work through the migrations one by one so that your table looks like this. (The batch number doesn't matter really, nor does the ID of the row itself. The ID of the row itself will auto-increment, so no need to give it a value at all.)

[code]

Each time you run into a table or column doesn't exist error, just manually add whatever that migration is into the database an

[2020-11-03 00:32] steve1673 commented on #8657
gotcha. TY back in a bit.

[2020-11-03 00:41] steve1673 commented on #8657
fixed the following:
2018_10_19_153910_add_kits_table
2018_10_19_154013_add_kits_models_table
2019_02_07_185953_add_kits_consumables_table
2019_02_07_190030_add_kits_accessories_table

LDAP is now functional, and all users are visible!

TY for all of your help. Good luck trying to figure out why others have had this issue with migration, Ping me here if there's any info I can provide that may help

[2020-11-03 03:17] snipe opened #8661 "Stronger password requirement options - password can't be the same as username/email/firstname"
I'm just leaving this here so I can get my thoughts straight. It's - uh - kind of a stressful time this week (I'm from the 🇺🇸) , and my brain is a bit mushy because of it, so maybe rubber-ducking this with the universe will help me think it through better. Brain dumping, if you will.

I'm trying to add the option in `Admin Settings > Security` to disallow the user's password from bring the same as

[2020-11-03 03:40] sha1301 commented on #8643
Have the same issues.. Any update how to solve this problem?

[2020-11-03 03:48] snipe commented on #8643
Closing as duplicate of:

- #8630
- #8591
- #8571
- #8553
- #8552
- #8540

Please be sure to check closed issues [and the docs](https://snipe-it.readme.io/docs/installation-issues#call-to-undefined-method-laravelpassportpassportwithcookieserialization) before posting.

[2020-11-03 03:48] #8643 closed, assigned to nobody

[2020-11-03 04:10] dinhdobathi1992 commented on #7704
Dear all, I got this problem same as the author, I cannot see anything in histroy field as below
![image](https://user-images.githubusercontent.com/67835317/97949113-2c10e680-1dc5-11eb-9787-b49b17d2058c.png)

[2020-11-03 04:26] snipe commented on #8661
Welp. Rubber-ducking worked. :D I have a PR on develop now.

https://github.com/snipe/snipe-it/pull/8662

![rubber-ducking](https://user-images.githubusercontent.com/197404/97949893-e82ccb80-1d49-11eb-82b8-03984834f4d1.jpg)

[2020-11-03 05:13] yanagha commented on #8656
Hi @snipe  we tested on mobile, PC and iPad. The issue is the same. I have updated from  v5.0.0 - build 4484 to v5.0.4 - build 5452 master. The issue persists.
I think the canvas is too big.

[2020-11-03 07:40] tarlety commented on #8603
The `signature-pad.min.css` is missing.

It looks like `webpack.mix.js` tries to minify `signature-pad.css`, but it's just not there.

[code]

Here is my attempt to fix it (b031593) by correct copy target path and commit minified css file.

[code]

## Quick fix

Download the minified css file (b031593) and signature pad size shall be correct.

[code]

[2020-11-03 07:42] snipe commented on #8603
We call it directly in the file.

https://github.com/snipe/snipe-it/blob/master/resources/views/account/accept-asset.blade.php#L14

<blockquote><img src="https://repository-images.githubusercontent.com/14346979/164a6580-7d79-11e9-865f-eae87593e11a" width="48" align="right"><div><img src="https://github.githubassets.com/favicons/favicon.svg" height="14"> GitHub</div><div><strong><a href="https://gi

[2020-11-03 07:43] snipe commented on #8603
If you copy `signature-pad.css` in `public/css` to `public/css/signature-pad.min.css` does that help?

[2020-11-03 07:44] snipe commented on #8603
(Should not need to re-run npm for assets)

[2020-11-03 08:11] tarlety commented on #8603
On my self-hosted instance, yes it does help.
I am using snipe-it 5.0.4.

[2020-11-03 08:13] snipe commented on #8603
Okay, that's on develop now, will be in the next release

[2020-11-03 08:52] UserGoodtm opened #8663 "Messages (errors?) when trying to upgrade 4.9.5 to a version 5.0.4"
#### Please confirm you have done the following before posting your bug report:

- [ ] I have enabled debug mode
- [x] I have read [checked the Common Issues page](https://snipe-it.readme.io/docs/common-issues)

**Describe the bug**
Messages (errors?) when trying to upgrade 4.9.5 to a version 5.0.4

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...' - php upgrade.php
4. See error - M

[2020-11-03 08:57] snipe commented on #8663
Set global user.name and user.email first by order like it mentions above that error.

It's telling you what's wrong right there - the log file can't be written to. Check your user and group permissions on the `storage` directory and subfolders.

[2020-11-03 09:02] snipe commented on #8663
What happens when you just do a `git pull` from the command line?

[2020-11-03 09:35] UserGoodtm commented on #8663
<details>
`$ git pull
remote: Enumerating objects: 731, done.
remote: Counting objects: 100% (731/731), done.
remote: Compressing objects: 100% (140/140), done.
remote: Total 1121 (delta 651), reused 663 (delta 591), pack-reused 390
Receiving objects: 100% (1121/1121), 373.39 KiB | 0 bytes/s, done.
Resolving deltas: 100% (822/822), completed with 322 local objects.
From https://github.com/snipe/sn

[2020-11-03 09:37] imc67 opened #8664 "Crowdin translation to Dutch/Nederlands seems unmaintained?"
It looks like the Crowdin Dutch/Nederlands translations are unmaintained as suggestions and additions are not looked after for for a long time. Is the "owner" here on Github or known?

This week I've checked ALL strings and added/suggested changes as some basics were not followed:

1. The word "asset" is translated into 6 different words, so it's a surprise on which page in the GUI you'll find wha

[2020-11-03 09:45] UserGoodtm commented on #8663
I deleted the "personal" data from the logs (the data was there). After @ was the name that I deleted.

Global data is a .env file? Which field should I check?

[2020-11-03 10:38] robinjosekm opened #8665 "Column not found error after upgrading from v4.9.5 to v5.0.4"
#### Please confirm you have done the following before posting your bug report:

- [x] I have enabled debug mode
- [x] I have read [checked the Common Issues page](https://snipe-it.readme.io/docs/common-issues)

**Column not found error after upgrading from v4.9.5 to v5.0.4**
After upgrading to v5.0.4, I tried to check out an asset to a user and got the following error:

SQLSTATE[42S22]: Column no

[2020-11-03 10:41] BradRSnipeIT commented on #8659
No, as a matter of fact, when I saw the error, figured that I'd just try to import the example (https://snipeitapp.com/assets/downloads/sample-assets.csv) and it is giving me the same error.

[2020-11-03 11:17] UserGoodtm commented on #8663
The snipeitapp user on whose behalf I update snipeit has rights to the logs folder, create and delete files. The apache group (which includes the snipeitapp user) has the same rights as the snipeitapp user to create and delete files)

The Apache group had read access to the laravel.log file. I changed the read and write permissions of the laravel.log file for the apache group.

Made changes to git

[2020-11-03 12:01] someonept commented on #8621
Hi
I have the same problem

![image](https://user-images.githubusercontent.com/65561486/97982834-400c1680-1dcc-11eb-8a56-48803d8dbae4.png)

LDAP Sync works, but i cant login
Have you solved it？

[2020-11-03 15:09] WELLBOREIS commented on #8660
So I discovered that the users not synchronizing had spaces in their e-mail addresses (which was nice to know). As soon as I fixed this, I was able to sync just fine. The users originally imported just fine, however it must have allowed e-mail addresses to not be compliant in versions previous to 5. All's good in the neighborhood now! Thank you!

[2020-11-03 15:09] #8660 closed, assigned to uberbrady

[2020-11-03 15:20] snipe commented on #8660
Awesome news! And thanks for following up with the answer :)

[2020-11-03 15:23] snipe commented on #8663
You’re still seeing permission issues here though, so something is still off on your permissions.

Do you have SELInux enabled?

[2020-11-03 15:25] snipe commented on #8665
Looks like migrations didn’t run. What’s the output when you r8n the upgrade script?

[2020-11-03 15:29] UserGoodtm commented on #8663
SELinux status:                 disabled

[2020-11-03 15:40] UserGoodtm commented on #8663
Perhaps I did not look well in the instructions or it is not specified. I know that Snipeit is not installed as root. Snipeit is Installed from a regular user. What rights should the user and the group they belong to have on files and folders (the root folder of the snipeit installation)? For example, the snipeitapp user has rights to create and delete files, and the apache group that the snipeita

[2020-11-03 16:57] roratonet opened #8666 "Different currency for different company"
**Server (please complete the following information):**
 - Snipe-IT Version 5.0.4
 - OS: [e.g. Ubuntu, CentOS] Debian
 - Web Server: [e.g. Apache, IIS] Nginx
 - PHP Version 7.3

**Is your feature request related to a problem? Please describe.**
We have multiple companies all over the world using the same tool on one server, all with different currencies.
The main issue is that, when **EUR** is set

[2020-11-03 16:58] denzfarid commented on #8595
ticket close with some changes to the config/backup.php file

I see a difference in writing
on the link https://github.com/spatie/laravel-backup/issues/1047#issuecomment-647264286
it explains that currently spatie/laravel-backup uses snake_cased

I made changes to the config/backup.php
and replace with the original file from spatie
https://github.com/spatie/laravel-backup/blob/master/config/backup

[2020-11-03 16:59] robinjosekm commented on #8665
Hi,
Below is output I got while running upgrade.php script

snipe-it]$ php upgrade.php
Welcome to the Snipe-IT upgrader.

Please note that this script will not download the latest Snipe-IT
files for you unless you have git installed.
It simply runs the standard composer and artisan
commands needed to finalize the upgrade after.

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! WARNING !!!!!!!!!!!!!!!!!!!!!!!!!!!!!

[2020-11-03 17:04] snipe commented on #8665
Please post the contents of your `migrations` table

[2020-11-03 17:05] #8595 closed, assigned to nobody

[2020-11-03 17:07] snipe commented on #8595
Thanks for the update!

[2020-11-03 17:08] UserGoodtm commented on #8663
I changed the folder (snipeit/storage/appbackup-temp) permissions for the group
Message (error): mkdir (): Permission denied - fixed

Message (error) in the update process not fixed:

**M bin/upgrade-carbon
Discard changes [y,n,v,d,s,?]?**

<details>
`php upgrade.php
Welcome to the Snipe-IT upgrader.

Please note that this script will not download the latest Snipe-IT
files for you unless you have

[2020-11-03 17:10] denzfarid commented on #8595
You're welcome! 🤜🏻🤛🏽

[2020-11-03 17:12] robinjosekm commented on #8665
mysql> select * from migrations;
+-----+--------------------------------------------------------------------------+-------+
| id  | migration                                                                | batch |
+-----+--------------------------------------------------------------------------+-------+
|   1 | 2012_12_06_225921_migration_cartalyst_sentry_install_users               |     1 |
|

[2020-11-03 17:16] snipe commented on #8656
I think this issue is a duplicate of #8603

[2020-11-03 17:16] #8656 closed, assigned to Godmartinz

[2020-11-03 17:17] snipe commented on #8653
What do you have for your `DB_DUMP_PATH` settings?

[2020-11-03 17:21] snipe commented on #8657
Glad you're sorted, @steve1673!

@shoebwk any updates?

[2020-11-03 17:32] snipe commented on #8665
You'll want to follow the convo and process here to get your migrations table back on track: https://github.com/snipe/snipe-it/issues/8657#issuecomment-720721337

This seems like a duplicate of this issue.

I'm not sure why both of your migrations failed on the `2018_07_28_023826_create_checkout_acceptances_table` - there's nothing funny going on with that table that should cause it to fart out, a

[2020-11-03 17:49] denzfarid commented on #8603
thanks man! I really appreciate,
I tried the quick fix
and it's working

Firefox dekstop 82.0.2 (64-bit)
![ezgif com-video-to-gif(3)](https://user-images.githubusercontent.com/1294403/98021688-310e7e00-1e37-11eb-9e5f-fcf019f2feb5.gif)

mobile version iphone x, portrait
![ezgif com-video-to-gif(4)](https://user-images.githubusercontent.com/1294403/98021870-6dda7500-1e37-11eb-87e3-c4ebec15eaba.gif)

[2020-11-03 17:51] snipe commented on #8603
Awesome, thanks for the confirmation!

[2020-11-03 17:51] #8603 closed, assigned to Godmartinz

[2020-11-03 17:52] robinjosekm commented on #8665
Thank you for the quick response. I will work on the 'migrations' table and post the result. For your other question - this is not an old install. We started using from v4.9.

[2020-11-03 17:54] snipe commented on #8665
@robinjosekm TY for the additional info. 99.9999% that migration fires without issue, and in looking at it I don't see anything funny. I'm wondering if it might be a difference in MySQL versions or something like that. Sometimes small changes happen between point releases of MySQL/Maria that can cause unexpected results. We're looking into this to see if we can remedy this for users moving forward

[2020-11-03 17:55] richierg opened #8667 "Audit log file"
**Server (please complete the following information):**
 - Snipe-IT 4.9.5 docker

**Is your feature request related to a problem? Please describe.**
Most companies need to audit user action on asset (delete/create), we have these information in history but it could be nice to have them also in log file to centralize them.

**Describe the solution you'd like**
You could add a log output for each us

[2020-11-03 17:56] snipe commented on #8667
Your Activity Report should do that for you, no?

[2020-11-03 17:58] denzfarid commented on #8603
confirmed!
I also tried this way
and it works too
`cp resources/assets/css/signature-pad.css public/css/signature-pad.min.css`

![ezgif com-video-to-gif(6)](https://user-images.githubusercontent.com/1294403/98022913-cc542300-1e38-11eb-9ed3-c3dac3cd6626.gif)

[2020-11-03 18:02] snipe commented on #8603
I think the issue was that the `asset-acceptance.blade.php` was looking in the wrong dir for the minified file.

`<link rel="stylesheet" href="{{ mix('css/signature-pad.min.css') }}">`
(not working)

vs

`<link rel="stylesheet" href="{{ mix('css/build/signature-pad.min.css') }}">`
(working)

[2020-11-03 18:06] denzfarid commented on #8603
maybe,
because previously I did not find the file
signature-pad.min.css in the public/css directory, but when that file is added, PHEW!!! , it seems like magic

[2020-11-03 18:09] snipe commented on #8603
It's the `build` part that was missing. Webpack minifies the source css from the `resources/assets/css` file, and puts it into the `public/css/build` directory, but our CSS link in that blade was omitting the `build` part of the path I think.

[2020-11-03 18:13] denzfarid commented on #8603
absolutely right and i agree with that,

thank you so much @snipe and all team 🙏🏼

[2020-11-03 18:14] snipe commented on #8603
No problem - I'm glad we could get you sorted. :)

[2020-11-03 18:27] uberbrady commented on #8665
And the thing is, that table doesn't have anything weird in it -

| Field              | Type                | Null | Key | Default | Extra          |
|--------------------|---------------------|------|-----|---------|----------------|
| id                 | int(10) unsigned    | NO   | PRI | NULL    | auto_increment |
| checkoutable_type  | varchar(191)        | NO   | MUL | NULL    |

[2020-11-03 18:48] jovibroz opened #8668 "Reset Two-Factor Secret broken in v5?"
#### Please confirm you have done the following before posting your bug report:

- [X] I have enabled debug mode
- [X] I have read [checked the Common Issues page](https://snipe-it.readme.io/docs/common-issues)

**Describe the bug**
Reset Two-Factor Secret doesn't work

**To Reproduce**
Steps to reproduce the behavior:
Enable Two-Factor Auth and scan the QR.
Reset that Users Two-Factor Secret
No n

[2020-11-03 18:53] r-hardiman commented on #8653
So it's a little unorthodox but I have this:

DB_DUMP_PATH='C:\\Users\\*myusername*\\Documents\\bin' (With double brackets)

But only because that is where my "mysqldump.exe" is, running it from there works perfectly fine standalone and IIS users has the necessary permissions to run it so don't see any reason why that should be an issue. Something also worth noting is that the DB is being hosted o

[2020-11-03 18:58] snipe commented on #8653
What do you mean by double-brackets? You mean slashes?

`DB_DUMP_PATH='C:\\Users\\myusername\\Documents\bin` ?

Remote DB shouldn't matter. If it works via cli and not via GUI, it's almost always a permissions issue. Perhaps something with your application pool?

[2020-11-03 19:01] r-hardiman commented on #8653
My apologies I do mean slashes, it's been a long day, yes that is correct. I have also tried running:

`php artisan snipeit:backup`

However I get the same issue, no matter what folder I change the DB_DUMP_PATH to and no matter how many permissions I give, the error message does not change.

[2020-11-03 19:19] bahhhhh opened #8669 "Can't Select/Upload SAML IdP Metadata XML File in Safari"
#### Please confirm you have done the following before posting your bug report:

- [x] I have enabled debug mode
- [x] I have read [checked the Common Issues page](https://snipe-it.readme.io/docs/common-issues)

**Describe the bug**
I'm working on enabling SAML integration. When trying to upload the SAML IdP metadata file (an `.xml` file), Finder isn't allowing me to select the file.

**To Reprodu

[2020-11-03 19:24] mzack5020 commented on #8312
I don't actually see this endpoint at all. I'm receiving a 404 endpoint not found. I looked in api.php and don't see the endpoint anymore. Was this removed in the newest version?

<img width="1168" alt="Screen Shot 2020-11-03 at 2 23 06 PM" src="https://user-images.githubusercontent.com/12749393/98031260-35f41300-1de0-11eb-9edd-4ca58eeb7d1c.png">

[2020-11-03 19:34] snipe commented on #8312
@mzack5020 What version of Snipe-IT are you using?

[2020-11-03 19:38] mzack5020 commented on #8312
@snipe  Version v5.0.4 - build 5452 (master)

I actually see this 404 as well in the snipeit API documentation: https://snipe-it.readme.io/reference#usersidaccessories

[2020-11-03 19:49] #8613 closed, assigned to nobody

[2020-11-03 19:49] #8661 closed, assigned to nobody

[2020-11-03 20:22] mntsupport commented on #8595
You are a wizard! I love this platform and I love the community! Thank you all for all that you do!

[2020-11-03 20:23] fajterini commented on #8653
Hi can you check also #2454, solution was to check correct rights for windows\temp folder >> "I just couldn't get this working until I added in IIS_IUSRS with modify access to the C:\windows\temp directory." ?

[2020-11-03 21:36] bahhhhh opened #8670 ""Login Enabled" Reverts After Login Attempt"
#### Please confirm you have done the following before posting your bug report:

- [x] I have enabled debug mode
- [x] I have read [checked the Common Issues page](https://snipe-it.readme.io/docs/common-issues)

**Describe the bug**
I've set "Login Enabled" to "Yes" for a few of our users, yet when they try logging in, the setting reverts back to "No".

FWIW, our users are imported using LDAP.

**

[2020-11-03 21:36] snipe commented on #8670
@uberbrady want to take a look?

[2020-11-03 21:39] snipe commented on #8670
@bahhhhh Can you create a test user (NOT imported via LDAP) and see if you can reproduce it with that user? I'm trying to see if it's LDAP related or not.

[2020-11-03 21:43] bahhhhh commented on #8670
Good idea! I just tried and the non-LDAP user is able to log in.

[2020-11-03 21:45] mzack5020 commented on #8624
Addressed in my PR #8671

[2020-11-03 21:51] #8624 closed, assigned to nobody

[2020-11-03 22:50] snipe commented on #8595
@denzfarid I just pushed out a few changes on `develop` related to this - can you check it out and see if these still work for you?

[2020-11-04 01:37] denzfarid commented on #8595
perfect! @snipe  🤜🏻🤛🏽
thank you for changing the `config/backup.php ` file
<img width="1024" alt="gambar" src="https://user-images.githubusercontent.com/1294403/98059016-a9e1fa00-1e78-11eb-8b25-65e5c059fea2.png">

[2020-11-04 02:02] denzfarid commented on #8669
have you tried with other browsers?
i use firefox and google chrome they can do that

confirmed cannot browse `.xml` file if using safari
**Version 14.0 (15610.1.28.1.9, 15610)**
<img width="1236" alt="gambar" src="https://user-images.githubusercontent.com/1294403/98060476-40fc8100-1e7c-11eb-8edd-6448145e0d7f.png">

[2020-11-04 02:29] maodahua commented on #8621
I have no idea. So I install a old version snipeit and restore the backupdata before the upgrade.

[2020-11-04 05:50] Dimtar commented on #8636
Was able to run the upgrade script a slightly different way and it seems happy now, closing the issue.

[2020-11-04 06:35] ChristophAuch opened #8672 "The upgrade from version 4.9.2 to the latest version fails."
#### Please confirm you have done the following before posting your bug report:

- [x] I have enabled debug mode
- [x] I have read [checked the Common Issues page](https://snipe-it.readme.io/docs/common-issues)

**Describe the bug**
The upgrade from version 4.9.2 to the latest version fails. Attempts to solve the problem from ticket #8540 did not help.

**Server (please complete the following info

[2020-11-04 06:42] diegogarciadev opened #8673 "Add category field to accesories in user layout"
**Server (please complete the following information):**
 - Snipe-IT Version 5.0.4
 - OS: [e.g. Ubuntu, CentOS] CentOS
 - Web Server: [e.g. Apache, IIS] Apache
 - PHP Version 7.1.3

**Is your feature request related to a problem? Please describe.**
When a user login to the app he can't view accessories categories, no columns can be added to that view

**Describe the solution you'd like**
Add access

[2020-11-04 07:33] ArcheNoah77 commented on #8603
Thanks for the help! I will try it in the next days.

[2020-11-04 07:39] jovibroz opened #8674 "Slack integration per company"
**Server (please complete the following information):**
 - Snipe-IT Version 5.04
 - OS: [Ubuntu Server 20.04.1]
 - Web Server: [Apache]
 - PHP Version 7.4.3

**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

It would be nice with slack integration per company when full company support is enabled.

**Describe alternatives you've considered**

[2020-11-04 07:44] jovibroz opened #8675 "Add "Rooms" as a sub category to "Locations""
Server (please complete the following information):

Snipe-IT Version 5.04
OS: [Ubuntu Server 20.04.1]
Web Server: [Apache]
PHP Version 7.4.3
Is your feature request related to a problem? Please describe.

Describe the solution you'd like

It would be nice to create rooms and to associate assets to rooms in addition to Locations. A quick way to view equipment per room would be handy. I don't feel

[2020-11-04 08:01] dinhdobathi1992 opened #8676 "Cannot see history"
**Describe the bug**
I cannot see the data in history tab, all assets...

**To Reproduce**
Steps to reproduce the behavior:
1. Go to tab history in every assets
  you will see

_**Showing 1 to 2 of 2 rows**_

**Expected behavior**
User can see the history of assets
**Screenshots**

![image](https://user-images.githubusercontent.com/67835317/98084369-483c8280-1eae-11eb-8fdc-2784de4ffb9b.png)

**Ser

[2020-11-04 08:23] r-hardiman commented on #8653
Hi, yeah I did see that issue when doing my own research on the issue, I can confirm that IIS_IUSRS has modify access to the "C:\windows\temp" directory but I still get the same error message.

[2020-11-04 08:29] #8672 closed, assigned to nobody

[2020-11-04 09:32] JovinJovinsson commented on #8620
Additionally, I have confirmed that using PHPMailer I can send an email from the server without authentication.

[2020-11-04 09:37] xpfgsyb opened #8677 "Upgrade from 4.9.5 to 5.0.4 fails - undefined method plus composer errors"
#### Please confirm you have done the following before posting your bug report:

- [ ] I have enabled debug mode 
- [x] I have read [checked the Common Issues page](https://snipe-it.readme.io/docs/common-issues)

**Describe the bug**
I tried to upgrade from 4.9.5 to 5.0.4 with the upgrade.php script. There are already some errors during the upgrade, but no hints about missing php modules:
- "Call

[2020-11-04 09:46] Nusuthoid opened #8678 "Allow location manager to view location assets"
**Server (please complete the following information):**
 - Snipe-IT Version 4.8.0
 - OS: CentOS 7.4
 - Web Server: Apache 2.4.6
 - PHP Version 7.3.14

**Describe the solution you'd like**
It would be helpful if location manager could view managed location assets. In this way, manager could perform a physical inventory of all items checked out to the location. Manager would just log into Snipe-IT a

[2020-11-04 09:49] UserGoodtm commented on #8676
[https://snipe-it.readme.io/docs/overview](url) Verify Column Selection
![Снимок](https://user-images.githubusercontent.com/48224568/98095813-17ebe880-1e9c-11eb-99bd-fe0bf5032374.JPG)

[2020-11-04 11:06] robinjosekm commented on #8665
@uberbrady Please see the attached file. It has the output for SHOW INDEX FROM checkout_acceptances;
Also our Mysql version: Ver 14.14 Distrib 5.7.32, for Linux (x86_64)
![Selection_176](https://user-images.githubusercontent.com/46784162/98103948-ca7f7380-1ebb-11eb-89eb-cef8e6a96f85.png)

[2020-11-04 11:34] doekman commented on #8448
I'm seeing this message too. I think it originates from this file+line:

https://github.com/snipe/snipe-it/blob/master/resources/views/vendor/mail/html/message.blade.php#L5

I'm creating a new install. Mail settings should work.

<blockquote><img src="https://repository-images.githubusercontent.com/14346979/164a6580-7d79-11e9-865f-eae87593e11a" width="48" align="right"><div><img src="https://githu

[2020-11-04 14:24] richierg commented on #8667
Yes but Activity report data are saved in DB, if I want to export activity log to tools like ELK I need at least logfile.
But for example, if I need to add some security feature (alert when connexion is done outside office hours, or too many failed attempt) or just configure tools like fail2ban to avoid bruteforce attack on login page, I need to have login / logout / failed login information in lo

[2020-11-04 15:59] robinjosekm commented on #8665
Hi,
I made the migrations table similar to what you suggested. But the issue persists. May be I went wrong some where.Here is what I did
1. Restored installation and database. Now my version is v4.9.5 and the migrations table contains 278 lines.
2. I had another fresh SnipeIT instance with a different database. It doesn't have any data. Here the migrations table contains 297    lines.
3. I deleted

[2020-11-04 16:18] Liel-q4d opened #8679 "No Assets After Update To V5.0.4"
- Snipe-IT Version 5.0.4
 - OS: Ubuntu 20.04

- [V] I have enabled debug mode
- [V] I have read [checked the Common Issues page](https://snipe-it.readme.io/docs/common-issues)

today i tried to update from V4.9.5 to the latest version.
I'm using docker compose to install my snipe it.
this is my docker-compose file:

so i:
1.delete the old snipe it container.
2.delete the MSQL container.
3.pull the

[2020-11-04 17:03] mzack5020 commented on #8312
@zackbennis can you do a pull from master and confirm whether this is still a problem?

[2020-11-04 17:13] gitneko commented on #8644
I can reproduce the same issue with an upgrade from 4.9.5 to 5.0.4. There was no error during upgrade, checking `artisan migrate:status` shows everything green `Yes` under `Ran`.

[2020-11-04 17:21] sarang2502 commented on #8626
Same here on v5.0.5
It displays for one second and then gives out blank page.

[2020-11-04 19:32] bahhhhh commented on #8669
I'm also having login issues, so I can't try other browsers 😕 See [issue 8670](https://github.com/snipe/snipe-it/issues/8670)

[2020-11-04 19:50] chrisq321 opened #8680 "Location images not loading on view page"
#### Please confirm you have done the following before posting your bug report:

- [x] I have enabled debug mode
- [x] I have read [checked the Common Issues page](https://snipe-it.readme.io/docs/common-issues)

**Describe the bug**
The location view page does not show the uploaded location image

**To Reproduce**
Create a new location
Upload an image for the location
The image is only visible on

[2020-11-04 20:06] KnightAR commented on #8640
I can confirm, getting the same error when attempting to run a test email on the setup page

[2020-11-04 20:33] aamankavicius opened #8681 "Feature Request: Ability to assign Accessories to assets or upgraded Create Component Page that is similar to Create Accessory Page"
**Server (please complete the following information):**
 - Snipe-IT Version v5.0.3 build 5443 (g5f8221470)
 - OS: Windows Server 2016
 - Web Server: IIS
 - PHP Version: 7.4.1

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
- _Inability to assign accessories to assets_

**Describe the so

[2020-11-04 20:44] aamankavicius commented on #8676
Thanks! @UserGoodtm
Seems like this happens randomly where all of the columns just get unchecked.

[2020-11-04 21:53] Phx86 commented on #8492
Just an update on this, I go to the People tab on the left - LDAP Sync - Synchronize and it brought over my newer users. So my everything is working except the automatic sync from AD.

[2020-11-04 22:29] jackd268 opened #8682 "Error connection timed out after installation is complete."
I followed this instruction here: https://www.linkedin.com/pulse/snipe-it-configuration-ubuntu-jay-singh/?published=t
To install Snipe on Ubuntu.
Once the installation completes and I visit the IP address in the browser it gives me err connection timed out.
I moved the installation to the html directory in www but still the same issue.
What am I missing here?

[2020-11-05 01:50] 5quirrel commented on #8553
@nbently thanks buddy, you just saved me too!

[2020-11-05 01:58] pabs2112 opened #8683 "Test Sending Mail in Pre-Flight fails: Error undefined"
#### Expected Behavior (or desired behavior if a feature request)

Running the Test Sending Mail procedure completes

-----

#### Actual Behavior

Running the Test Sending Mail procedure fails: Error undefined

-----

#### Please confirm you have done the following before posting your bug report:

- [x] I have enabled debug mode
- [x] I have read [checked the Common Issues page](https://snipe-it.r

[2020-11-05 02:21] dinhdobathi1992 commented on #8676
Thank you @UserGoodtm
I got it, comlumn unchecked randomly and I can see them now.

[2020-11-05 02:21] #8676 closed, assigned to nobody

[2020-11-05 04:29] firsakura commented on #8621
I have same issue here, i can get LDAP synced and imported usere successfully. but when I try to login with one of imported AD accounts, it warns me the username or password is incorrect. Wondering if it's a known bug, or there is a fix already?

[2020-11-05 05:54] maodahua commented on #8621
V5.0.x have the issus. I can find a fix still now.

[2020-11-05 06:02] coristo opened #8684 "Ldap sync works, but logging do not"
#### Please confirm you have done the following before posting your bug report:

- [*] I have enabled debug mode
- [*] I have read [checked the Common Issues page](https://snipe-it.readme.io/docs/common-issues)

**Describe the bug**
Hi, i've just installed snipe-it v.5.0.4 (PHP version 7.2.24-0ubuntu0.18.04.7 , Laravel version 6.18.10 ) and i've got problem with ldap logging.
Sync works great, but

[2020-11-05 08:18] jovibroz commented on #8683
6.18.10 is your Laravel version. What Snipe-IT version? How does the .env look?

[2020-11-05 08:54] davidschoefberger commented on #8458
Hi @snipe,

we are having the same issue using v5.0.4, it started around v4.9.5. I have changed the mentioned method and enabled debug mode. That's the output:
[code]

[2020-11-05 08:59] linux-ops opened #8685 "https loading http css"
Why?

![image](https://user-images.githubusercontent.com/6948476/98219630-39c29980-1f88-11eb-8b82-28f3da86526d.png)

[2020-11-05 09:03] gilesytheking commented on #8675
This feature already exists in a fashion. You can use the "Parent location" to create rooms or locations within a location.

Just create a new location or room (Eg. Room 1) and then assign it to a parent location (eg. Office building).

Hope this helps

[2020-11-05 10:02] someonept commented on #8621
ok, did you manage to solve this problem with the downgrade?
Which version are you using now ( working version) ?

[2020-11-05 10:23] maodahua commented on #8621
I use V4.9.55 now. V4.x is work fine, I use this version for produce

[2020-11-05 10:25] #8685 closed, assigned to nobody

[2020-11-05 10:26] linux-ops commented on #8685
nginx proxy  https > http  .

[2020-11-05 10:27] mstefan21 commented on #8684
Hi we have a same problem and our solutions was:
- remove query from field "LDAP Active flag"
- fill "LDAP FIlter" to query for only active users (active for us mean, can login) "&(cn=*)(objectClass=inetOrgPerson)(AccountActive=TRUE)"

And all is working, we can see all peoples from "ou=people,dc=example,dc=org" in assets and only peoples with AccounActive=TRUE can login

[2020-11-05 10:29] mstefan21 commented on #8679
After update you need to run migrate command inside php container with app. From update page:
[code]

[2020-11-05 11:07] kevincRUN974 opened #8686 "ERROR: Please check the form below for errors"
#### Please confirm you have done the following before posting your bug report:

- [*] I have enabled debug mode
- [*] I have read [checked the Common Issues page](https://snipe-it.readme.io/docs/common-issues)

**Describe the bug**
A clear and concise description of what the bug is.
When i click on "save" from ldap setting, i have the error : Please check the form below for errors.
But debug mode

[2020-11-05 11:43] firsakura commented on #8621
Mine is

Snipe-IT versionv5.0.5-pre build 5457
PHP Version7.2.34
Laravel Version6.18.10

I just built it up, never tried lower versions.

[2020-11-05 11:50] fredericOfTestfabrik opened #8687 "Add user via SAML on login"
**Server (please complete the following information):**
 - Snipe-IT Version 5.0.4

**Is your feature request related to a problem? Please describe.**
It appears that in order to login with saml, I already need an account in snipe-it. At least there should be an option that creates an user automatically.

**Describe the solution you'd like**
Implement a flag that creates a user from saml data, if t

[2020-11-05 12:18] coristo commented on #8684
I've only active users in this group, so i'm not using LDAP active flag...
my LDAP Filter is &(cn=*)
and LDAP Authentication query is uid
so it should work...

but still nothing. After many other configs sync still works, but login with ldap not...

[2020-11-05 15:16] hixair commented on #8687
I think that what you are asking for is provisioning.
There is a SCIM feature to do that but i am not sure that the SAML component used by snipe-it allows it (and you IDP has to support SCIM also).
Your IDP probably provides an LDAP interface, you could sync with the LDAP to provision accounts into snipe-it (with the proper account address so that they can login).

[2020-11-05 17:05] jackd268 commented on #8682
serveradmin@llp-snipe-it:/var/www/html/snipeit$ tail -f storage/logs/laravel.log
#26 /var/www/html/snipeit/vendor/laravel/framework/src/Illuminate/Foundation/Exceptions/Handler.php(403): Illuminate\\Routing\\ResponseFactory->view('errors::500', Array, 500, Array)
#27 /var/www/html/snipeit/vendor/laravel/framework/src/Illuminate/Foundation/Exceptions/Handler.php(295): Illuminate\\Foundation\\Except

[2020-11-05 17:35] snipe commented on #8682
Well, you should probably follow our docs, not some random LinkedIn thing. We’ve spent hundreds of hours on our documentation, so you’re going to have to forgive me for not giving a shit about that LinkedIn post.

You also failed to answer the basic questions we have set up. Versions. OSs, installs, etc.

We want to help you, but you have to help us help you

[2020-11-05 17:42] pabs2112 commented on #8683
I installed SnipeIT via GIT a few weeks ago. I am unsure how to determine the version that was installed.
Regarding the .env file, I'm assuming you're interested in the Outgoing Mail Server Settings:
`# --------------------------------------------`
`# REQUIRED: OUTGOING MAIL SERVER SETTINGS`
`# --------------------------------------------`
`MAIL_DRIVER=smtp`
`MAIL_PORT=25`
`MAIL_USERNAME=░░@░░░░░░

[2020-11-05 17:44] jackd268 commented on #8682
OS is Ubuntu 18.04
Fresh install.
Web Server: Apache
PHP: 7.2.24
What method you used to install Snipe-IT=manual installation
The installation was in the /var/www/ directory but trying to troubleshoot the issue I moved it into the /var/www/html/ directory but still the same issue: This page isn’t working192.168.49.129 is currently unable to handle this request.
HTTP ERROR 500

[2020-11-05 18:01] snipe commented on #8682
A 500 error would usually throw something into the app log. Is there anything useful there?

[2020-11-05 18:10] jackd268 commented on #8682
[2020-10-16 20:32:09] production.ERROR: PDOException: SQLSTATE[HY000] [1698] Access denied for user 'root'@'localhost' in /var/www/snipeit/vendor/doctrine/dbal/lib/Doctrine/DBAL/Driver/PDO$
Stack trace:
#0 /var/www/snipeit/vendor/doctrine/dbal/lib/Doctrine/DBAL/Driver/PDOConnection.php(27): PDO->__construct('mysql:host=127....', 'root', '64-SALTED-orang...', Array)
#1 /var/www/snipeit/vendor/larav

[2020-11-05 19:09] Relix360 commented on #8686
@kevincRUN974 please check that the  minimum password length is >= 8