[2020-11-05 19:37] someonept commented on #8621
Is this Snipte-IT version ( Snipe-IT versionv5.0.5-pre build 5457 )  working correctly ?
Does this problem still not occur?

[2020-11-05 19:56] jackd268 commented on #8682
[2020-10-16 20:32:09] production.ERROR: PDOException: SQLSTATE[HY000] [1698] Access denied for user 'root'@'localhost' in /var/www/snipeit/vendor/doctrine/dbal/lib/Doctrine/DBAL/Driver/PDOConnection.php:27
Stack trace:
#0 /var/www/snipeit/vendor/doctrine/dbal/lib/Doctrine/DBAL/Driver/PDOConnection.php(27): PDO->__construct('mysql:host=127....', 'root', '64-SALTED-orang...', Array)
#1 /var/www/snip

[2020-11-05 20:07] roratonet commented on #8477
Maybe using the **Permissions** section in **Group Management**, the way that I can create groups of users which have permissions to different locations.

[2020-11-05 20:47] jackd268 commented on #8682
I have been making so many changes since yesterday mainly permission changes and restarting services. The most recent change I did was recreating the MySQL user and privileges outlined in the documentation steps and now I am able to load the Pre-Flight page. Still not sure if that was the problem all along or not though which bugs me.

[2020-11-05 21:36] Relix360 commented on #8683
@pabs2112 you dont have the MAIL_HOST= variable on the .env?

[2020-11-05 22:55] pabs2112 commented on #8683
Oops... It does have it... I just forgot to post it:
`MAIL_HOST=░░░.░░░░.com`

Also, in the Laravel console, after running the test, 2 Messages and 3 Exceptions. For each of these includes a stacktrace. It would be a lengthy post to include everything. I can provide all if it would help.

[2020-11-05 23:20] sanjay900 opened #8689 "LDAP Synced Users with Login Disabled show error 500 instead of not allowing login"
#### Please confirm you have done the following before posting your bug report:

- [ ] I have enabled debug mode
- [x] I have read [checked the Common Issues page](https://snipe-it.readme.io/docs/common-issues)

**Describe the bug**
When a user is syncronised from LDAP, and their login is disabled, then if they try to log in, they will be met with a 500 error instead of actually logging in. We enc

[2020-11-06 01:51] linux-ops opened #8690 "How to let ordinary users see Dashboard？"
**Server (please complete the following information):**
 - Snipe-IT Version  5
 - OS: [e.g, CentOS]
 - Web Server: [e.g.nginx】

[2020-11-06 05:19] danielewood commented on #8687
I too would appreciate such functionality, even if limited to auto-creation of user on first login of said user as far as provisioning and put them in a group that I can grant a default set of permissions for all users.

Right now I generate a CSV using GAM from my GSuite tenant and then import that, I would prefer to not have to do this manual step.

We use GSuite Business, not Business Plus, whi

[2020-11-06 05:25] BayuRendragraha opened #8691 "HTTP Error 500 currently unable to handle this request"
#### Actual Behavior

(When i Opened our company Asset management Systems with Snipe-IT Based, it cannot be open. it Shows "is currently unable to handle this request. HTTP Error 500")

-----

#### Please confirm you have done the following before posting your bug report:

- [ ] I have enabled debug mode
- [X ] I have read [checked the Common Issues page](https://snipe-it.readme.io/docs/common-iss

[2020-11-06 05:25] kevincRUN974 commented on #8686
Omg was just that :O Thank you a lot it's working!

[2020-11-06 05:26] kevincRUN974 commented on #8686
PS: I close the issue (again) thannks!

[2020-11-06 05:26] #8686 closed, assigned to nobody

[2020-11-06 06:31] shubham779 commented on #8477
Maybe instead of using Permissions, it will be easy if we get a tag in user profile, something called as "Companies Access" which have and drop-down list with check box in it so that we can select the companies that need to allow for the user. and the companies access tag can take a data from the companies created. It will become to easy rather than managing the Permissions in Group Management sec

[2020-11-06 06:52] fredericOfTestfabrik commented on #8687
Unfortunately my IDP does not have a LDAP interface, as far as i know. I agree with @danielewood, that auto-creation on first login in would be enough, at least for my use case.

[2020-11-06 07:15] diegogarciadev commented on #8626
I've found on this file: **resources/views/reports/unaccepted_assets.blade.php** the following content:

``
data-url="{{route('api.maintenances.index') }}"
``

![image](https://user-images.githubusercontent.com/5694236/98337167-7a61f780-2008-11eb-83c4-ad2740cec8c7.png)

[2020-11-06 08:33] Quantum-Sicarius commented on #8652
Any idea on this?

[2020-11-06 10:00] roratonet commented on #8691
_AH01276: Cannot serve directory /home/elabram/static.elabram.com/: No matching DirectoryIndex_

Can you post the configuration file of Apache?
Where is snipe-it installed (absolute path)?

[2020-11-06 11:30] diegogarciadev opened #8692 "Old pending acceptances remain when checkin"
#### Please confirm you have done the following before posting your bug report:

- [x] I have enabled debug mode
- [x] I have read [checked the Common Issues page](https://snipe-it.readme.io/docs/common-issues)

**Describe the bug**
When you have an asset with pending acceptance and the item has not been accepted, if you return the item to stock (check in) the assets remains in pending acceptance.

[2020-11-06 11:44] diegogarciadev commented on #8626
![image](https://user-images.githubusercontent.com/5694236/98362585-ca9f8080-202d-11eb-8b04-4d73e669b244.png)

[code]

[2020-11-06 14:05] henningkessler commented on #8657
I tried the same approach but altering the migration tables did not fixed the problem  for me still getting:
[code]
if I try to test LDAP

this is what I did to my migrations table:
[code]

[2020-11-06 15:16] jackd268 commented on #8682
I have been making so many changes since yesterday mainly permission changes and restarting services. The most recent change I did was recreating the MySQL user and privileges outlined in the documentation steps and now I am able to load the Pre-Flight page. Still not sure if that was the problem all along or not though which bugs me.

[2020-11-06 15:16] #8682 closed, assigned to nobody

[2020-11-06 15:17] jackd268 commented on #8682
I will close this ticket. Thanks.

[2020-11-07 08:13] saschafoerster commented on #8458
I played around with the config (I think I activated all the options), then I played with the LDAP-settings and in the end I did a
`sudo -u www-data php upgrade.php`
And now it works for me again! :) I am on Snipe-IT Version v5.0.5-pre build 5457 now.

[2020-11-07 09:46] sinichi19 opened #8693 "Upgrade Question and admin Permission"
Good Day,

To All,

First congrats to the Snipe-IT team for the great update, Keep safe and God Bless.

---

Questions:

1. Tried to upgrade from 4.9.5 to latest stable using git - php upgrade.php
My expected version is 5.0.4 but after the successful upgrade saw  the version is v5.0.5-pre ? this is the latest stable?

2. If I want to edit the admin permission and disable the delete function to ass

[2020-11-07 09:58] sinichi19 commented on #8690
none, only admin have access to dashboard
If im not mistaken there are feature request to also apply to the user the dashboard

[2020-11-07 12:39] diblasio commented on #8691
Just chipping in here. I ran into this same error after upgrading to latest MariaDB. After downgrading to an older version of MariaDB the problem is resolved. Details here on what led me to do this:
https://stackoverflow.com/questions/64677836/sqlstatehy000-general-error-1835-malformed-communication-packet-on-laravel

[2020-11-07 20:34] shoebwk commented on #8657
Since I revert back to old version, let me do the migration again.

[2020-11-07 20:53] shoebwk commented on #8657
Hi @steve1673 Could you guide me the command how you inserted records in migration table each time you encountered the error?

[2020-11-08 00:20] denzfarid commented on #8693
Question 1.  I think, because the upgrade.php php script, only pulls from the master branch, and currently that branch has the v5.0.5-pre version. In this pre version there were several bugs that were fixed in the previous version, such as signature box, cleanup backup etc.

Question 2. try by making a custom admin in the group,
https://DOMAIN-SNIPE-IT/admin/groups/create

[2020-11-08 03:51] sinichi19 commented on #8693
want to achive is when you choose user with admin rights you can also disable the delete function, if im not mistaken if the user have admin rights there is no option to disable the delete function, thats why want to edit from the source code if possible. thanks

[2020-11-08 05:12] denzfarid opened #8694 "Feature Request: Custom Tooltips info"
Hello again, what if there is a menu to make custom tooltips info like this.
<img width="506" alt="image" src="https://user-images.githubusercontent.com/1294403/98457494-82619900-21ba-11eb-98c6-b19c3b763f38.png">

because I see that this tooltip only has Predefined Kits, and nothing else

<img width="530" alt="image" src="https://user-images.githubusercontent.com/1294403/98457522-d1a7c980-21ba-11e

[2020-11-08 05:25] denzfarid commented on #8693
100% absolutely correct, but what I mean is, if you really want the admin group to not be able to delete, you should not select the group into the admin's permissions, but by custom
https://develop.snipeitapp.com/admin/groups/15, because if you edit the file directly from the source code, maybe you won't get the benefit of upgrading by using the upgrade.php script, it's certain that your source do

[2020-11-08 07:28] sinichi19 commented on #8693
@denzfarid  yes sir i understand,. only want is have like admin access have dashboard, and other admin rights but only no delete, only the super admin have delete permission.  and if this possible to edit the policy for admin via source code i will try it. thanks

[2020-11-08 07:48] susumuf commented on #8454
I bet snipeit.sh for ubuntu must be fixed as below;

[code]

[2020-11-09 01:43] BayuRendragraha commented on #8691
Thanks for the link, we did upgrading the PHP version and the error not appear anymore. i think this issue already solved. Thanks guys

<blockquote><img src="https://cdn.sstatic.net/Sites/stackoverflow/Img/apple-touch-icon@2.png?v=73d79a89bded" width="48" align="right"><div>Stack Overflow</div><div><strong><a href="https://stackoverflow.com/questions/64677836/sqlstatehy000-general-error-1835-malfo

[2020-11-09 01:43] #8691 closed, assigned to nobody

[2020-11-09 03:31] aminoacidity opened #8695 "php upgrade.php stuck at 4.9.4"
#### Expected Behavior (or desired behavior if a feature request)

php upgrade.php upgrade to 5.0

-----

#### Actual Behavior

upgrade show nothing more to pull at is stuck at 4.9.4

-----

#### Please confirm you have done the following before posting your bug report:

- [x] I have enabled debug mode
- [x] I have read [checked the Common Issues page](https://snipe-it.readme.io/docs/common-issues

[2020-11-09 03:37] aminoacidity commented on #8695
output of php upgrade.php

`Welcome to the Snipe-IT upgrader.

Please note that this script will not download the latest Snipe-IT
files for you unless you have git installed.
It simply runs the standard composer and artisan
commands needed to finalize the upgrade after.

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! WARNING !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!! If you have any encrypted custom fields, BE SURE TO ru

[2020-11-09 04:27] ghost commented on #8518
I just upgraded from 4.9.x to v5.0.5-pre - build 5457 (master) and have the same problem.
![image](https://user-images.githubusercontent.com/1732243/98500235-4d734600-228f-11eb-9b3b-f6b8d34f9131.png)

Branch is: master
Type is: patch
Current version is: v5.0.4-35-g6618e88a9
Running: git rev-parse master v5.0.4
PHP: 7.3.19-1~deb10u1
Webserver: nginx/1.14.2
DB: mysql 10.3.25-MariaDB-0+deb10u1 Debian

[2020-11-09 04:44] TheBigT2020 opened #8696 "Issue installing Snipe-It on Hostgator"
Hi All. I tried to use hostgator's Softaculous software installer to install SnipeIt. It says that all has been done properly. Checked that the database is setup, user created, everything seems to be as expected. BUT.....

When clicking on the (supposed) snipeIt installation (mydomain/public) I get a 500 internal server error. When i check the app error log, (public/error_log) it says this :

[09-

[2020-11-09 05:51] PengKuang opened #8697 "Unauthenticated - AuthenticationException - No matching records"
#### Please confirm you have done the following before posting your bug report:

- [ x] I have enabled debug mode
- [ x] I have read [checked the Common Issues page](https://snipe-it.readme.io/docs/common-issues)

**Describe the bug**
Cannot log in successfully using existing credentials to the system

PDOException: SQLSTATE[42522] Column not found: 1054 Unknow column 'ad_append_domain' in 'field

[2020-11-09 06:34] PengKuang commented on #8697
btw, I didn't try 'php artisan migration' since I'm using a new installation to connect to a database with the old data.

I backed up the previous database and imported it to the new database.

So I'm not sure if I run the migration command, it will erase the tables and records I already imported to the new database.

Also,  since I couldn't upgrade the old snipeit due to retiring server OS centos

[2020-11-09 08:12] stefantrav commented on #8458
does anyone have found a solution, i am pretty much stuck

![image](https://user-images.githubusercontent.com/35542705/98515645-a4672400-226b-11eb-9635-5f67c7a6645d.png)

[2020-11-09 08:24] saschafoerster commented on #8458
@stefantrav Do you use LDAP? And are you on the same version as I am? After upgrading and changing some LDAP-options it started to work again for me.

[2020-11-09 08:35] stefantrav commented on #8458
@saschafoerster never mind, it turned out that i was missing an php-extention
(tecnickcom/tc-lib-barcode 1.15.20 requires ext-bcmath * -> it is missing from your system)

never had any upgrade issues within 4.x, but with 5.x
i've run the upgrade.php again and it worked this time

[2020-11-09 08:39] PengKuang commented on #8697
I eventually ran the php artisan migrate command and got logged in successfully. However, I encountered a new error。

It's super weird that there are correct records when I logged in as a regular user but when I logged in as an admin instead, there are no records found. I can see a total number but all specific records are empty. It says no matching records.

what I've done is:

copied the files i

[2020-11-09 10:10] MandoYoda opened #8698 "Issues with Setup - LDAP (Possible SMTP?)"
#### Please confirm you have done the following before posting your bug report:

- [x ] I have enabled debug mode
- [x ] I have read [checked the Common Issues page](https://snipe-it.readme.io/docs/common-issues)

**Describe the bug**
Fresh install
I have tried to sync our Snipe install to LDAP to be able to import the users. However I keep getting the error:
Failed to authenticate on SMTP server

[2020-11-09 10:19] bhillebrand-enee commented on #8697
**Same here:**
We are getting HTTP 401 on XHR datatable requests following an upgrade from Snipe 4.6.x to 5.0.4.
Apache 2.4, PHP 7.3.23 with a MariaDB 10.3.25 db backend.

**Have done the usual troubleshooting steps:**
- composer dump-autoload
- composer clear-compiled
- php artisan config:clear
- php artisan view:clear
- php artisan cache:clear
- php artisan route:clear

[
![401 on XHR](https://u

[2020-11-09 11:43] d0lm3n opened #8699 "SnipeIt-v5.0.4 Unable to connect to LDAP directory!"
#### Please confirm you have done the following before posting your bug report:

- [yes ] I have enabled debug mode
- [ yes] I have read [checked the Common Issues page](https://snipe-it.readme.io/docs/common-issues)

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

4. See error
tail -f /storage/log/laravel.log
[2020-11-09

[2020-11-09 14:27] PengKuang commented on #8650
Hi do you mean the composer dependenccies?  seems I encountered the same issue.  But I got the warning saying that composer shouldn't be run as root.  I reinstalled the dependency but didn't resolve the issue.

[2020-11-09 15:08] zackbennis commented on #8312
@mzack5020 - I am on the hosted version of Snipe, so I'm not in control of the version. I unfortunately don't have the time to set up a test environment. The hosted version is still 4.9.4, and experiencing the same issue outlined in the report.

[2020-11-09 15:23] JW-IT opened #8700 "Changes to Label settings seem to be ignored"
#### Please confirm you have done the following before posting your bug report:

- [no] I have enabled debug mode
- [x] I have read [checked the Common Issues page](https://snipe-it.readme.io/docs/common-issues)

**Describe the bug**
Changing e.g. Font Size in the Label Settings is written to Database (table: settings, field: labels_fontsize), but on next open of the Labels Settings page still sho

[2020-11-09 16:20] MuratDoganer opened #8701 "Failed to load image"
#### Please confirm you have done the following before posting your bug report:

- [x] I have enabled debug mode
- [x] I have read [checked the Common Issues page](https://snipe-it.readme.io/docs/common-issues)

**Describe the bug**
After updating to v5.0.4 from v4.9.5, all the images - including favicon and logo fail to load. When you upload a new image you can see its preview, but when you save

[2020-11-09 16:54] flexional commented on #8458
Just here to confirm that running `php upgrade.php` as the www-data user has fixed my installation.  Not sure what it did extra outside of what I had already done (mostly following steps from https://snipe-it.readme.io/docs/moving-snipe-it), but it did indeed resolve the issue.

<blockquote><img src="/favicon.ico" width="48" align="right"><div>Snipe-IT Documentation</div><div><strong><a href="http

[2020-11-09 16:58] ThoBur commented on #8518
The following code is a possible solution for the problem in line 1148. The 'parseInt' function removes the leading zero´s.

[code]

![add_button_create](https://user-images.githubusercontent.com/70443365/98571301-b4572600-22b4-11eb-91a1-da2adb7ecc48.PNG)

[2020-11-09 18:01] LSNIGHTSHOT commented on #8680
I have the same issue on Windows Server.

Please note that this in my opinion is not a fix but rather a workaround.

My workaround was to copy the locations folder from yoursnipe-itroot\public\uploads\locations folder and place them in yoursnipe-itroot\public\locations\locations folder.

[2020-11-09 18:28] pabs2112 commented on #8640
I am having the same errors as well. I have another open issue for the same thing but not much of a response yet.
[https://github.com/snipe/snipe-it/issues/8683](url)

[2020-11-09 18:39] pabs2112 commented on #8448
@doekman Were you able to resolve this issue?

<blockquote><img src="https://repository-images.githubusercontent.com/14346979/164a6580-7d79-11e9-865f-eae87593e11a" width="48" align="right"><div><img src="https://github.githubassets.com/favicons/favicon.svg" height="14"> GitHub</div><div><strong><a href="https://github.com/snipe/snipe-it">snipe/snipe-it</a></strong></div><div>A free open source IT

[2020-11-09 19:56] roratonet commented on #8695
Have you tried with a browser in Incognito Mode? Or clear your cookies - or use a different browser.

[2020-11-09 20:03] Go2ClassPoorYorick commented on #8321
I'm now seeing this behavior with a docker deployment after upgrading to v5.0.5, including the API redirect loop if i attempt to manually call the end point.

[2020-11-09 20:46] Go2ClassPoorYorick commented on #8321
Interestingly, creating and listing users via the asset window continues to work, although I am getting 500's when saving (it still goes through?)

[2020-11-09 21:20] dakide opened #8703 "Cannot update asset tag increment"
Version v5.0.4 - build 5452 (master)

I cannot update the Next auto-increment in the Update Asset Tag Settings page.

I put in the new tag number, click Save, get the green Success message.

When I go back to the settings page, the Next auto-increment is the old one.

-- Screenshots

Go to the settings page
![image](https://user-images.githubusercontent.com/53129107/98597613-32c1c100-22d1-11eb-9e5

[2020-11-09 21:33] chrisq321 commented on #8680
Thanks for the info, your workaround worked for me too.

[2020-11-09 21:47] giga-t opened #8704 "Moving Snipe IT to Ubuntu on Azure"
Hello everyone,

Unfortunately my strongest side is not Linux and Snipe IT, but I'm learning, and I would really appreciate your help very much.
Situation is following:
I have an existing, local Snipe IT self hosted (on Ubuntu server) which i would like to migrate to Cloud. I've created a VM on Azure, installed Ubuntu server and finished setting up Snipe IT. Now I'd like to migrate the data and ev

[2020-11-09 22:10] LecrisUT commented on #8650
Yes I've installed the composer dependencies using sudo, despite the warning. I'm not familiar with php and composer, for example where does it install the binaries when run as a particular user, how to print $PATH or debug missing binaries. Those steps would be useful in debugging this issue.

Other things that I've done is installing `mcrypt`, but I've since uninstalled it and it still works.

[2020-11-09 23:24] PengKuang commented on #8650
Did you reinstall composer globally or just regularly?  I'll try to reinstall it as root to see if it can resolve the issue.

[2020-11-09 23:56] LecrisUT commented on #8650
Hmm good point. Sorry, but that part I cannot recall. Based on how I usually set stuff up I expect that it was installed globally, and probably using sudo to do that.

[2020-11-10 01:00] Dimtar commented on #8636
Spoke too soon apparently, just went to use the program this morning and I am getting pushed to the /setup page again.

The only thing that would have happened is any docker container updates would have been applied automatically daily. I ran the upgrade script again but it didn't fix it. I enabled debug and I get a page starting with this:

` (3/3) QueryException

SQLSTATE[HY000]: General error:

[2020-11-10 01:07] PengKuang commented on #8650
I reinstalled composer both globally and locally, it doesn't resolve the issue for me. Did you all reinstall other dependencies such php, php extensions, etc.?

[2020-11-10 01:45] kstant opened #8705 "Cannot map Default Location on import"
#### Please confirm you have done the following before posting your bug report:

- [x ] I have enabled debug mode
- [ x] I have read [checked the Common Issues page](https://snipe-it.readme.io/docs/common-issues)

**Describe the bug**
There is a field called "Default Location" when I export from SnipeIT. But when I create an import CSV file and have  "Default Location" as one of my Header Field, i

[2020-11-10 01:49] uberbrady commented on #8644
One thing we _have_ definitely seen in the 5.x upgrade is that the `APP_URL` is a lot more strict than it was before. It needs to be set to whatever URL you want to see on the browser bar.

So if you see: https://my.domain.here in the URL bar, then you should have:

[code]

in your `.env` file. Definitely watch closely for the difference between `http://` and `https://` - it does make a difference

[2020-11-10 01:51] LecrisUT commented on #8650
Sorry, my history has been overwritten with debugging another webapp, so I cannot double-check. From what I know I did, and maybe you should check are:
- Check the ownership of the snipe-it folder for example I have `sudo chown -R caddy:web-server /var/www/snipe`
- Check that the `php-fpm` has the appropriate ownership, for example here is my web-socket:
[code]
(This has been a silent culprit in a

[2020-11-10 01:56] LecrisUT commented on #8650
One thing to note is that as soon as the configuration that worked was achieved, the `Laravel Debugbar` switched from dark-theme to light-theme. And yes, the `api` credentials were set when I accessed `Group management`

[2020-11-10 02:03] PengKuang commented on #8650
Thanks for the detailed info! I'll try to replicate and see if there is any luck.

Here is the description of my environment and issue: https://github.com/snipe/snipe-it/issues/8697

What I did differently is that I replaced the app key and /storage/private_uploads & public/uploads files (generated in this new installation) using the old ones in our old build

And my database resides in a separate

[2020-11-10 02:10] snipe commented on #8644
@chillinglucifer As @uberbrady mentioned, the `.env` is much more sensitive in v5 than it was in v4.x. This is due to a change in the underlying framework we use (Laravel), not something we specifically did.

My guess would be that you have `null` or `localhost` set as your `APP_URL` in your `.env`. Your `APP_URL` should be set to whatever the URL is that access your Snipe-IT installation, per the

[2020-11-10 02:11] LecrisUT commented on #8650
I'm not sure whether you can just regenerate a new `APP_KEY` and the credential of the users, but it doesn't hurt trying. If you have been upgrading from an older installation could [this](https://snipe-it.readme.io/docs/re-crypter) be relevant?

[2020-11-10 02:12] snipe commented on #8644
@chillinglucifer  also try running these commands:

[code]

[2020-11-10 02:17] snipe commented on #8601
Try running (on the instance you didn't `composer update` on):

[code]

This can hopefully give you a more verbose output for your composer install process.

[2020-11-10 02:20] snipe commented on #8604
Can you pull the latest from `develop` and see if that helps? We've implemented a possible fix for your super-duper-long-URL issue.

[2020-11-10 02:23] snipe commented on #8705
The exported headers and the import headers are not the same because they serve two different purposes (and because we don't use translated fields in the import process). You should be using the headers specified here: https://snipe-it.readme.io/docs/importing#sample-csv-downloads

<blockquote><img src="/favicon.ico" width="48" align="right"><div>Snipe-IT Documentation</div><div><strong><a href="h

[2020-11-10 02:25] snipe commented on #8636
I see a few answers here that might point you in the right direction:

https://stackoverflow.com/a/64689988
https://stackoverflow.com/a/64702607

(I do not recommend using the `PDO::ATTR_EMULATE_PREPARES` solution, as we have no idea what other errors that might introduce)

[2020-11-10 02:31] snipe commented on #8636
Looks like it's a bug introduced in MariaDB: https://jira.mariadb.org/browse/MDEV-24121

Best solution is to downgrade MariaDB and upgrade tp PHP7.3. It looks like this was recently fixed, but no word on when it will get pushed to docker hub yet, per the comments from just a few hours ago: https://jira.mariadb.org/browse/MDEV-24121?focusedCommentId=171567&page=com.atlassian.jira.plugin.system.issu

[2020-11-10 02:38] PengKuang commented on #8650
I'm not sure if that caused the issue. But my dnf packages looks as below:

oniguruma5php.x86_64                        6.9.6-1.el8.remi                         @remi-safe
php.x86_64                                  7.2.34-1.el8.remi                        @remi-modular
php-bcmath.x86_64                           7.2.34-1.el8.remi                        @remi-modular
php-cli.x86_64

[2020-11-10 02:46] snipe commented on #8650
What about openSSL, curl, zip, fileinfo and tokenizer?

<img width="616" alt="Screen Shot 2020-11-09 at 6 45 37 PM" src="https://user-images.githubusercontent.com/197404/98621309-d1432780-22bb-11eb-9dcb-4bea855e5836.png">

https://snipe-it.readme.io/docs/requirements

<blockquote><img src="/favicon.ico" width="48" align="right"><div>Snipe-IT Documentation</div><div><strong><a href="https://snipe-i

[2020-11-10 02:48] LecrisUT commented on #8650
It is just a version difference, but I don't think it is the culprit here. Based on my intuition, the main `php` extensions that should involve the authentication are `tokenizer` and `openssl`, which are included in `php-common`. You can check it with `php -m`, here is mine:
[code]
Edit: @PengKuang Please confirm in `CentOS` `php 7.2`

[2020-11-10 02:51] snipe commented on #8650
In some web servers though, you have to actually enable those as extensions/modules in your web server.  Having PHP compiled with them isn't always enough.

[2020-11-10 02:53] LecrisUT commented on #8650
How can we check that?

Also is `env[PATH] = /usr/local/bin:/usr/bin:/bin` in the `php-fpm` socket relevant to `composer`? How should it be set for non-sudo installations?

[2020-11-10 03:00] uberbrady commented on #8689
I think this PR, which was merged, should fix this: #8688 - and it looks like that was you that fixed it, @sanjay900 :)

Thanks again for your contribution! If you run upgrade.php that will put you on the latest `master` which should include your fix.

[2020-11-10 03:02] uberbrady commented on #8699
Protocol error... hrm. Could it be SSL/TLS-related? Or maybe either needing `STARTTLS` or needing ldap:// or ldaps:// in your ldap server name?

[2020-11-10 03:03] PengKuang commented on #8650
so when I switched back to the new app key and oauth_public & private.keys, I wouldn't be able to login anymore.

One thing I didn't mention is that, the old server is https, and on the new server I haven't yet installed any certificate yet. I'm not sure if this makes any difference when comes to authentication?

![image](https://user-images.githubusercontent.com/31425596/98622316-2e82bb80-2344-11

[2020-11-10 03:03] uberbrady commented on #8698
I think you actually need to click the `STARTTLS` checkbox in your LDAP settings? (It's a similar command as in SMTP, but it's for LDAP).

[2020-11-10 03:10] LecrisUT commented on #8650
The question is if the `Admin` account is authorized. [Create a new account](https://snipe-it.readme.io/docs/create-an-admin) with the newly generated key and try out. If it all works out you should be able to regenerate the credentials. I cannot remember where I've seen the guide for remaking the credentials, but someone should link it in this thread soon. All other authenthications like LDAP and

[2020-11-10 03:14] LecrisUT commented on #8650
Unrelated, but is the `OAuth` option in the settings to setup `snipe-it` as the OAuth server or to setup `OAuth` authentication on the `snipe-it` server? And how do we setup `OAuth` authentication to link to `KeyCloak` for example?

[2020-11-10 03:15] PengKuang commented on #8650
speaking of this, my php.ini file looks pretty strange, I didn't find a place to enable the extensions

[code]

my php.ini

[code]

[2020-11-10 03:15] snipe commented on #8650
@LecrisUT

Right now, the OAuth client setup doesn't really work. You'd be better off setting up a SAML integration, if KeyCloak offers it

[2020-11-10 03:18] PengKuang commented on #8650
I don't understand what you're saying, it's out of the scope of my knowledge...but in our organization, we use windows AD. And the old server had no problem with it. All login and records worked fine. I just copied the .env setting of the old server.

[2020-11-10 03:18] LecrisUT commented on #8650
@PengKuang I don't see anything wrong with that, mine is the same.
@snipe Could you include a tutorial for setting up `SAML`? KeyCloak does offer it, but as a newbie to it there are a lot of settings that is not intuitive how/which to set.
Edit: sorry for the confusing tangent.

[2020-11-10 03:20] snipe commented on #8650
@PengKuang

That comment was meant for @LecrisUT - apologies for adding to the confusion.

@LecrisUT

I'm not familiar with KeyCloak, so I'm not sure how to walk you through that exactly, but we do have docs on SAML here: https://snipe-it.readme.io/docs/saml

<blockquote><img src="/favicon.ico" width="48" align="right"><div>Snipe-IT Documentation</div><div><strong><a href="https://snipe-it.readme.

[2020-11-10 03:20] Dimtar commented on #8636
Thanks for taking the time to reply, its appreciated.

I'm running the MariaDB docker container from LinuxServer along with the official snipe-it docker container. Linuxserver seem to be active with updates so I will wait 24 hours for an update on the container and go from there.

[2020-11-10 03:21] snipe commented on #8636
@Dimtar 🤞 Please do let us know if an updated version (or downgraded version) resolves your issue. It certainly *does* seem like it would, given the timeliness of the convo on MariaDB's bug tracker and your issue.

[2020-11-10 03:31] firsakura commented on #8621
we still have this issue on this version  ( Snipe-IT versionv5.0.5-pre build 5457 )

[2020-11-10 03:34] snipe commented on #8621
@uberbrady can you take a look?

[2020-11-10 03:36] PengKuang commented on #8650
Ohh, just saw the link. It seems getting more and more complicated...the problem is my case is more like a migration rather than a upgrade. I only wanted the old data. And my install is a fresh one on a complete new server.

I wonder if a complete reinstallation would offset the effort for resolving this unauthenticated issue...

btw, the old snipe-it we were using is 4.x

[2020-11-10 03:39] snipe commented on #8704
This is really kind of outside the scope of Snipe-IT's support. The docs on moving Snipe-IT are "brief" because we do sort of expect you know a least a little bit about servers (even cloud servers) so that you can perform the kinds of operations like importing/exporting/edit the .env/changing permissions, etc. It would be impossible (and impractical) for us to document how to do this on every clou

[2020-11-10 03:47] snipe commented on #8701
What's the full URL of the image that's trying to be loaded?

[2020-11-10 03:48] snipe commented on #8701
My guess here is that you're missing the `http://` or `https://` from your `APP_URL` in your `.env`

[2020-11-10 03:56] snipe commented on #8697
This is going to be a bit of a cut and paste job, so forgive me if I reference the this ticket in the list. Sorry, just still trying to get as much info as I can. This was first (I believe) reported in #8458.

Thanks for reporting this, folks. As has been discussed in other tickets (specifically #8458 but probably also #8644, #8587, and #8650), this seems like it *must* be an environmental issue,

[2020-11-10 03:57] snipe commented on #8644
This is going to be a bit of a cut and paste job, so forgive me if I reference the this ticket in the list. Sorry, just still trying to get as much info as I can. This was first (I believe) reported in #8458.

Thanks for reporting this, folks. As has been discussed in other tickets (specifically #8458 but probably also #8644, #8587, and #8650), this seems like it *must* be an environmental issue,

[2020-11-10 03:57] snipe commented on #8587
This is going to be a bit of a cut and paste job, so forgive me if I reference the this ticket in the list. Sorry, just still trying to get as much info as I can. This was first (I believe) reported in #8458.

Thanks for reporting this, folks. As has been discussed in other tickets (specifically #8458 but probably also #8644, #8587, and #8650), this seems like it *must* be an environmental issue,

[2020-11-10 04:30] snipe commented on #8458
@flexional Thanks so much for confirming that, Kyle.

So far, it seems to me there are two main causes for this behavior:

### Option 1: Un-cleared files or commands not run

Something that wasn't run or a cache that should have been cleared that didn't get cleared through manual upgrading means that *does* get run when you run `php upgrade.php`.

If you look at [upgrade.php](https://github.com/sn

[2020-11-10 04:35] snipe commented on #8697
Please also see my summary here: https://github.com/snipe/snipe-it/issues/8458#issuecomment-724443005

[2020-11-10 04:35] snipe commented on #8644
Please also see my summary here: https://github.com/snipe/snipe-it/issues/8458#issuecomment-724443005

[2020-11-10 04:35] snipe commented on #8587
Please also see my summary here: https://github.com/snipe/snipe-it/issues/8458#issuecomment-724443005

[2020-11-10 04:37] snipe commented on #8458
Since it seems like everyone is sorted on this thread, I'm going to close it for now.

[2020-11-10 04:37] #8458 closed, assigned to nobody

[2020-11-10 04:38] snipe commented on #8458
Sorry, @bakfiets2 - I realized you didn't get an answer - I'd look at [my comment](https://github.com/snipe/snipe-it/issues/8458#issuecomment-724443005). Even if you're not running LDAP, you still need the `php-ldap` extension installed and enabled for your web server.

[2020-11-10 04:51] snipe commented on #8696
Hi @TheBigT2020 - we [don't reference that method anywhere](https://github.com/snipe/snipe-it/search?q=allow_call_time_pass_reference). My guess would be you'd have to reach out to HostGator or Softaculous.

Is there anything in your app log (`storage/logs/laravel.log`) that could shed some light?

[2020-11-10 04:56] snipe commented on #8695
Try manually doing a `git pull` and running the upgrade script again.

[2020-11-10 04:57] snipe commented on #8693
Only admins currently have access to the dashboard.

[2020-11-10 04:57] #8693 closed, assigned to nobody

[2020-11-10 04:58] snipe commented on #8690
There is a feature request for this

[2020-11-10 04:58] #8690 closed, assigned to nobody

[2020-11-10 04:59] snipe commented on #8687
I'm not sure that's really possible though, since a password is required to create a user and we wouldn't get that from SAML.

[2020-11-10 05:00] snipe commented on #8681
This is not currently on the short-term roadmap. We don't even recommend assigning assets to non-users, since at the end of the day, *someone* has to be responsible for it if it's lost or stolen.

[2020-11-10 05:02] snipe commented on #8694
We'll be fleshing out the tooltips over the next few versions.

@Godmartinz can you address the dark blue skin tooltip issue please?

[2020-11-10 05:03] aminoacidity commented on #8695
Yes. I have performed full browser - delete everything, incognito and new browser as well.

[2020-11-10 05:04] aminoacidity commented on #8695
Performed git pull and ran php upgrade.php. Cleared Browser and tried again. No change.

this is the git config if it helps

[core]
        repositoryformatversion = 0
        filemode = true
        bare = false
        logallrefupdates = true
[remote "origin"]
        url = https://github.com/snipe/snipe-it
        fetch = +refs/heads/*:refs/remotes/origin/*
[branch "master"]
        remote = or

[2020-11-10 05:08] snipe commented on #8680
This is not a long-term solution, as anything new that gets uploaded there will not be uploaded to the correct spot.

I'll have a fix out for you on master shortly.

[2020-11-10 05:09] #8680 closed, assigned to nobody

[2020-11-10 05:09] snipe commented on #8673
I'm not sure what you mean. Can you provide a screenshot please?

[2020-11-10 05:11] snipe commented on #8683
Laravel console? Not sure what you mean.

Yes please. I can't really tell what's happening here.

[2020-11-10 05:12] snipe commented on #8679
I'm not clear what's happening here. Does your admin dashboard actually show zero assets in the colored boxes at the top, or are the tables of asset, etc listings not showing? What's in your app error log?

[2020-11-10 05:18] snipe commented on #8670
Do you have LDAP-sync set up as well, or only login? We did fix an "activated" bug in the past week or so that was related to LDAP. If you pull latest from master, are you still seeing this?

https://github.com/snipe/snipe-it/commits/master/app/Services/LdapAd.php

<blockquote><img src="https://repository-images.githubusercontent.com/14346979/164a6580-7d79-11e9-865f-eae87593e11a" width="48" align=

[2020-11-10 05:18] snipe commented on #8669
You can always login with your local user by adding `/?nosaml` to the base Snipe-IT url

[2020-11-10 05:19] snipe commented on #8668
Is there anything in your app logs? I don't believe we've changed anything with 2FA reset.

[2020-11-10 05:21] snipe commented on #8667
Converting the audit logs into a text file is not currently on the short term roadmap, however you could certainly script this yourself by using the API or accessing the database directly.

[2020-11-10 05:21] #8667 closed, assigned to nobody

[2020-11-10 05:21] snipe commented on #8666
Currency is handled via location, not company. Changing that behavior is not on the short term roadmap.

[2020-11-10 05:21] #8666 closed, assigned to nobody

[2020-11-10 05:25] uberbrady commented on #8684
Try some of the tips here: https://snipe-it.readme.io/docs/advanced-debugging

It's possible that you're doing a config-cache (though I built the docker integration, and it doesn't do that unless you make it do that). The usual way to inject docker env-vars into your environment is to set them in your docker-env file and then re-launch your container (to make completely sure that the new variables

[2020-11-10 05:25] snipe commented on #8665
"Fresh installation here"? Do you mean from a fresh 4.9.5 installation? What was the output of the `php artisan migrate` when you ran the migrations?

[2020-11-10 05:27] snipe commented on #8665
I ask because importing a fresh v5 migrations table into an older database will cause catastrophic issues. Effectively you will have told v5 that it's already run all of the migrations it should have run (which it hasn't) so it will skip them - which means your tables won't be in sync with v5.

[2020-11-10 05:29] LecrisUT commented on #8650
@PengKuang Please use a gist to share large text files like the `php.ini`.
I believe on a `CentOS` repository installation, all of the modules are enabled by default, check the config files in `/etc/php.d`. For example here is from `/etc/php.d/10-opcache.ini`:
[code]
@snipe Thank you for looking into this issue. This issue should be fairly reproduceable on a clean `CentOS 8` installation, even on

[2020-11-10 05:31] snipe commented on #8650
Never run composer as sudo :( We mention it several times in the docs, and composer itself tells you not to do it.

Please see my additional comments here: https://github.com/snipe/snipe-it/issues/8458#issuecomment-724443005

[2020-11-10 05:35] snipe commented on #8650
If you've got debug mode turned on, you should be able to go to `/admin/phpinfo` and see what all extensions the web server thinks you've got installed (versus cli)

[2020-11-10 05:38] PengKuang commented on #8650
This is what in my cache folder:

[code]

I don't think I used php-fpm btw, or caddy. I don't know what they do.

[2020-11-10 05:38] LecrisUT commented on #8650
Yes, I've only ran `composer` as sudo for debugging purposes, to make sure there is no `PATH` issue or something similar. I have checked your comments in #8458 which is why I've mentioned that I might have run `php upgrade` as well.
As for the extensions, all of the rest are included in `php-common`. I've checked it back then with `php -m`.

You should include the point about `/admin/phpinfo` in t

[2020-11-10 05:45] LecrisUT commented on #8650
@PengKuang you are using `php-fpm`, it is included in the `dnf list --installed` you've provided. The `httpd` (CentOS name for Apache server) automatically loads it. If you don't also have `Nginx` or other webservers, in principle you don't need to worry about it, just make sure it is running.

As for `caddy` it is a web server like Apache, but much much easier to setup. I recommend @snipe to incl

[2020-11-10 05:48] aminoacidity commented on #8695
I feel stupid. I was git pulling into the wrong folder. All is good. Apologies for wasting everyones time.

[2020-11-10 05:48] #8695 closed, assigned to nobody

[2020-11-10 05:55] snipe commented on #8604
We now have this tagged in v5.0.5 - please let me know if upgrading resolves your issue.

[2020-11-10 06:04] snipe commented on #8695
@aminoacidity No worries :) Happens to the best of us. Glad you're sorted!

![miyakai-party](https://user-images.githubusercontent.com/197404/98634129-97801a00-22d7-11eb-8820-a07e99a4bdcd.gif)

[2020-11-10 06:10] PengKuang commented on #8650
this what I got when ran the recommended clean-up commands:

[code]

[2020-11-10 06:16] PengKuang commented on #8650
How can I do this? I don see there is option for me to navigate to this folder.

[2020-11-10 06:18] snipe commented on #8650
@LecrisUT

My guess would be running the `upgrade.php` did it.

I don't know Caddy at all, so that's not really possible at this point.

That would break things though, since the .htaccess is included with source and is currently designed to work out of the box. Any changes to that could break things for other people when they update their installations.

@PengKuang

It looks like something funny

[2020-11-10 06:18] LecrisUT commented on #8650
You should change the ownership of `snipe-it` to the webserver user and run the php commands as `sudo -u $webserver_user`. For `CentOS` and `Apache` it is `apache`.

`/admin/phpinfo` would refer to navigating the `snipe-it` url: e.g. `https://snipe-it/admin/phpinfo`.

[2020-11-10 06:25] LecrisUT commented on #8650
@snipe The reason I recommend [`Caddy`](https://caddyserver.com/docs/) is that it is super easy to setup on both the developer and client side, and why I recommend to look into it. That file is the only configuration needed to get the webserver working. I am migrating as much as possible to it.

Sorry I meant including the rewrites in `.htaccess` to the `Caddyfile`. But in this case it is not nece

[2020-11-10 06:30] PengKuang commented on #8650
I don't think the permissions are incorrect. I've check this multiple times. I ran the command above using my personal account at the organization, that's why I didn't have appropriate permission and needed to run them as sudo. But the snipe-it directory is in 755, storage & public/uploads are in 775; and their owner is snipit (which belongs to apache group) and the group is apache.

[code]

[2020-11-10 06:34] LecrisUT commented on #8650
But you have to run the `php` commands as that user in your case `sudo -u snipeit php ...`.
As you can see your user or `apache` do not have write permission so you have to do it as `snipeit`

[2020-11-10 06:36] snipe commented on #8650
Is the user you're running the cli cache:clear command part of the `apache` group? If not, you'll need to `sudo -u snipeit ...` as @LecrisUT mentioned. The user you're logged in as via cli isn't the same as the one your web server runs as, so while your server can modify files in your storage directory (assume the permissions on the subdirectories are correct), your user cannot.

[2020-11-10 06:36] diegogarciadev commented on #8673
![Screenshot_2020-11-10-07-33-23-384_com microsoft emmx~2](https://user-images.githubusercontent.com/5694236/98636523-53b50100-2327-11eb-8015-9dfe6fa98d2c.jpg)

If you go to: https://develop.snipeitapp.com/account/view-assets yo can't see or add accesories category to the view.

Regards.

<blockquote><img src="https://develop.snipeitapp.com/favicon.ico" width="48" align="right"><div><strong><a hre

[2020-11-10 06:41] PengKuang commented on #8650
This what inside my /etc/php.d/50-mysql.ini file

[code]

[2020-11-10 06:44] PengKuang commented on #8650
I think so, I add myself to the apache group, but probably that is not my primary group, since my primary group is it-staff.

What does sudo -u snipeit do? I can change the owner of the snipe-it directory from snipeit to apache

[2020-11-10 06:45] snipe commented on #8650
It runs the command-line command as a particular user, in this case `snipeit`.

[2020-11-10 06:46] LecrisUT commented on #8650
I am using `MariaDB` so I don't have the same `MySQL` config files, but it should be irrelevant for this issue. Can you also double check and share a screenshot of the current `/admin/phpinfo`. It is better to focus on the actual source of the problem.

[2020-11-10 06:57] PengKuang commented on #8650
ohh, it does the same as su - snipit? So I can run this command to switch myself to snipeit, and re-run the php clean-up commands again. Is that what you recommended to attempt the solution?

[2020-11-10 07:05] #8673 closed, assigned to nobody

[2020-11-10 07:07] snipe commented on #8673
This is now on master and will be in the next release

[2020-11-10 07:13] PengKuang commented on #8650
It remained the same, still no records showing and unauthenticated error:

It seems that the cache directory is not writeable by either user except root. So do I need to change it?

[code]

[2020-11-10 07:18] LecrisUT commented on #8650
Run `sudo chown -R snipe:apache ./` to make sure all the subdirectories and files have appropriate ownership?

[2020-11-10 07:40] snipe opened #8707 "Feature request: Allow depreciation minimum dollar amount"
Currently we have the "fully depreciated" option set to $0 - meaning that an asset is considered 100% depreciated when it hits $0 in depreciated value. It would make sense to set a minimum dollar amount, for example $250, whereby we mark the item as depreciated. This should probably be configured at the Depreciation settings level.

[2020-11-10 07:48] d0lm3n commented on #8699
Hello Uberbrady,

FreeIPA LDAP server.
too don`t working STARTTLS.  probably changed from adldap2?
or
http://charithmahawatta.blogspot.com/2011/03/ldapbind-unable-to-bind-to-server.html ?
![image](https://user-images.githubusercontent.com/7375943/98644593-60daeb80-2339-11eb-8906-2d934f9fc454.png)

<blockquote><div><strong><a href="http://charithmahawatta.blogspot.com/2011/03/ldapbind-unable-to-bin

[2020-11-10 08:06] UserGoodtm commented on #8560
I have the same error. Not updated to the latest version. the git stash command didn't help

--------------------------------------------------------
STEP 3: Pulling latest from Git (master branch):
--------------------------------------------------------

Git is installed.
Already on 'master'
warning: CRLF will be replaced by LF in .github/ISSUE_TEMPLATE/Bug_report.md.
The file will have its orig

[2020-11-10 08:07] Hornochs opened #8708 "Upgrade vom v4.9.4 to 5.0.3 doesn't work"
#### Please confirm you have done the following before posting your bug report:

- [x] I have enabled debug mode
- [x] I have read [checked the Common Issues page](https://snipe-it.readme.io/docs/common-issues)

**Describe the bug**
The Upgrade from 4.9.4 to 5.0.3 doesn't seems to work. After starting upgrade.php it stills shows me v.4.9.4 at the bottom of the snipe-it page, even after re-logging

[2020-11-10 08:10] snipe commented on #8708
Try running `php artisan config:clear`

[2020-11-10 08:12] snipe commented on #8708
Also, open up `config/version.php` and tell me what it says.

[2020-11-10 08:13] Hornochs commented on #8708
Heyho :) Sure,
run the command. No changes

Result from version.php:
`<?php
return array (
  'app_version' => 'v4.9.4',
  'full_app_version' => 'v4.9.4 - build 4437-g799a93c46',
  'build_version' => '4437',
  'prerelease_version' => '',
  'hash_version' => 'g799a93c46',
  'full_hash' => 'v4.9.4-41-g799a93c46',
  'branch' => 'master',
)`

[2020-11-10 08:14] snipe commented on #8696
I've reached out to Softaculous, and they replied:

So I'd say open a ticket with Softcaulous and give them this ticket URL.

[2020-11-10 08:15] snipe commented on #8560
It still appears you have local changes, so you'd need to resolve that before you can git pull.

[2020-11-10 08:24] cliff-LINKS commented on #8604
The issue seems to be resolved in the latest build.
The version number has incremented to 5.0.6 by the time I got to testing this morning.

FYI, I had to reactivate the visible fields in the Assets view list. All be it, a non issue.

Thank you very much for looking in to this!

[2020-11-10 08:24] #8604 closed, assigned to uberbrady, snipe

[2020-11-10 08:25] snipe commented on #8604
Yeah, I released v5.0.6 just a little bit ago - we added a few small features that we thought would be helpful, so we decided not to wait to tag a new release.

Glad everything is sorted now.

[2020-11-10 08:32] PengKuang commented on #8650
Hi, so this is what I got after changing the owner & group of all files within the project root directory to snipeit:apache, then run the batch commands for clean-up as well as the upgrade.php script:

[code]

Still no luck but saw many errors when running the upgrade.php file. Should I fix them?
Noticeably, I don't have mysql database installed in this web server.

[2020-11-10 08:35] snipe commented on #8650
And if you run a `git stash` before running `php upgrade.php`, what do you see?

[2020-11-10 08:36] snipe commented on #8650
@uberbrady - can you take a peek at this - I'm in the middle of something right now :(

[2020-11-10 08:38] snipe commented on #8650
There are a few confusing things here....

Try setting:

[code]

using real values.

This one I don't understand. Unless you have made changes to these files, you shouldn't be seeing that. Though that might be caused by the previous issue with the saving current index state.

[2020-11-10 08:49] UserGoodtm commented on #8560
This answer from the comment helped me
https://github.com/snipe/snipe-it/issues/8440#issuecomment-693354374

[2020-11-10 08:51] snipe commented on #8650
Also please take a look at this comment, which may help: https://github.com/snipe/snipe-it/issues/8440#issuecomment-693354374

[2020-11-10 08:53] uberbrady commented on #8650
Ok, a few things we can try to iron out -

Around step 2, your MySQL backup failed. We can probably fix that by installing the mysql client. On CentOS, that's `yum install mysql` (not `mysql-server` nor `mysqld`). That will give you access to running `mysqldump`, which is the mysql backup program.

Around step 4, we have some `git` issues. I would recommend the two commands that the script recomme

[2020-11-10 08:55] PengKuang commented on #8650
[code]

This is very strange. If I don't have a git account, how did I clone the code in the first place?
Should I just use my personal git account, like the current one?

[2020-11-10 09:00] LecrisUT commented on #8650
The git account credentials are tied to your user account, so naturally `snipeit` user does not have the same credentials. Running using `sudo -u snipeit`  should preserve some of the environment variables needed. If not add `-E`. But also you can `git clone` without credentials so make sure you have them set on your personal account.

[2020-11-10 09:00] PengKuang commented on #8650
This is mysql installation output:
[code]

[2020-11-10 09:03] LecrisUT commented on #8650
Looks like you already have a `mysql` client. Please check if you already have `MariaDB`, that should be the default for CentOS.

Edit: `/usr/bin/mysql: cpio: File from package already exists as a directory` Why do you have a folder as `/usr/bin/mysql`?

[2020-11-10 09:09] PengKuang commented on #8650
I'm connecting to a designated database server though. Yes, I did installed a mysql client. How can I check if MariaDB is installed or not?

/usr/bin/mysql is probably a folder I previously created to host the mysql installer etc. It's empty. I can delete it.

[2020-11-10 09:13] LecrisUT commented on #8650
Please delete it, and never put installer folders or stuff in `/usr/bin`, `/usr/local/bin`, `/bin`, etc.
For `MariaDB` it's `yum info mariadb` it's up to your preference which you install, but I would double-check what the database server uses and which version, and install that (maybe higher versions would still be backwards compatible).

[2020-11-10 09:24] doekman commented on #8448
Nope. We're using it without mail notification at the moment.

I just discovered you can test the mailer in General Settings with a button, but that gives the same error message.

[2020-11-10 09:24] PengKuang commented on #8650
I couldn't locate this error. But I did scp public/uploads and storage files from old server to this server. Also because I did it in a messy way, I had to delete the duplicate files I copied twice. Also I created a folder within storage to save the new oauth keys I got after ran the key:generate command.

Basically, I had done this: https://snipe-it.readme.io/docs/moving-snipe-it
But not in an or

[2020-11-10 09:31] PengKuang commented on #8650
so I removed the unneeded folders under usr/bin and

[code]

And this the mariadb information:

[code]

[2020-11-10 09:33] snipe commented on #8448
Please provide you specific logs for when you test that from general settings. If you're able to get into general settings, than this condition would be true:

[code]

You can also try changing that line to:

[code]

and testing the email check again

[2020-11-10 09:36] snipe commented on #8440
Sorry for the delay in responding here - thanks so much @remerus for following up. We've got a few other people having the same problem (tho I have no idea why), and this comment will definitely help them.

You're welcome! And thanks very much for the kind words <3

[2020-11-10 09:44] PengKuang commented on #8650
Good news! All records back after re-running the upgrade.php script. This time everything seemed to run smoothly except the mysql database. And I then run the batch clean-up commands except the client secret one since I have oauth keys. And then restart apache and clear browser cookies etc. Then everything is back!!

Thank you so much~~!!!

[2020-11-10 09:46] snipe commented on #8650
Everybody all good on this thread? Or are there remaining issues?

[2020-11-10 09:55] doekman commented on #8448
I got the mail:

For some reason, reverting back to original mail settings made sending mail from General Settings work; those settings did not work before in the pre-flight check (I keep the settings in git, so I'm pretty sure). I did not test your suggested change.

Thanks for helping!

[2020-11-10 09:59] #8448 closed, assigned to nobody

[2020-11-10 10:01] snipe commented on #8708
If that's what your version.php file says, then it's not actually getting the the new files. If you try running `git pull`, what do you see in the console?

[2020-11-10 10:10] Hornochs commented on #8708
I'm using german Debian but the error is:

Your local changes would be overwritten if you merge

and at the and, abort

`Aktualisiere 5b6925b00..c607d8981
error: Ihre lokalen Änderungen in den folgenden Dateien würden durch den Merge
überschrieben werden:
        .all-contributorsrc
        .dockerignore
        .env.example
        .env.testing
        .env.testing-ci
        .github/ISSUE_TEMPLA

[2020-11-10 10:11] snipe commented on #8708
Try:

[code]

And try the `php update.php` again.

[2020-11-10 10:13] Hornochs commented on #8708
Ok, now it asks me liek that:

Installing dependencies from lock file
Package operations: 26 installs, 47 updates, 11 removals
  - Removing symfony/polyfill-util (v1.16.0)
    The package has modified files:
    M Binary.php
    M BinaryNoFuncOverload.php
    M BinaryOnFuncOverload.php
    M LICENSE
    M README.md
    M TestListener.php
    M TestListenerForV5.php
    M TestListenerForV6.php

[2020-11-10 10:28] snipe commented on #8708
I don't know why those files would have been changed, but say `y`

[2020-11-10 10:31] Hornochs commented on #8708
Oh my god! It Worked! Thank you so much @snipe :)

[2020-11-10 10:31] #8708 closed, assigned to nobody

[2020-11-10 10:32] snipe commented on #8708
Glad you're all sorted :)

[2020-11-10 11:00] imc67 commented on #8664
Any news or owner of the Dutch/Nederlands translation?

The current in Crowdin version is still extremely inconsistent and actually unusable. I translated and suggested hundreds of new strings but still no activity in Crowdin.

[2020-11-10 11:04] snipe commented on #8664
I've made you a proofreader. I don't speak Dutch, so it's impossible for me to tell the difference between good translations and bad translations there. If you want to go ahead and approve your own contributions and let me know when you're done, I'm happy to accept them into the codebase.

[2020-11-10 11:11] snipe commented on #8664
(Also what version are you using? We released updated translations in v5.0.5)

[2020-11-10 11:12] MuratDoganer commented on #8701
Hmmm, I looked at the `.env` but i do have the `http://` in before my `App URL` however as you can see in the screenshot, the app is trying to load it from `assets.land.tech` which is missing the `http://` ... how does that happen?

[2020-11-10 11:27] robbindiepeveen commented on #8607
@SjamonDaal, still having the dev code laying around somewhere in a dusty corner?
Interested in those features as well.

Thanks.

[2020-11-10 11:27] snipe commented on #8701
No idea. Can you show me your .env (with DB info and mail settings redacted)?

[2020-11-10 11:28] snipe commented on #8701
Wait, we don't display images on the app dashboard. What URL are you talking about specifically?

[2020-11-10 11:32] MuratDoganer commented on #8701
[code]

[2020-11-10 11:34] MuratDoganer commented on #8701
Sorry not the main dashboard, when viewing All Deployed Assets for example, or when selecting Accessories, Licences, Categories etc

But the moment you click into it, the images show fine - only on the parent page it doesn't show a link to the images (this includes the Logo, it doesnt load or save at all)

[2020-11-10 11:39] snipe commented on #8701
Meaning it doesn't load on the top of each page, you can't upload it, or both? If both, can you confirm that your Branding Settings Type is set to logo or logo+text, and if you cannot upload, can you tell me what error you get? (Check the app logs)

Also can you try upgrading to latest?

[2020-11-10 11:39] SjamonDaal commented on #8607
I think I do. I'll take a look and post it on my git if I found it and I'm able/allowed to publish this.

[2020-11-10 11:43] MuratDoganer commented on #8701
It uploads fine, it saves fine, and then when you reload the page it looks like this:

![logo](https://i.imgur.com/H2impk5.png)

And when you go back into Brand settings, all the logos have been removed and it looks blank, as if it wasn't saved at all in the first place. This is with the Type set to Logo.

I tried this morning, it is now showing the following:

This was after doing a `git pull` an

[2020-11-10 11:51] snipe commented on #8701
Okay, if you add this to your .env:

[code]

and then clear your config cache: `php artisan config:clear` does anything change?

[2020-11-10 11:51] snipe commented on #8701
(Also we're up to v5.0.6 now)

[2020-11-10 11:54] snipe commented on #8701
Adding that block to your .env *shouldn't* matter. We don't add that block to our hosted customers because it defaults sanely. I *am* seeing two different ways of invoking the images, and it seems like `Storage::disk('public')->url($IMAGE_VARIABLE) ` isn't working where `{{ url('/') }}/uploads/assets/{{{ $IMAGE_VARIABLE }}}"` *does*,  but the latter is an artifact, and the `Storage::` method is th

[2020-11-10 11:56] MuratDoganer commented on #8701
This fixed it....but I don't know why!

[2020-11-10 11:56] Pikok89 commented on #8626
My setup is experiencing the same issue since 5.0.1.

[2020-11-10 11:57] snipe commented on #8701
Great!

[2020-11-10 11:57] #8701 closed, assigned to nobody

[2020-11-10 12:36] imc67 commented on #8664
I've seen the release, not updated yet, but in the source code lang there is the "wrong" translation.

I just finished in Crowdin all the changes and additions (because of new strings).

[2020-11-10 12:43] snipe commented on #8664
I've merged your additions - thanks for the help!

[2020-11-10 12:43] #8664 closed, assigned to nobody

[2020-11-10 14:09] dakide commented on #8703
Works after updating to v5.0.6

[2020-11-10 14:09] #8703 closed, assigned to nobody

[2020-11-10 14:17] snipe commented on #8703
Weird - we didn't actually change anything there. ¯\_(ツ)_/¯

Thanks for letting us know tho!

[2020-11-10 14:23] chillinglucifer commented on #8644
Hello! Thank you so much for the responses!

@snipe @uberbrady I have checked .env and the APP_URL is the correct format. I had to delete/move to another folder (in order to test) "services.php" from the bootstrap/cache folder. This, combined with the rest of the commands I was told to run, worked, except for "composer clear-compiled" where it gave me that same "command 'clear-compiled' is not def

[2020-11-10 14:28] bakfiets2 commented on #8458
Nope. It did not solve the issue. Even on the new version. ldap is enabled in the PHP settings. Same error...

[2020-11-10 14:29] snipe commented on #8458
Can you confirm you've checked all of the things in [my comment](https://github.com/snipe/snipe-it/issues/8458#issuecomment-724443005)?

[2020-11-10 14:34] VanillaNinjaD commented on #8621
After my upgrade to v5 I had many users unable to login until I selected the LDAP option for "Append domain name to username field". This was never required for my LDAP configuration prior to v5 and we have been using Snipe-IT since v2.x

Give it a try, I hope it helps someone

![image](https://user-images.githubusercontent.com/7405702/98687413-50257800-232f-11eb-98ea-efa4eeacccac.png)

[2020-11-10 14:37] VanillaNinjaD commented on #8657
I had the same issue here and used the same migrations fix suggested by @Snipe going 1 by 1 and updating the migrations table using MySQL workbench. Happily working now

[2020-11-10 14:40] hmacugova opened #8709 "Bulk deletion of asset Categories, Suppliers, Manufacturers..."
#### Please confirm you have done the following before posting your bug report:

- [x] I have enabled debug mode
- [x] I have read [checked the Common Issues page](https://snipe-it.readme.io/docs/common-issues)

**Describe the bug**
Hi, I have the same problem as in ["Bulk deletion of asset models #3416"](https://github.com/snipe/snipe-it/issues/3416)
but with all another assets: Category, Supplie

[2020-11-10 15:11] snipe commented on #8657
@henningkessler If those migrations were not actually run, inserting records directly into the migrations table will cause you no end of heartache, since the schema and the code will be out of sync.

[2020-11-10 15:20] JW-IT commented on #8700
just wanted to add that generating labels will adhere to the set FontSize (eg. 8pt in the database)
and looking at the "source" of the generated label page the FontSize is the same

so it seems to be "just" a problem with the Label-Setting page

[2020-11-10 15:20] snipe commented on #8458
So far, the only reasons we've seen this happen is summarized by [my comment](https://github.com/snipe/snipe-it/issues/8458#issuecomment-724443005). It's either missing extensions (not just php-ldap is required) or those caches mentioned in the "smoking gun" section of the comment.

[2020-11-10 15:22] jmartins1 commented on #8601
![2020-11-10_8-21-50](https://user-images.githubusercontent.com/31219479/98693672-d0e37480-232d-11eb-825d-3e3b6c5003eb.jpg)

[2020-11-10 15:33] yosiasz opened #8710 "Separate INSTALLATION MANUAL by OS"
**Server :**
 - Snipe-IT Version : 4.9.5
 - OS: Windows 2019
 - Web Server: IIS
 - PHP Version : 7.3.13

**Is your feature request related to a problem? Please describe.**
Parsing what applies to my OS is very difficult to sort in the Installation Manual

**Describe the solution you'd like**
It would be nice if the installation for each OS type is separate

**Describe alternatives you've considere

[2020-11-10 15:34] snipe commented on #8601
Can you run:

[code]

and tell me the output? (That second one might not work on windows...not sure, I don't use windows.)

I've never seen composer fail like that with no actual specific error messages. I'd have to guess it's a PHP extension issue or a version issue.

[2020-11-10 15:35] snipe commented on #8710
We already provide a breakdown by OS.

<img width="247" alt="Screen Shot 2020-11-10 at 7 35 09 AM" src="https://user-images.githubusercontent.com/197404/98695263-4ac42f80-2327-11eb-8850-6c4173dcd306.png">

[2020-11-10 15:35] #8710 closed, assigned to nobody

[2020-11-10 15:40] jmartins1 commented on #8601
![php](https://user-images.githubusercontent.com/31219479/98695814-4a7c6200-2330-11eb-8f41-7f87ffb32b1a.jpg)

which php is not recognized

[2020-11-10 16:12] bakfiets2 commented on #8458
There was indeed a ldap problem. It was loaded but not on the composer side of this plesk server. But that still does not solve the error. Also deleted the files you mentioned in /bootstrap/cache.

Going to try a reinstall of snipe to see of this fixes the error. No errors btw when running php upgrade.php

[2020-11-10 16:35] mce-reggie commented on #8458
It appeared as though I didn't have the php-json extension installed on my system somehow. I installed that and ran upgrade.php and everything is working now under the new version.

Thanks for persevering!

[2020-11-10 16:38] yosiasz commented on #8710
yes, but that is just the server configuration. I meant to say end to end

[2020-11-10 16:39] snipe commented on #8710
Maintaining that would be confusing and prone to problems, since 98% of the configurations are the same across all platforms. MySQL DB dump path is about the only thing in terms of configuration that is different on Windows.

[2020-11-10 17:30] GustelDE opened #8711 "Purge Log-In Attempts"
Hi,

is it possible to delete old "Log-In Attempts"? This table it now 19 pages long and shows entry from the very first beginning. We dont need that functionality at all.

Is it possbile to delete/purge old Log-In Attempts-records (lets say older than 1 month) or disable that functionaliy at all?

Thanks

[2020-11-10 17:31] pabs2112 commented on #8683
I read another posted Issue #8448 about testing from within the settings menu. I just ran that test... It failed again but now has different errors. There are 2 error messages, and 1 exception report:

1st message:
LOG.error: ErrorException: stream_socket_enable_crypto(): SSL operation failed with code 1. OpenSSL Error messages:
error:1416F086:SSL routines:tls_process_server_certificate:certificat

[2020-11-10 17:32] snipe commented on #8711
Can you not just ignore it?

[2020-11-10 17:47] pabs2112 commented on #8683
Actually, because the above errors have to do with TLS, I tried disabling TLS within the .env and I was able to get a successful test email message sent. So it's working now.
The original failure during the preflight test remain a mystery, because I tried with and without TLS and it had no effect. The original errors were speaking of something to the effect of it being unable to include images. I

[2020-11-10 17:48] snipe commented on #8683
Earlier versions would have failed on the preflight was because there is not yet a settings record and we were attempting to call properties on a record that didn't exist.

Glad to hear you're all set now.

[2020-11-10 17:48] #8683 closed, assigned to nobody

[2020-11-10 17:55] pabs2112 commented on #8683
The version I installed was v5.0.4 - build 5452... That's only a few weeks old. Was this already corrected in the current builds?

[2020-11-10 18:08] jmartins1 commented on #8601
I run ( composer install --no-dev --prefer-source --verbose ) on a new installation of WAMP Server. After installing WAMP, I downloaded Snipeit version 5.0.6 as per https://snipe-it.readme.io/docs/wamp.

![php-extensions](https://user-images.githubusercontent.com/31219479/98713587-0a73aa00-2345-11eb-99af-10da3571afe2.jpg)

![php-settings](https://user-images.githubusercontent.com/31219479/98713598

[2020-11-10 18:10] snipe commented on #8601
What about `php -m`?

[2020-11-10 18:13] jmartins1 commented on #8601
![php-m](https://user-images.githubusercontent.com/31219479/98714107-bae1ae00-2345-11eb-89c3-8a42f90c5bf1.jpg)

[2020-11-10 18:14] snipe commented on #8601
(Can you just paste it in? It makes it difficult to command+f to search on the page and compare with what you should have)

[2020-11-10 18:15] jmartins1 commented on #8601
[PHP Modules]
bcmath
bz2
calendar
Core
ctype
curl
date
dom
exif
fileinfo
filter
gd
gettext
gmp
hash
iconv
imap
intl
json
ldap
libxml
mbstring
mysqli
mysqlnd
openssl
pcre
PDO
pdo_mysql
pdo_sqlite
Phar
readline
Reflection
session
SimpleXML
soap
sockets
SPL
standard
tokenizer
wddx
xml
xmlreader
xmlrpc
xmlwriter
xsl
zip
zlib

[Zend Modules]

[2020-11-10 18:18] snipe commented on #8601
Thanks - I know it's dumb, but it makes my life easier vs scrubbing through images.

I don't see anything funny in there - nothing obvious missing, I mean.

I'm honestly stumped. As I mentioned, I've never seen such a weird error from composer before. :-/

[2020-11-10 18:18] jmartins1 commented on #8601
I would not question your greatness... :)

[2020-11-10 18:19] snipe commented on #8601
LOL well you probably should....

I haven't given up on this, but I'd love it if other folks who may have seen this before could chime in.

[2020-11-10 18:23] jmartins1 commented on #8601
Hopefully you guys can figure this out. I've been religious about updating Snipe-IT since 3.something.

[2020-11-10 18:24] snipe commented on #8601
I'm sure we will. Just hang tight. I'm nothing if not stubborn.

[2020-11-10 19:05] uberbrady commented on #8601
So I guess I'm wondering if this is something about permissions? Wouldn't make sense that you can *create* the image file, but then can't *display* it. That's unusual.

Another thought - the URL that you're using is definitely only accessible from the *inside* of your corporate network. So long as you're testing your emails and whatnot from the inside, it should definitely work.

Something else to

[2020-11-10 19:13] winstan commented on #8699
Having the same issue... SnipeIt-v5.0.6
LDAP server is 389-ds (which is what FreeIPA uses, same as @d0lm3n ).
The bind by the service account is fine (if I set the wrong password, it fails on that instead). It's failing on search().

[2020-11-10 19:23] jmartins1 commented on #8601
Hi uberbrady, thanks for the feedback.

_Another thought - the URL that you're using is definitely only accessible from the inside of your corporate network. So long as you're testing your emails and whatnot from the inside, it should definitely work._

Yes, this is the case. Our inventory system is accessible internally only.

_Something else to try - what if you grab the attempted URL of both th

[2020-11-10 19:24] snipe commented on #8601
@uberbrady also we embed images in the emails, so even if the Snipe-IT install isn't accessible to the outside world, they are attached to the email inline.

[2020-11-10 19:26] winstan commented on #8699
LDAP server logs:

[date] conn=2 fd=144 slot=144 SSL connection from Redacted
[date] conn=2 TLS1.2 256-bit AES-GCM
[date] conn=2 op=0 BIND dn="cn=serviceAccountRedacted" method=128 version=3
[date] conn=2 op=0 RESULT err=0 tag=97 nentries=0 etime=0.016886416 dn="cn=serviceAccountRedacted"
[date] conn=2 op=1 SRCH base="ou=People,dc=example,dc=com" scope=2 filter="(objectClass=organizationalUnit)" a

[2020-11-10 19:35] winstan commented on #8699
This may be related: https://pagure.io/freeipa/issue/7888
"The error message invalid attribute request indicates another LDAP protocol violation. 389-DS only emits that error message when the attribute list contains two or more empty attribute requests"

<blockquote><img src="/theme/static/favicon.ico?version=5.11.3" width="48" align="right"><div><strong><a href="https://pagure.io/freeipa/issue/78

[2020-11-10 19:36] uberbrady commented on #8699
Those are excellent, thank you. I'm poking around the code for all this stuff now.

[2020-11-10 19:40] winstan commented on #8699
Ah ha, figured out a workaround. It has to do with the other fields on the form...
LDAP Active Flag
LDAP Employee Number
LDAP Email

If I fill any 2 of these out, then the "Test LDAP Synchronization" button works successfully.

So I guess the fix would be to exclude the blank attributes from the search request altogether...

[2020-11-10 19:42] uberbrady commented on #8699
Oh, excellent! Let's see if that helps other folks too.

[2020-11-10 20:11] troveitech commented on #8642
I know there isn't a lot to go on as I don't seem to get actual error messages :(

[2020-11-10 20:27] uberbrady commented on #8699
@d0lm3n does @winstan 's workaround work for you?

[2020-11-10 20:31] uberbrady commented on #8601
Okay, let's test things one-by-one here. First, drop a plain text file in your `public/` directory at the base of your Snipe-IT install. Try to browse to `https://arpsinv1/yourfilename.txt`

Do you 404? or do you see the contents?

If you see the contents, then I think we might have some permissioning issues on the other directories (uploads/models, etc, etc). If not, then maybe it's a web-server

[2020-11-10 20:35] GustelDE commented on #8711
I think I have to do that ;)
But I am in general not a friend of growing tables without use (for us) and without the option to delete these data.

Please see this as an wish for an upcoming version. Maybe a "clear data" button or so.

[2020-11-10 20:36] jmartins1 commented on #8601
![dir](https://user-images.githubusercontent.com/31219479/98730578-b9ba7c00-2359-11eb-8852-5b768728062d.jpg)

![test](https://user-images.githubusercontent.com/31219479/98730586-bb843f80-2359-11eb-8d28-5163eef73c29.jpg)

[2020-11-10 20:37] snipe commented on #8711
My only hesitance there is that we've had customers who never paid attention to that log, and would probably have disabled it - and then had a rogue employee (super admin) who was fired, login and delete AND purge (AND delete ALL backups) of everything they had. We ended up having to provide that login info to assist them in the charges they're bringing up against them.

You never think you need t

[2020-11-10 21:00] snipe commented on #8683
We're already up to v5.0.6 - that issue was fixed in the past few days

[2020-11-10 21:07] uberbrady commented on #8601
okay, good! so we have basic files that we can look at, here.

Do also check `https://arpsinv1/test.txt` as well, it's absolutely possible that we have some http/https config issue here.

If that checks out, play around with moving your test file up into `./uploads` and then even into some of the subdirectories under uploads. (Then test `https://arpsinv1/uploads/text.txt`, etc).

I feel like we're

[2020-11-10 21:07] snipe commented on #8601
Have you tried this btw? https://github.com/snipe/snipe-it/issues/8701#issuecomment-724653350

[2020-11-10 21:13] jmartins1 commented on #8601
Uberbrady, I receive a 404 error when moving the file to the suggested location(s).

[2020-11-10 21:17] jmartins1 commented on #8601
The .ENV settings are already in place
![env](https://user-images.githubusercontent.com/31219479/98734590-6cd9a400-235f-11eb-94dd-83de8d0dc842.jpg)

[2020-11-10 21:19] snipe commented on #8440
FYI, this is now in the docs:
https://snipe-it.readme.io/docs/installation-issues#updating-with-upgradephp-fails-to-update-filesversion

<blockquote><img src="/favicon.ico" width="48" align="right"><div>Snipe-IT Documentation</div><div><strong><a href="https://snipe-it.readme.io/docs/installation-issues#updating-with-upgradephp-fails-to-update-filesversion">Installation/Upgrading Issues</a></stron

[2020-11-10 21:22] uberbrady commented on #8601
@jmartins1 So do you get that 404 via https:// as _well_ as when you move into those directories?

If the https:// test failed, then there's probably something in your apache config - we might want to at least eyeball that. If you can throw it into a gist and paste the link here we can take a look.

Directory configs - look at the permissions in the `./public` directory and compare them to the `./

[2020-11-10 21:22] uberbrady commented on #8601
Oh, and do try a `php artisan config:clear` in there too, just in case.

[2020-11-10 21:24] jmartins1 commented on #8601
Incidentally, I do see the images in SnipeIT. I just don't see them in the emails.

![assets](https://user-images.githubusercontent.com/31219479/98735294-64ce3400-2360-11eb-9666-61613baebf14.jpg)

[2020-11-10 21:25] uberbrady commented on #8601
Well _that's_ weird. huh. we did do some major changes to the storage subsystem in v5, maybe we missed something in the email-image embedding system?

When you hover over those device image URL's, what're the URL's for those images?

[2020-11-10 21:26] snipe commented on #8601
@uberbrady again, I'm unable to reproduce this tho :(

[2020-11-10 21:29] jmartins1 commented on #8601
![pic](https://user-images.githubusercontent.com/31219479/98735727-1bcaaf80-2361-11eb-9503-53405d4aeb9d.jpg)

[2020-11-10 21:29] jmartins1 commented on #8601
Before you ask :), yes the jpg is in this directory.

[2020-11-10 21:32] jmartins1 commented on #8601
Just curious, have you tried installing a WAMP server and walk through the steps in your documents? I tried multiple times and cannot get composer install --no-dev --prefer-source to run without error. I'm happy to backup SnipeIT and start over but I can't get past the Composer install to make it to the pre-flight page.

[2020-11-10 21:38] jmartins1 commented on #8601
_@jmartins1 So do you get that 404 via https:// as well as when you move into those directories?_

Yes

_If the https:// test failed, then there's probably something in your apache config - we might want to at least eyeball that. If you can throw it into a gist and paste the link here we can take a look._

#
# This is the main Apache HTTP server configuration file.  It contains the
# configuration

[2020-11-10 21:40] jmartins1 commented on #8601
Sorry about all the bold text

[2020-11-10 21:42] jmartins1 commented on #8601
This is my httpd.conf file

[httpd.txt](https://github.com/snipe/snipe-it/files/5520336/httpd.txt)

[2020-11-10 22:09] bahhhhh commented on #8670
I just updated Snipe-IT to v5.0.6 - build 5526 (master) and I'm afraid the issue remains.

Here's a screenshot of the LDAP page:

![](https://i.imgur.com/g2pvAIE.png)

[2020-11-10 22:12] bahhhhh commented on #8669
Ah right - thanks, @snipe! I was able to login in Chrome using the local admin.

[2020-11-10 22:17] snipe commented on #8670
Balls. @uberbrady, you want to take a peek?

[2020-11-10 22:24] henningkessler commented on #8657
I added the missing lines and then run
[code]
which ended successful but ldap still does not work and I get the exact same errors as steve1673. Is it important to do line by line  and running
[code]
after adding each line?

[2020-11-10 22:29] microsea opened #8713 "Could not show the "people" list after moving the Snipe-IT to new server."
Server (please complete the following information):

Snipe-IT Version: Version v4.6.16 - build 4018  Upgrade to   Version v5.0.5-pre - build 5457 (master)
OS: CentOS 7
Web Server:  -
PHP Version: -
Docker images: snipe/snipe-it
database server: Mysql

To Reproduce
Steps to reproduce the behavior:
1. Dump mysql database snipeit to SQL file
2. Start Any version snipeit and mysql docker image
3. Impo

[2020-11-10 23:13] snipe commented on #8713
Did you run migrations?

[2020-11-10 23:21] LecrisUT commented on #8650
On my side all is ok.

[2020-11-10 23:35] VanillaNinjaD commented on #8657
Yes, if you fill the table completely without running the migrate after each line you are telling the code to skip DB schema changes that it may not have actually performed yet.

[2020-11-10 23:38] VanillaNinjaD commented on #8657
I'm finding it hard to explain after a long work day but in my instance only some of the migrations were already present but not reflected in the migrations table. In other words, if the migration hasn't been performed on the DB yet, the code will execute successfully then update the migrations table eliminating the need for you to manually update the table.

Only the DB migrations which were perf

[2020-11-10 23:48] snipe commented on #8657
@VanillaNinjaD - nice to see you again :)

And yes, you’re 100% right. While importing the migrations table will let you get through `php artisan migrate` cleanly, it also means you now have code that is expecting a scheme that your database doesn’t have - because it only knows what migrations were run via that table.

[2020-11-11 00:20] tamfadmin commented on #8677
Hi, I'm having a similar experience.  Right now I'm going through this website:  https://snipe-it.readme.io/docs/requirements
At first glance, I can see some additional PHP extensions that weren't required with SnipeIT v4.9.5 (for example:  JSON, BCMath, Tokenizer, etc.  I am running on a Window Server 2016 Standard server.
I have Git installed on the server and ran php upgrade.php
I have to stop

[2020-11-11 00:45] microsea commented on #8713
Yes, I've tried running `php artisan migrations` command, it returned successful information, but there were no changes to display the People list. The only thing that works for me is to add the "note" field in the accessories_users table.

[2020-11-11 00:58] Godmartinz commented on #8694
Dark blue is fixed, updating the other skins now.

[2020-11-11 01:16] Godmartinz commented on #8694
#8714

[2020-11-11 03:31] PengKuang commented on #8650
Hi, I just wanted to share the final output on our machine so that others may leverage it to debug if they encountered the same issue.

[code]

[2020-11-11 03:38] LecrisUT commented on #8650
You will have to install a MySQL client, either `yum install mariadb` or `yum install mysql`

[2020-11-11 04:08] denzfarid commented on #8694
Fantastic !!!, I really appreciate it, and Thank you very much

[2020-11-11 04:13] #8694 closed, assigned to nobody

[2020-11-11 05:28] bhillebrand-enee commented on #8697
Hi @snipe!

Thanks for the speedy response. Following your advice  I decided to double check that everything was correct as I was in the course of compiling information that would help diagnose the exact environmental issue.

TLDR: During the course of this I did some troubleshooting which included completely removing the vendor packages folder to ensure that Composer populated a fresh copy of the

[2020-11-11 06:35] PengKuang commented on #8650
Hmm, currently it is running smoothly. I think I did install a mysql client but probably not a mariadb.
I now don't wanna touch anything on this server XD

[2020-11-11 07:04] PengKuang commented on #8650
So there is still a minor issue. All the uses (e.g. the IT staff) previously had admin permissions lose their admin privilege after the upgrade. The groups are empty:

![image](https://user-images.githubusercontent.com/31425596/98778986-1edfa180-242e-11eb-9df7-718842c6ae4e.png)

Then after we created a group called IT-STAFF, two test admin accounts, which I had created when I was debugging the pre

[2020-11-11 07:07] LecrisUT commented on #8650
Not having MySQL client installed and not having migrated them during `sudo -u snipeit php upgrade.php` (Check step 2 in [this comment of yours](https://github.com/snipe/snipe-it/issues/8650#issuecomment-725124562))

[2020-11-11 07:10] PengKuang commented on #8650
But how can they all log in to the system without problem?

[2020-11-11 07:11] LecrisUT commented on #8650
Because they are using OAuth rather than local database password (Step 8)

[2020-11-11 07:15] PengKuang commented on #8650
Can I install mysql clieant/mariadb while the software is running? They're using the system right now. Do I need to interrupt them?

If I installed mysql and re-run upgrade.php, what password would they use? I think everyone just have only one username and one password for themselves in my organization. I worry mysql will disable oauth and stop users from logging in.

And if the database is not sy

[2020-11-11 07:27] henningkessler commented on #8657
Thanks for the explanation and your patience. I will give this a try as soon as I will be onsite the next time.

[2020-11-11 08:09] LecrisUT commented on #8650
Yes, but you will have to restart the `httpd` and `php-fpm` services for the changes to apply.

As indicated by the log, they will continue to use OAauth.

Black magic.

If your server already has ldap, that would be relevant, otherwise good-luck setting up. The authentication/authorization is not complicated, it just so happens that you haven't managed to migrate the data.

<blockquote><img src="

[2020-11-11 08:21] thumperest opened #8715 "Cannot list Unaccepted Assetsafter update 4.9.4 to 5.0.6."
#### Please confirm you have done the following before posting your bug report:

- [X] I have enabled debug mode
- [X] I have read [checked the Common Issues page](https://snipe-it.readme.io/docs/common-issues)

**Describe the bug**
A clear and concise description of what the bug is.
Dear All, we realy loved the Snipe-IT system and we are using it at our core. After the upgrade from 4.9.4 to 5.0.6

[2020-11-11 08:22] d0lm3n commented on #8699
@winstan  Hello, eh yes LDAP Active Flag -> 1 working.. Thank you! :))

[2020-11-11 08:48] thumperest commented on #8715
Dear All,

I checked from your Demo also, same issue appears. I think It'a cummon bug.
I chenged the browser to firefox but same issue.

![Shows1Second](https://user-images.githubusercontent.com/73989622/98789621-95bb7100-2413-11eb-805a-6020e517a4d3.png)
![After 1 second](https://user-images.githubusercontent.com/73989622/98789746-c7ccd300-2413-11eb-9219-a370b941fcb2.JPG)

[2020-11-11 08:57] diegogarciadev opened #8716 "Harcoded strings"
I've found several string without translation or hardcoded:

**Here an example of files we have modified localy:**

app/Notifications/CheckinAccessoryNotification.php
[code]

app/Notifications/CheckinAssetNotification.php
[code]

app/Notifications/CheckinLicenseSeatNotification.php
[code]

resources/views/account/accept-asset.blade.php
[code]

resources/views/account/accept/create.blade.php
[code]

[2020-11-11 09:06] snipe commented on #8716
We welcome your pull request :)

[2020-11-11 09:09] diegogarciadev commented on #8716
Hello, not all strings are created in trans files... I don't know how to proceed

[2020-11-11 09:47] MandoYoda commented on #8698
Hi uberbrady,
Yeah I did try that before, unfortunately no joy!
Cheers

[2020-11-11 11:29] HilaliAhmer opened #8717 "Snipe-IT permissions"
Greetings To Everyone

If I don't give users Super Admin privileges, they can't view assets. What would be the reason ?

   I'm using version v5.0.4 - build 5452 (master).

[2020-11-11 12:06] diegogarciadev commented on #8715
Same here #8626

[2020-11-11 12:09] thumperest commented on #8626
Thank you @diegogarciadev I am experiencing the same issue.

[2020-11-11 13:03] creactiv opened #8718 "Error 500 while creating database tables"
#### Expected Behavior (or desired behavior if a feature request)
I expect it to move on with database table creation

-----

#### Actual Behavior
Setup went through smoothly, opened up the preflight page, and it says, everything is ok. When i click on next step Create Database Table, i will receive an Error 500

-----

#### Please confirm you have done the following before posting your bug report

[2020-11-11 13:11] creactiv commented on #8718
Later on i entered debug view, just to find out, that there have been database tables created and so i dismissed the tables and their content and clicked one more time on create database tables. Then it worked out. And now i am up and running. I should add, that this is a shared environment being managed by virtualmin, so the .conf settings were not the same due to security aspects.

Finally, this

[2020-11-11 13:11] #8718 closed, assigned to nobody

[2020-11-11 14:23] roratonet commented on #8666
@snipe my question was regarding the **Licenses**, not the cost of the **Assets**.

In Assets, I'm ok to have a different currency based on Location.
The same would be nice to have for the Licenses which are a one and only section, not divided by Location (which could make it easier to separate the totals for each location)

Currently, when I change the Currency in https://demo.snipeitapp.com/admi

[2020-11-11 14:50] snipe commented on #8716
Please check our documentation on translations. Create the strings in English, we’ll upload then and let our wonderful community translators do the rest.

[2020-11-11 14:53] snipe commented on #8716
Sorry, on mobile so it took me a sec: https://snipe-it.readme.io/docs/translations

If there is a particular language you’d like to be a translator for, just let me know. Happy to set that up

<blockquote><img src="/favicon.ico" width="48" align="right"><div>Snipe-IT Documentation</div><div><strong><a href="https://snipe-it.readme.io/docs/translations">Translations</a></strong></div><div>Traduci!

[2020-11-11 14:55] snipe commented on #8716
Language is difficult, and while we try really hard to make sure we translate everything, we definitely don’t. I’d love and PRs for localization. It’s been on my list forever

[2020-11-11 14:58] jmartins1 commented on #8601
I ran "composer install --no-dev --prefer-source --verbose" again this morning on a test SnipeIT/WAMP installation. This time allowed it to complete. If you look towards the bottom of the return, it may be more helpful.

PS C:\wamp\www\snipe-it> composer install --no-dev --prefer-source --verbose
Installing dependencies from lock file
Verifying lock file contents can be installed on current platfo

[2020-11-11 15:00] roratonet opened #8719 "Uploaded filename on Asset is different as License"
**Is your feature request related to a problem? Please describe.**
When I upload a file under an Asset, it is shown with the following pattern:
`hardware-<id>-<hash>-<originalfilename>.<extension>`

Under a License:
`license-<dateandhour>-<hash>.<extension>
`
**Describe the solution you'd like**
Is it possible to maintain the `<originalfilename>` in the License Filename aswell?

[2020-11-11 15:01] kaiiiiiiiii commented on #7839
Highly requested from my side as well. We have a lot of Dell assets which identify by service-tag, not by serial. With those assets the printout is mostly useless =(

[2020-11-11 15:23] roratonet opened #8720 "Edit File and Notes of uploaded files"
**Is your feature request related to a problem? Please describe.**
After uploading a file to an **Asset** or **License**, I'm not able to edit the **Notes** or replace files afterwards

**Describe the solution you'd like**
Edit the notes and replace files of uploaded entries

[2020-11-11 15:30] roratonet opened #8721 "Asset Maintenance - Asset Field has the Asset Tag two times"
#### Please confirm you have done the following before posting your bug report:

- [ ] I have enabled debug mode
- [X] I have read [checked the Common Issues page](https://snipe-it.readme.io/docs/common-issues)

**Describe the bug**
Under **Create/Update Asset Maintenance**, the **Asset Tag** is shown two times under **Asset Name**

**To Reproduce**
Steps to reproduce the behavior:
https://demo.sn

[2020-11-11 15:35] jmartins1 commented on #8601
As you know Git is not native to Windows. I installed Git and re-ran "composer install --no-dev --prefer-source". It downloaded the files without one fail!

jmartins@MAMBA MINGW64 /c/wamp/www/snipe-it
$ composer install --no-dev --prefer-source
Installing dependencies from lock file
Verifying lock file contents can be installed on current platform.
Package operations: 124 installs, 0 updates, 0 re

[2020-11-11 15:56] bakfiets2 commented on #8458
I don't know where to search for problems. Every extension is runnung. Server is running php7.4 from CLI and also on the web side. php upgrade.php does not solve anything. It says everything is just fine. See below the PHPinfo.

It would be great to run this software. But i need to stop trying i think because it is costing to much time to get it running...

http://ict.jellevansetten.nl/info.php

<

[2020-11-11 16:06] mzack5020 commented on #8312
I see. I can't help with this as I'm not really familiar with the hosted version. Sorry @zackbennis

[2020-11-11 16:08] dampfklon commented on #8716
I have an open Issue #8233 with working pull requests open #8234 #8235 #8236 #8237 about these strings

[2020-11-11 16:46] UnlimitedCookies commented on #8711
I would say that a `php artisan` command would be sufficient. That way the above mentioned employee could only do such things if he has shell access (and when it has come to that point he can already do whatever he wants).

[2020-11-11 16:57] stefaro opened #8722 "Docker image could have cron job for running artisan schedule:run"
**Is your feature request related to a problem? Please describe.**
Setting up cron job for running schedule:run is cumbersome in docker image.

**Describe the solution you'd like**
I think there should be a cron job in docker image which would be controlled by an environment variable. A good default value for the value would be `* * * * *`, so that scheduled tasks work out of the box.
Installing t

[2020-11-11 16:58] jmartins1 commented on #8601
An additional note. I ran this process on two SnipeIT/ WAMP instances. One without https the other with. The one that used https was still delivering check-out/in emails without pictures. After removing the https configuration all is well. Any hopes that SnipeIT would document the proper way to add https or build it in natively?

[2020-11-11 17:11] jmartins1 commented on #8601
It appears things are working! Except for the intermittent barcodes appearing on the View Asset page (for each individual asset). This has been an issue however for some time.

![2020-11-11_8-58-25](https://user-images.githubusercontent.com/31219479/98841963-14a9ad00-2406-11eb-8ef3-83b2a689b1c9.jpg)

[2020-11-11 17:29] 2crak opened #8723 "Feature request - Predefined Kits able to add Licences / accessories / consumables to a kit"
#### Please confirm you have done the following before posting your bug report:

- [x ] I have enabled debug mode
- [x ] I have read [checked the Common Issues page](https://snipe-it.readme.io/docs/common-issues)

**Describe the bug**
When i try to create a Predefined Kits, i can't add Licences / accessories / consumables
Only assets can be append.
For exemple, if i try to create a kits for an ipa

[2020-11-11 18:19] TheTopherNet commented on #8541
Just wanted to add, I was having the same issue, I did have a # in my password, of which I was not about to changed due to all the other systems dependent on those credentials.

However I added ' ' around my sql password and it worked!

`# --------------------------------------------
# REQUIRED: DATABASE SETTINGS
# --------------------------------------------
DB_CONNECTION=mysql
DB_HOST=localhost

[2020-11-11 18:58] Relix360 commented on #8626
@diegogarciadev that was also present on 4.9.2 but in that version the report was working
![image](https://user-images.githubusercontent.com/52633264/98852678-ca8cef80-2436-11eb-8104-ea8ba929f01a.png)

[2020-11-11 19:57] yosiasz opened #8724 "Ability to specify custom db port in .env"
- Snipe-IT Version : 4.9.5
 - OS: Windows
 - Web Server: IIS
 - PHP Version : 7.13

Unable to specify custom port in .env

**Describe the solution you'd like**
Would like to be able to specify my own port rather than the default 3306

**Describe alternatives you've considered**
None

**Additional context**
I would be running both MariaDb and MySql on same server. Cant run both on 3306
and cant spe

[2020-11-11 20:58] Go2ClassPoorYorick commented on #8321
I believe this issue to be the same as #8636 based on receiving the following in debug mode.
`Column not found: 1054 Unknown column 'accessories_users.note' in 'field list'`

Unable to run the php upgrade script because docker is running it as admin.

[2020-11-11 21:05] Go2ClassPoorYorick commented on #8321
I apologize for not RTFM- running `php artisan migrate` in the shell of the docker container appears to have repaired this issue.

[2020-11-11 22:08] snipe commented on #8677
I'm seeing a few things here...

https://stackoverflow.com/questions/54983039/sha384-is-not-supported-by-your-openssl-extension-could-not-verify-the-phar-fil

As for the `withCookieSerialization()` error, that's due to missing PHP extensions. (They were always required, since v2, but you could get away with not having them before.)

https://snipe-it.readme.io/docs/installation-issues#call-to-undef

[2020-11-11 22:08] #8677 closed, assigned to nobody

[2020-11-11 22:09] snipe commented on #8713
`accessories_note` is a new field. If it's not there, migrations did not complete correctly.

[2020-11-11 22:09] snipe commented on #8713
Also the command is `php artisan migrate`, not `php artisan migrations`

[2020-11-11 22:20] snipe commented on #8724
`DB_PORT` in your .env

[2020-11-11 22:20] #8724 closed, assigned to nobody

[2020-11-11 23:13] ZephyriusOne opened #8725 "Upgrading from 4.9.6 to 5.0.6 Failed...Snipe IT is down"
#### Please confirm you have done the following before posting your bug report:

- [ ] I have enabled debug mode
- [x ] I have read [checked the Common Issues page](https://snipe-it.readme.io/docs/common-issues)

**Describe the bug**
I am receiving errors during the upgrade process using php upgrade.php.

**To Reproduce**
Steps to reproduce the behavior:
Run php upgrade.php

**Expected behavior**

[2020-11-12 03:51] ZephyriusOne commented on #8725
I figured it out...I had to makes changes in the .env file.
First, the DB_DUMP_PATH from "C:\xampp\mysql\bin" to `"C:\\xampp\\mysql\\bin"`.

Second, I had to fix REDIS_PORT=null, as for some reason it was set to REDIS_PORT-null. No idea why. After these changes the upgrade worked just fine. I was worried for a bit there, as this is in production. Time to make backups! XD

One thing I want to know,

[2020-11-12 09:51] thumperest commented on #7891
+1 :)

[2020-11-12 10:31] magiausde opened #8726 "Archived assets can be checked out"
#### Please confirm you have done the following before posting your bug report:

- [x] I have enabled debug mode
- [x] I have read [checked the Common Issues page](https://snipe-it.readme.io/docs/common-issues)

**Describe the bug**
Even though an asset's status is "archived" or "undeployable", it can be checked out.
This "bug" also appears on the demo site.

**To Reproduce**
Steps to reproduce th

[2020-11-12 10:34] xpfgsyb commented on #8677
What a challenge, but I got it working. Maybe my steps will help the others here too.

0) Always have a backup.

1) Make sure you have all PHP dependencies. That was no problem for me because I already had all of them installed and enabled.

2) I had to update composer:
`mv composer.phar composer.phar.backup`
`curl -s https://getcomposer.org/installer | php`

3) Remove everything from the vendor d

[2020-11-12 11:22] diegogarciadev commented on #8626
@Relix360 Yes, I think this is for export, if you try to export what data you obatain?

[2020-11-12 11:28] diegogarciadev commented on #8716
Here you have the response @snipe

[2020-11-12 12:19] tamfadmin commented on #8677
That’s great news.  Thanks for sharing !!!

Cameshia

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: xpfgsyb <notifications@github.com>
Sent: Thursday, November 12, 2020 4:34:29 AM
To: snipe/snipe-it <snipe-it@noreply.github.com>
Cc: Cameshia Cargle <ccargle@txamfoundation.com>; Comment <comment@noreply.github.com>
Subject: Re: [snipe/snipe-it] Upgrade from 4.9.5

[2020-11-12 13:14] Relix360 commented on #8626
@diegogarciadev I'm not running a 4.9 2 version anymore, but on 5.0.3 i get a blank file, I also have tried replacing the file for the one in 4.9.2 but I got the same result from the report

[2020-11-12 13:23] kennj3 opened #8727 "Unable to save any SAML Settings in Windows Server"
#### Please confirm you have done the following before posting your bug report:

- [X] I have enabled debug mode
- [X] I have read [checked the Common Issues page](https://snipe-it.readme.io/docs/common-issues)

**Describe the bug**
Unable to save any settings under the SAML settings including the IdP metadata file.  Regardless of whether SAML is enabled, any data is uploaded or any other settings

[2020-11-12 13:41] JamborJan opened #8728 "managing devices with software vulnerabilities"
**Server (please complete the following information):**
 - Snipe-IT Version: this a feature request, no version
 - OS: doesn't matter, I'll run it on Docker / Kubernetes
 - Web Server: doesn't matter, never IIS
 - PHP Version: latest

**Is your feature request related to a problem? Please describe.**
I have different kinds of Software running on devices or in containers. I want to have one place w

[2020-11-12 14:29] LSNIGHTSHOT commented on #8727
Please refer to issue #8654

Thanks

[2020-11-12 15:33] kennj3 commented on #8727
That solution worked great!  Thank you.

[2020-11-12 15:33] #8727 closed, assigned to nobody

[2020-11-12 15:44] dakide opened #8729 "[Feature request] LDAP Sync - Add Merge/Replace choice when doing a sync"
- v5.0.6

**Is your feature request related to a problem? Please describe.**
During an LDAP sync, fields that have been changed in SnipeIT are overwritten with the field from AD

**Describe the solution you'd like**
I'd be nice to have an option in the LDAP configruation that would enable/disable a function to have AD merge fields instead of replace when doing a sync.
For example, my AD org puts a

[2020-11-12 16:35] deflower commented on #7824
My organization is looking into migrating to SniptIT. However, this license limitation is a deal breaker due to the size and number of assets we have. Would love to see this limitation either increased significantly or removed entirely.

[2020-11-12 17:27] HG-CustomerAdvocate commented on #8696
Hi @TheBigT2020

We would love to take a look at this for your and see what we can do to help. Can you please reach out to us at reputation@endurance.com and provide the primary email address on your account and the best phone number to reach you? We look forward to working with you.

Erinn
Customer Advocate at HostGator

[2020-11-12 18:01] uberbrady commented on #8601
there's a barcode cache that you can blow out. You can hose everything in public/uploads/barcodes that ends in `.png` - you'll want to make sure not to delete `invalid_barcode.gif`

Glad that you got things going! I'm sorry that it's been such an adventure :/

[2020-11-12 18:18] jmartins1 commented on #8601
Thanks for all the support. It's much appreciated.  Just some final Q or A.

1. I deleted the .png files in public/uploads/barcodes this resulted in a placeholder, i.e. no barcode. This seems like an intermittent issue. Sometimes it's fine others it's missing.

![2020-11-12_11-13-19](https://user-images.githubusercontent.com/31219479/98979085-23f92b00-24d8-11eb-8570-575ec55cc118.jpg)

2. Will the

[2020-11-12 18:42] kstant commented on #8705
Thanks for the reply. So which import header maps to "Default Location"?

[2020-11-12 19:27] ryantkasher commented on #8476
+1

[2020-11-12 19:48] bakfiets2 commented on #8458
Got it figured out. There are some strange things in Plesk Onyx. When uploading snipe by FTP, it is missing some files i gues. Did a git pull on the already running installation from the Plesk control screen. Added the PHP extension by hand in de PHP settings from the domain inside plesk. Run the php upgrade.php and everything is running.

So when using plesk, pull it from git with the Git extensi

[2020-11-12 19:53] snipe commented on #8458
Excellent - thanks so much for following up. FWIW, I made some changes to the upgrade script this week that should help identify missing extensions a little easier.

[2020-11-12 20:58] bakfiets2 commented on #8458
Found another thing. After installing snipe again. i get the same error. If i do a pull. And run upgrade.php it starts downgrading the composer. I suspect that Plesk is updating the composer during the iniatal install of composer on the domain.

Als the check you integrated has a strange thing. It says everything is there. And then says it is missing a few php extensions.
[code]

[2020-11-12 21:20] snipe commented on #8458
Hm, okay, I’ll take a look

[2020-11-12 21:23] #8699 closed, assigned to uberbrady

[2020-11-12 21:26] snipe commented on #8458
The upgrade script should be fixed on master now. (I had left in a duplicate block of code)

[2020-11-12 21:28] bakfiets22 commented on #8458
Cool. Will do a pull. Thnx!

[2020-11-12 21:30] snipe commented on #8458
Lemme know if you run into anything else weird. :)

[2020-11-12 21:46] snipe opened #8731 "Updated update.php - would love some testers!"
Hi folks - I've made a few changes to the `update.php` on master/develop, which should hopefully help those users who are running into weird errors because they are missing some required PHP extensions. (The requirements haven't really changed in a long time, but you could get away with not having a few of them in earlier versions.)

I'd love if some folks could kick it around a little. I'd like t

[2020-11-12 21:57] denzfarid opened #8732 "failed upload assets to s3 & image not show"
#### Please confirm you have done the following before posting your bug report:

- [ ] I have enabled debug mode
- [*] I have read [checked the Common Issues page](https://snipe-it.readme.io/docs/common-issues)

**Describe the bug**
Hello, I had an error when I tried to move assets to s3 bucket, I used the php artisan snipeit command: move-uploads, according to this directive
`php artisan snipeit:

[2020-11-12 22:14] snipe commented on #8732
S3 support is still highly experimental. We'll take a look at this.

[2020-11-12 22:49] snipe commented on #8732
I've pushed out a possible fix onto the develop branch

[2020-11-12 22:53] snipe commented on #8721
I'm not sure I follow. Can you explain a little further?

<img width="830" alt="Screen Shot 2020-11-12 at 2 51 59 PM" src="https://user-images.githubusercontent.com/197404/99006025-ac86c400-24f6-11eb-8867-0dc3f7d0cab4.png">

<img width="877" alt="Screen Shot 2020-11-12 at 2 52 42 PM" src="https://user-images.githubusercontent.com/197404/99006074-bf00fd80-24f6-11eb-94e5-9ad40c343d36.png">

[2020-11-12 22:54] snipe commented on #8728
Custom fields for licenses is already on the short term roadmap :)

[2020-11-12 23:02] snipe commented on #8725
The required plugins are definitely required - stuff will break in weird ways if they're not. (That's why we added the extension check.)

You can ignore the `PHP extension MISSING: gd or imagick` stuff - that was a duplicate code block that's since been fixed.

[2020-11-12 23:02] #8725 closed, assigned to nobody

[2020-11-12 23:04] snipe commented on #8720
Why would you replace the file (versus deleting and uploading a new one)

[2020-11-12 23:04] snipe commented on #8717
If they are not a super-admin, did you give them permission to view assets, either by user permissions or group permissions?

[2020-11-12 23:06] denzfarid commented on #8732
Thank you in advance

perfect,
I tried checkout to the develop branch and the logo problem has been resolved but there are still errors on the same line but the contents are different

<img width="375" alt="image" src="https://user-images.githubusercontent.com/1294403/99007101-1c885f00-2576-11eb-9570-53118dd4cd42.png">

[code]

[2020-11-12 23:10] snipe commented on #8716
This has been merged into develop - thanks, @dampfklon!

[2020-11-12 23:10] #8716 closed, assigned to nobody

[2020-11-12 23:14] snipe commented on #8719
This is now on develop

[2020-11-12 23:14] #8719 closed, assigned to nobody

[2020-11-12 23:21] snipe commented on #8711
This is now on develop.

<img width="557" alt="Screen Shot 2020-11-12 at 3 20 11 PM" src="https://user-images.githubusercontent.com/197404/99008234-9aa72000-24fa-11eb-849a-058f05c15367.png">

[2020-11-12 23:21] #8711 closed, assigned to nobody

[2020-11-12 23:22] snipe commented on #8715
I am able to reproduce this - looking at it now

[2020-11-12 23:27] #8726 closed, assigned to nobody

[2020-11-12 23:27] #8715 closed, assigned to nobody

[2020-11-12 23:33] snipe commented on #8705
I believe just `Location`

[2020-11-12 23:33] #8705 closed, assigned to nobody

[2020-11-12 23:35] snipe commented on #8697
We actually use Composer 1.x here and it hasn't given us any issues. I'm always a little loathe to do data destructive stuff in the upgrader, but it's not a bad idea.

[2020-11-12 23:46] snipe commented on #8697
After mulling it over with @uberbrady, I think we're just a little uncomfortable with removing files in the upgrader :( I think we do mention giving removing the vendors dir a try and then re-running composer somewhere in the docs tho.

[2020-11-12 23:46] #8697 closed, assigned to nobody

[2020-11-12 23:47] #8696 closed, assigned to nobody

[2020-11-12 23:47] #8675 closed, assigned to nobody

[2020-11-12 23:48] snipe commented on #8700
@Godmartinz Can you take a look at this?

[2020-11-12 23:49] snipe commented on #8723
@bzeus - can you confirm this bug for me please? Danke!

[2020-11-12 23:51] snipe commented on #8732
Can you do another pull from develop and see if that fixes your issue?

[2020-11-12 23:55] denzfarid commented on #8732
nope, same issue
this i checkout to branch develop and i pull

<img width="873" alt="image" src="https://user-images.githubusercontent.com/1294403/99010664-04680e00-257d-11eb-8306-aed74151c06a.png">

<img width="344" alt="image" src="https://user-images.githubusercontent.com/1294403/99010705-16e24780-257d-11eb-914f-b7eb026b4ac8.png">

<img width="1602" alt="image" src="https://user-images.githubus

[2020-11-13 01:28] snipe commented on #8713
You should never ever add columns manually. We have migrations to handle that. If you try to run migrations again, you'll get an error, since that column already exists and the migration will try to create it again.

[2020-11-13 01:31] kstant commented on #8705
Negative. "Location" (on import) maps to "Location" (which is current location) AND "Checkout Location"

[2020-11-13 02:47] snipe commented on #8669
This should be fixed on develop now and will be in the next tagged release

[2020-11-13 02:47] #8669 closed, assigned to nobody

[2020-11-13 02:48] snipe commented on #8669
(For those curious, it's because XML can have a mime-type of `text/xml` *or* `application/xml`, and we were only checking for the text mime type.)

[2020-11-13 02:52] sanjay900 commented on #8689
I was curious, would this also be a problem with disabled accounts, or was this only triggerable in this exact circumstance?

[2020-11-13 05:34] snipe commented on #8644
This all looks good to me - is it working as expected? (Don't worry about the `composer clear-compiled` error.)

[2020-11-13 05:46] snipe commented on #8732
Goddammit. Okay, I just pushed out a few more fixes for that script.

[2020-11-13 05:59] snipe commented on #8670
@bahhhhh Do you have LDAP-sync set up as well, or only login?

[2020-11-13 06:02] snipe commented on #8670
Also do you have anything in your app logs that might shed any light? Even just debugging stuff. I don't see anything in the LoginController that would change that value.

[2020-11-13 06:06] snipe commented on #8670
I'm thinking it might be related to this bit from the `LdapAD` model?

[code]

Specifically this part:

[code]

That points to this method:

[code]

[2020-11-13 06:07] snipe commented on #8670
Is this AD or LDAP?

[2020-11-13 06:19] snipe commented on #8670
I've just added some additional debugging info on develop - hopefully that will shed some light

[2020-11-13 06:21] snipe commented on #8670
(I also attempted a hack around for the login deactivation. I believe this does not solve the crux of the problem, which I think is a logic bug in the LdapAd model, but it might work for you for right now until we can more formally fix this.)

[2020-11-13 06:25] snipe commented on #8668
Seems to be working for us...

<img width="784" alt="Screen Shot 2020-11-12 at 10 23 54 PM" src="https://user-images.githubusercontent.com/197404/99036124-f2af4800-2535-11eb-856c-2d8f8e851afd.png">

[2020-11-13 06:47] snipe commented on #8647
This is now on develop and will be in the next tagged release.

[2020-11-13 06:47] #8647 closed, assigned to nobody

[2020-11-13 06:48] snipe commented on #8659
What happens when you create a column called Requestable and give it a value of 0 or 1?

[2020-11-13 06:49] snipe commented on #8626
This was fixed on develop earlier this week

[2020-11-13 06:49] #8626 closed, assigned to nobody

[2020-11-13 06:50] snipe commented on #8631
Closing as duplicate of #8155

[2020-11-13 06:50] #8631 closed, assigned to nobody

[2020-11-13 06:50] snipe commented on #8321
Glad you're sorted :)

[2020-11-13 06:50] #8321 closed, assigned to nobody

[2020-11-13 06:52] snipe commented on #8628
You'll want to make sure your `APP_URL` is correct in your .env file. It should be the full URL of the Snipe-IT instance, including `http://` or `https://`.

`APP_URL=http://10.10.0.14`

then clear your config cache.

`php artisan config:clear`

[2020-11-13 06:52] #8628 closed, assigned to nobody

[2020-11-13 06:53] snipe commented on #8625
Without app logs, it's impossible for us to diagnose this issue.

[2020-11-13 06:57] snipe commented on #8612
Is it possible you have to clear your app caches? We don't use `GetDeleted()` anywhere in the code base. https://github.com/snipe/snipe-it/search?q=GetDeleted

Try running the list of commands here:
https://snipe-it.readme.io/docs/common-issues#quick-tip-handy-commands

<blockquote><img src="https://repository-images.githubusercontent.com/14346979/164a6580-7d79-11e9-865f-eae87593e11a" width="48" a

[2020-11-13 06:57] #8233 closed, assigned to nobody

[2020-11-13 07:24] diegogarciadev opened #8733 "Typo in unaccepted_assets.blade.php"
#### Please confirm you have done the following before posting your bug report:

- [x] I have enabled debug mode
- [x] I have read [checked the Common Issues page](https://snipe-it.readme.io/docs/common-issues)

**Describe the bug**
There is a typo in resources/views/reports/unaccepted_assets.blade.php

Line 51, should be:

`<td>{{ ($assetItem->company) ? $assetItem->company->name : '' }}</td>`

*

[2020-11-13 07:26] snipe commented on #8733
This is now fixed on develop

[2020-11-13 07:26] #8733 closed, assigned to nobody

[2020-11-13 07:38] snipe commented on #8609
This is now fixed on develop

[2020-11-13 07:38] #8609 closed, assigned to nobody

[2020-11-13 07:42] snipe commented on #8642
Hm. Without errors, this is going to be pretty tough to troubleshoot

[2020-11-13 07:43] snipe commented on #8641
I don't really understand what you're saying here...

Please provide answers to the questions you deleted.

#### Confirm you have done the following before posting your bug report:

- [ ] I have enabled debug mode
- [ ] I have read [checked the Common Issues page](https://snipe-it.readme.io/docs/common-issues)

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduc

[2020-11-13 07:43] snipe commented on #8639
Is this issue still relevant?

[2020-11-13 07:44] snipe commented on #8640
I believe this was already fixed this week

[2020-11-13 07:44] #8640 closed, assigned to nobody

[2020-11-13 07:45] GustelDE commented on #8628
Thanks, I knew this, but our Snipe-IT-Server is a multi-homed server, which means he has multiple NICs in different VLANs. A single IP does (by far) not accommodate this problem. I described this here: https://github.com/snipe/snipe-it/issues/8578#issue-727187840

Four our enviroment I have to comment the "APP_URL" out and edit the view.blade.php as written above.
Or is it possible to add multiple

[2020-11-13 07:46] snipe commented on #8632
We have some notes on SELinux here:

https://snipe-it.readme.io/docs/linuxosx#notes-on-selinux
https://snipe-it.readme.io/docs/installation-issues#permission-issues
https://snipe-it.readme.io/docs/common-issues#swift_transportexception-connection-could-not-be-established-with-host-permission-denied-13

<blockquote><img src="/favicon.ico" width="48" align="right"><div>Snipe-IT Documentation</div><d

[2020-11-13 07:47] snipe commented on #8628
It's not possible to add multiple IPs - the APP_URL is what's used for the application to know how to generate URLs.

[2020-11-13 07:48] snipe commented on #8620
Can you try just using the `mail` driver and letting PHP handle the sending of email?

[2020-11-13 07:49] snipe commented on #8608
@Ladjets Unfortunately that's not currently possible at this time.

[2020-11-13 07:49] #8608 closed, assigned to nobody

[2020-11-13 07:50] snipe commented on #8570
Not sure what you mean by can't even use it?

[2020-11-13 07:50] #8560 closed, assigned to nobody

[2020-11-13 07:53] snipe commented on #8546
Hm, I don't see anything peculiar in those settings.  We didn't make any changes in the security headers in v5 that weren't already in the last v4 release, so I'm not sure why you'd be seeing this only now.

[2020-11-13 07:55] snipe commented on #8544
This is now fixed on develop

[2020-11-13 07:55] #8544 closed, assigned to nobody

[2020-11-13 07:57] snipe commented on #8527
Is this an issue in v5? I can't seem to reproduce it.

<img width="572" alt="Screen Shot 2020-11-12 at 11 56 32 PM" src="https://user-images.githubusercontent.com/197404/99043142-bf26ea80-2542-11eb-9032-b3c11bf53cdf.png">

[2020-11-13 07:57] #8587 closed, assigned to nobody

[2020-11-13 07:57] #8559 closed, assigned to nobody

[2020-11-13 07:58] snipe commented on #8663
You can say `y` for discarding the changes

[2020-11-13 07:59] jovibroz commented on #8668
Weird.. or semi weird, or not weird at all maybe. Even though the reset screen you pictured above looks the same on my iMac / Safari I never get presented with a new QR upon next login on my Mac. But should I? Or is this only for non PC browsers? Not sure why this computer is so trustworthy :) Anyway, I got a new QR when I accessed the snipe installation from my iPad. So I just had to take a pictu

[2020-11-13 08:39] denzfarid commented on #8732
Fantastic !!, I really appreciate it, the command is perfect, and there are no errors

i am very very thank you
<img width="342" alt="image" src="https://user-images.githubusercontent.com/1294403/99046980-1b7f1e00-25c6-11eb-9a3e-73aaf1c0ae09.png">

this for image profile

<img width="201" alt="image" src="https://user-images.githubusercontent.com/1294403/99060717-02c93500-25d3-11eb-921d-cfa3f9f710

[2020-11-13 08:39] #8732 closed, assigned to nobody

[2020-11-13 08:52] denzfarid commented on #8731
now I have tried the upgrade.php script

<img width="663" alt="image" src="https://user-images.githubusercontent.com/1294403/99048321-fee3e580-25c7-11eb-9bfc-7ac9d32e3309.png">

<img width="852" alt="image" src="https://user-images.githubusercontent.com/1294403/99048394-13c07900-25c8-11eb-8480-3c960b0f81fe.png">

[2020-11-13 09:05] ChristophAuch opened #8734 "LDAP Problem after Updating on latest Version"
#### Please confirm you have done the following before posting your bug report:

- [x] I have enabled debug mode
- [x] I have read [checked the Common Issues page](https://snipe-it.readme.io/docs/common-issues)

**Describe the bug**
We have the problem with our instance that after an update from 4.9.2 to the current version 5.0.5-pre users who had not yet logged in on the old version can no longer

[2020-11-13 09:54] igittigitigit opened #8735 "Documentation: please add troubleshooting/common issues tip for SVG images"
_**Server:**_
independent of Snipe-IT and underlying software versions

_**Is your feature request related to a problem? Please describe.**_
SVG upload is not excepting the selected file

_**Describe the solution you'd like**_
I've seen users dealing with the same problem before and after I had my own ticket here. There was never a solution given. For myself I found the reason of this issue after

[2020-11-13 10:34] KrishnaprabhaSNaik commented on #8172
I am also facing the same issue. It was due to some issue with DB. I created a custom field using MySql workbench instead of creating from the web interface. From that day onwards we faced the issue with search. I tried deleting the custom field from the MSQL workbench. Now the asset search is working fine.

[2020-11-13 11:29] snipe commented on #8172
If the database wasn't edited manually, I don't really have any idea why you'd be seeing this issue. There was nothing unusual about 4.9.3 that should have caused that.

[2020-11-13 11:30] snipe commented on #8735
If it's not a valid SVG, it wouldn't upload correctly. I'm not sure how we'd explain that in a way that wouldn't be more confusing for the average user (who usually isn't responsible for the creation of the image, just for uploading it.)

[2020-11-13 11:33] snipe commented on #8735
I've added it to the documentation, although I'm not sure it won't cause as much confusion as it solves problems.

https://snipe-it.readme.io/docs/common-issues#svg-images-will-not-upload

<blockquote><img src="/favicon.ico" width="48" align="right"><div>Snipe-IT Documentation</div><div><strong><a href="https://snipe-it.readme.io/docs/common-issues#svg-images-will-not-upload">Common Issues</a></st

[2020-11-13 11:33] #8735 closed, assigned to nobody

[2020-11-13 11:35] snipe commented on #8734
Are you getting an error anywhere on Save? Also can you confirm what your minimum password length is set to in Security Settings?

[2020-11-13 11:36] snipe commented on #8731
Looks great, thanks @denzfarid!

[2020-11-13 11:36] #8731 closed, assigned to nobody

[2020-11-13 11:40] snipe commented on #8732
Glad that worked for you. Please do keep us apprised of any other weirdness you find with the S3 stuff. It's still very much a work in progress.

[2020-11-13 11:42] snipe commented on #8668
Welp. Server's haunted. Maybe a cookie/session issue? I can't think of any reason why you'd see the QR on your iPad and not on your desktop. We don't treat the browsing devices any differently there.

Does it just skip you right to the "enter your 2FA code" part on your PC?

[2020-11-13 12:02] jovibroz commented on #8668
I just get logged in as normal, username / pwd and into the dashboard. Sounds like a cookie / session thing.

[2020-11-13 12:03] snipe commented on #8668
Hm, that seems amiss though. Do you have mandatory 2FA for everyone set up, or optional for each user?

[2020-11-13 12:04] jovibroz commented on #8668
Required all. :O

[2020-11-13 12:04] jovibroz commented on #8668
![Skärmavbild 2020-11-13 kl  08 32 40](https://user-images.githubusercontent.com/43058168/99070575-c84ea080-25b0-11eb-8401-d4d35d98ce52.png)

[2020-11-13 12:07] snipe commented on #8668
The middleware that handles that process is this:

[code]

My guess would be it's coming from:

[code]

But I don't think we changed anything there in quite some time.

[2020-11-13 12:11] jovibroz commented on #8668
I don't really remember either. What I do know is that I enabled 2FA before V5. And that I've seen QR on my Mac. And even reset It once before. Maybe a change in Safari or something.. or my bllleeeeding edge ubuntu 20.04.1  :)
10 PRINT "SUDO APT UPDATE"
20 INPUT A$
30 PRINT "EXECUTE SUDO APT UPGRADE /Y"
40 IF A$ = HELLS YES GOTO 50
50 GOTO 10
RUN

[2020-11-13 12:13] snipe commented on #8668
Heh... Well, I was going to add session tracking to the user table anyway as a way to enhance security on a password change, so maybe that solution can work here as well. Hold tight and let's see if I can kill two birds with one stone.

[2020-11-13 12:13] snipe commented on #8668
(Also, no more BASIC for you.)

[2020-11-13 12:45] igittigitigit commented on #8735
Thanks for adding it!

I'm not an average user, working in the IT for a long time by now. But I just downloaded SVG files of manufacture logos (Dell, Microsoft, etc.) from the Internet/Wikipedia. All were working fine with many programs, like viewing them with Internet Explorer. Therefore I wasn't thinking of an non conform XML content. Only after I tried with a different file, which was working,

[2020-11-13 13:37] jovibroz commented on #8668
Haha thanks for shutting me up :)

[2020-11-13 14:02] chillinglucifer commented on #8644
Hey so... If you ever want an ID-10T error hall of fame, throw this guy up there.

We had Symantec managing our firewall which would allow port 80 access if we put it in the console which we had already for a separate program. We switched to Sophos which does not manage firewall (at least not without a separate subscription), only monitor it. Default windows firewall settings did not have rules in

[2020-11-13 14:02] #8644 closed, assigned to nobody

[2020-11-13 14:07] roratonet commented on #8721
@snipe sure

[Here](https://demo.snipeitapp.com/hardware) I have the list of all assets:

<img width="488" alt="Screenshot 2020-11-13 at 15 00 14" src="https://user-images.githubusercontent.com/22026195/99080427-98f45f80-25c1-11eb-85c8-1e466478fb49.png">

I will select the **MacBook Pro** with **Asset Tag** [372555278](https://demo.snipeitapp.com/hardware/1) and **no Asset Name** set, and create a

[2020-11-13 14:15] jovibroz commented on #8731
Works great! No other issues than my normal f***** u* Composer install. (Can it be easily fixed btw?)

--------------------------------------------------------
WELCOME TO THE SNIPE-IT UPGRADER!
--------------------------------------------------------

This script will attempt to:

- check your PHP version and extension requirements
- do a git pull to bring you to the latest version
- run composer

[2020-11-13 14:28] denzfarid commented on #8732
okay, I haven't tried this s3 more, quick question,
what is the difference between public and private? what is the difference between public and private?

I just tried a fresh update (I deleted existing assets on S3, and I ran again),

In this latest update, I only found private uploads and no public uploads.

<img width="504" alt="image" src="https://user-images.githubusercontent.com/1294403/9908

[2020-11-13 15:05] henningkessler commented on #8657
Hi there, happiness over here. I just needed to add
[code]
and run
[code]
and that did all the rest by itself

Thanks all for your help

Henning

[2020-11-13 15:29] troveitech commented on #8642
So in the name of testing I just tried a brand new install on my cPanel VPS, after going through all the steps, I'm still met with a 500 error before even being able to do the pre-flight.

When attempting `composer clear-compiled` I get the following

[code]

[2020-11-13 15:31] Go2ClassPoorYorick commented on #8636
@Dimtar I had a similar error (`1054 Unknown column 'accessories_users.note' in 'field list' `)- just to probe a bit, is it possible that you ran the `php upgrade` script instead of `php artisan migrate`?

I see you're also using the docker container and because of the way my docker instance was setup {root user) the upgrade script error-ed out (Unable to run as root) if you had to work around the

[2020-11-13 15:38] roratonet commented on #8720
I have no issues in deleting a previously uploaded file and uploading a new one.
But I find it more useful to _edit_ the **Notes** in case of need, without having to
1) download the file
2) remove the entry
3) create a new entry with different **Note** and re-upload the file previously downloaded file.

With this behaviour I would alter the **Created at** timestamp, which in my opinion is bad. May

[2020-11-13 15:57] roratonet opened #8736 "Currencies are not correctly handled in Licenses"
#### Please confirm you have done the following before posting your bug report:

- [ ] I have enabled debug mode
- [X] I have read [checked the Common Issues page](https://snipe-it.readme.io/docs/common-issues)

**Describe the bug**
We have multiple companies all over the world using the same tool on one server, all with different currencies.
The main issue is that, when EUR is set as Default Curr

[2020-11-13 15:58] airforceixi opened #8737 "Edit Component: validation.gt.numeric missing string"
#### Please confirm you have done the following before posting your bug report:

- [X] I have enabled debug mode
- [X] I have read [checked the Common Issues page](https://snipe-it.readme.io/docs/common-issues)

**Describe the bug**
Attempting to modify a component's details if all quantity is checked out fails with a validation.gt.numeric error.

**To Reproduce**
Steps to reproduce the behavior:

[2020-11-13 16:10] troveitech commented on #8642
Okay might have found something here in `/var/log/apache2/error_log`

[code]

[2020-11-13 16:17] troveitech commented on #8642
AH! Okay found another issue that pointed to this, and that's the issue, after setting public to 755 and public/index.php to 644, and snipe-it as a whole to 755 that cleared the 500 error.

[2020-11-13 16:19] troveitech commented on #8642
Went back to my original install, changed public/index.php to 644, the login prompt came up, and we're good again.

[2020-11-13 16:19] #8642 closed, assigned to nobody

[2020-11-13 18:40] uberbrady commented on #8698
Hrm. Well, another option would be to try to use a `ldaps://` URL, since the error here seems to be around SSL/TLS settings. Any luck there?

[2020-11-13 18:43] uberbrady commented on #8689
It was definitely a similar bug to what we had in 4.x - basically, if you marked an account as Delegation-disabled, they would be considered 'not real accounts' and be prevented from logging in.

If an account were legitimately disabled, it _should_ work correctly, and "deactivate" the accounts, preventing them from being able to log in. I don't know if such an attempted login would generate a 500

[2020-11-13 18:45] uberbrady commented on #8684
We had a problem before where, if we had too many blank attributes defined in the LDAP settings, then the LDAP query would fail. We fixed that, and I think that's on Master. I don't think we've rolled a release out for that yet, however.

[2020-11-13 18:49] uberbrady commented on #8621
@VanillaNinjaD the migration that runs to get your database schema migrated from v4 to v5 _should_ automatically set that variable during the migration process - but it looks like that didn't happen for you for some reason.

[2020-11-13 18:50] uberbrady commented on #8602
The latest master has a fix for the 'protocol error when ldap attributes are blank' problem, for what it's worth.

[2020-11-13 18:52] uberbrady commented on #8535
Also, in v5 we weren't correctly respecting `LDAP_MEM_LIM` - until 5.0.5 or so. Now we do.

[2020-11-13 19:06] VanillaNinjaD commented on #8621
@uberbrady I was one of the users bit by the weird migrations issue that some of us had during the v5 upgrade. I'm sure that had something to do with it.

I only pointed it out since I noticed the screenshots above have "This is an Active Directory Server" selected but do not have the "Append domain name to username field" selected

[2020-11-13 19:12] snipe commented on #8644
I promise, I’ve seen and done worse. Just so glad you got it sorted. 😁

[2020-11-13 20:01] snipe opened #8738 "v5 - backups wonky when using S3"
Just leaving this here for me...

I need to figure out the weird path issues for backing up and downloading backups from S3. There is a slight inconsistency between local and S3 which is causing it to *look* like backups aren't being performed.

WIP on my end, just didn't want to lose track of it.

[2020-11-13 20:02] uberbrady opened #8739 "Deactivated users receive HTTP 500 error page on login"
I've seen several reports of this now, here on GH as well as with our own customers.

If a user is deactivated, when they try to log in - presuming, of course, that they got their username and password right - they receive a 500 error. A helpful error page might be nicer and less confusing to our end-users and their admins. Probably with some verbiage (some of which may be pre-defined in Laravel)

[2020-11-13 20:04] snipe commented on #8739
I'm on it - ty for the heads up

[2020-11-13 20:04] snipe commented on #8739
@uberbrady can you point me to an existing issue? Hopefully one with a stack trace? If not, I'll just see if I can reproduce locally

[2020-11-13 20:05] snipe commented on #8737
Huh... weird how it's only doing that on edit. They *should* be using the same validation rules.

I'lll take a look.

[2020-11-13 20:09] uberbrady commented on #8739
Oh, this may also *only* have to do with LDAP users - I may have even found the line:

https://github.com/snipe/snipe-it/blob/644084658a9f838039711b74d15b9b27e7875d4f/app/Services/LdapAd.php#L148

[2020-11-13 20:10] snipe commented on #8737
Fixed on develop

[2020-11-13 20:10] #8737 closed, assigned to nobody

[2020-11-13 20:18] kearneymo opened #8740 "Call to undefined method Monolog\Logger::useFiles() when using php artisan snipeit:import"
#### Please confirm you have done the following before posting your bug report:

- [x] I have enabled debug mode
- [X] I have read [checked the Common Issues page](https://snipe-it.readme.io/docs/common-issues)

**Describe the bug**
Call to undefined method Monolog\Logger::useFiles() when using `php artisan snipeit:import`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to CLI.
2. Type `p

[2020-11-13 20:19] snipe commented on #8668
What's baffling me here is why this would have just shown up. We did upgrade the underlying framework that Snipe-IT is built on, and my guess is something changed in the way they handle manually created sessions.

I'm still going to be working on manually destroying sessions, but it's a little complicated since:

1) A user could have multiple sessions open so we need to know *all* of them
2) We ne

[2020-11-13 20:24] snipe commented on #8740
@dmeltzer Does this look right to you? I only see that one instance of `useFiles()`, and I'm not sure I remember what it was used for (or how it ever worked?) I assume it was just used to create a log file of the results of the import, but without the original method, it's kinda hard to see what it's supposed to do here.

[2020-11-13 20:25] snipe commented on #8740
@kearneymo - if you comment out the `useFiles()` line in the `ObjectImporter`, does your import work?

[2020-11-13 20:33] kearneymo commented on #8740
@snipe, Yes, it works now. Well, it's at least giving me constructive feedback (field validation and stuff). Thanks for the fast response!

I commented out app/Console/Commands/ObjectImportCommand.php:59 as suggested.
[code]

[2020-11-13 20:35] snipe commented on #8740
@kearneymo TY for the quick feedback. I've pushed that change (the commenting out) to develop. I still need to further explore how to handle those import log files for now, but at least it should be working again.

[2020-11-13 21:21] uberbrady opened #8741 "[Feedback Wanted] Potential improvements for LDAP for future LDAP implementations"
I'm just trying to document the various LDAP issues we have all around and trying to collect together the main things I've been seeing into one central location. Feel free to chime in if you don't see something you want, or have had to deal with, listed here.

1. the AdLdap2 library that we use is in maintenance mode; the author recommends moving to its successor, LdapRecord. AdLdap2 has some prob

[2020-11-13 21:31] #8740 closed, assigned to nobody

[2020-11-13 21:31] snipe commented on #8739
Closing as duplicate of #8689

[2020-11-13 21:31] #8739 closed, assigned to uberbrady, snipe

[2020-11-13 21:32] snipe commented on #8689
@uberbrady in talking with you, it sounds like this issue was not actually solved by that PR, correct?

[2020-11-13 21:33] uberbrady commented on #8689
Yes, I think I was mistaken. My bad :(

[2020-11-13 21:57] twisted3motions opened #8743 "LDAP PHP Allowed memory size exhausted"
#### Please confirm you have done the following before posting your bug report:

- [X ] I have enabled debug mode
- [X ] I have read [checked the Common Issues page](https://snipe-it.readme.io/docs/common-issues)

**Describe the bug**
Testing LDAP results in a long hang and then  "500 Server Error. Please check your server logs for more information."

**Expected behavior**
A box with identical LDA

[2020-11-13 22:06] uberbrady commented on #8743
You'd have to have a *lot* of users in your directory to need more than a gig. Try instead adjusting the `LDAP_MEM_LIM` `.env` var instead - we actually do some overrides in there specifically just on the sync call, and your php.ini settings might be getting overwritten by our smaller numbers.

[2020-11-14 00:53] danielewood commented on #8687
I'm perfectly fine with automatic generation of a 64character random string for the password. Just make it a note on the checkbox when enabling auto creation from SAML on first login.

When SAML is enabled, I don't want users logging in with their own password anyways.

[2020-11-14 07:25] JovinJovinsson commented on #8620
Not sure how to get it to use the `mail `driver instead of SwiftMailer/Laravel, but I just went into the `vendor/laraval/framework/src/Illuminate/Notifications/Channels/MailChannel.php` and modified the `send()` function to direct to `PHPMailer` instead.

Works a treat

[2020-11-14 07:25] #8620 closed, assigned to nobody

[2020-11-14 14:55] baditaflorin opened #8744 "Upload new image to location category fails"
See video for details.

https://youtu.be/2Q79wubfYN8

20201114_164638.jpg (2.34 MB)
 Accepted filetypes are jpg, png, gif, and svg. Max upload size allowed is 8M. Upload is 2.34 MB.

The image failed to upload.

[2020-11-14 15:22] baditaflorin commented on #8744
Link to photo. https://drive.google.com/file/d/1TP9i3eSP_aUGkypW2HaCxzZpikeuNVyu/view?usp=sharing

Other smaller photos load fine.
It could be maybe something related with the pixel size of the photo?

@snipe Where could I check the logs in Docker container to see what specific error do I get?

<blockquote><img src="https://lh3.googleusercontent.com/ORrQPcMFzAmn3tZZy5mInRL4Dw0NbUdDDESQP3Gq6ybB-FGY

[2020-11-14 15:57] baditaflorin commented on #8744
Duplicate of this bug https://github.com/snipe/snipe-it/issues/6251

[2020-11-14 16:10] baditaflorin opened #8745 "Adding images to Locations fails using latest Docker Image"
#### Please confirm you have done the following before posting your bug report:

- [x] I have enabled debug mode
- [x] I have read [checked the Common Issues page](https://snipe-it.readme.io/docs/common-issues)

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Location
2. Click on a Location
3. Click update Locatio

[2020-11-14 17:06] baditaflorin commented on #8745
[code]

[2020-11-14 17:42] baditaflorin commented on #8745
[code]

[2020-11-14 17:53] baditaflorin commented on #8731
How can I run from inside the container?
[code]

[2020-11-14 18:03] baditaflorin commented on #8745
I was able to identify that the code that is doing the loading of the image is here https://github.com/snipe/snipe-it/blob/df5cc7525e09be6b0ac77f7820b0236d863e07d4/app/Http/Requests/ImageUploadRequest.php

<blockquote><img src="https://repository-images.githubusercontent.com/14346979/164a6580-7d79-11e9-865f-eae87593e11a" width="48" align="right"><div><img src="https://github.githubassets.com/favic

[2020-11-14 18:09] baditaflorin commented on #8745
The problem is that the new photos are never loaded on the server, if I check to see if the files are written, I find that there are not.

And I do not get any error, also cannot see nothing in the logs.

![image](https://user-images.githubusercontent.com/2330999/99154015-34b2c800-26b5-11eb-9a2c-8a14021724fd.png)

[2020-11-14 21:17] snipe commented on #8744
Without a stack trace, it’s impossible for us to troubleshoot this (and impossible for us to determine whether it’s actually a duplicate issue.)

Also please complete the rest of the issue template so we know your environment, etc.

[2020-11-14 21:21] snipe commented on #8620
Please never ever edit vendor files. That’s a footgun. Next time we update packages, your changes will be overwritten, and we’ll be right back where we are now.

Use `mail` instead of `smtp` as your mail driver.

[2020-11-14 21:33] baditaflorin commented on #8744
I do not know how to generate the stack trace, can you pinpoint me in this
direction please?

I have not completed more info because I am running the Docker container so
the environment is configured by Snipe-it

On Sat, Nov 14, 2020, 23:17 snipe <notifications@github.com> wrote:

[2020-11-14 21:38] snipe commented on #8744
App logs are in storage/logs/laravel.log

[2020-11-14 21:40] snipe commented on #8744
If you’re not sure how to connect to the docker container, it might be best to try using a different installation/hosting system. Docker has some gotchas that’s traditional hosted/shared environment don’t have

[2020-11-14 22:10] baditaflorin commented on #8744
I use this command to connect inside the container
`sudo docker exec -it snipeit /bin/bash`

[2020-11-14 22:13] baditaflorin commented on #8744
[code]

[2020-11-14 22:22] baditaflorin commented on #8744
Did another test:
- Delete old laverel.log
- Create an empty file
- Tail new file to see if it gonna log something
- Modify location and add a photo
The result was that there was no new information outputted into lavarel.log
![image](https://user-images.githubusercontent.com/2330999/99158142-612c0b80-26d8-11eb-86d7-caf2c70e0172.png)

[2020-11-14 22:41] baditaflorin commented on #8744
Tried with recreating the file under the docker user and creating a new location, adding a photo to it.

[code]

[2020-11-14 22:47] samotelf opened #8746 "Error when checkin and checkout asset - Expected_Checkin_Notification' (T_CONSTANT_ENCAPSED_STRING)"
#### Please confirm you have done the following before posting your bug report:

- [x ] I have enabled debug mode
- [x ] I have read [checked the Common Issues page](https://snipe-it.readme.io/docs/common-issues)

**Describe the bug**
Error when checking in and checking out asset after updating to v5.0.6

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll

[2020-11-14 23:02] samotelf opened #8747 "Image not loading/Incorrect path in Asset QR Code section"
#### Please confirm you have done the following before posting your bug report:

- [ ] I have enabled debug mode
- [x ] I have read [checked the Common Issues page](https://snipe-it.readme.io/docs/common-issues)

**Describe the bug**
When in "View Asset" the path to the image asset in the QR Code section is incorrect (/**uploads/uploads**/models/...) after updating to v5.0.6 from v4.9.5
However, w

[2020-11-14 23:10] samotelf opened #8748 "Active Directory users with no first name + manager id invalid not imported."
#### Please confirm you have done the following before posting your bug report:

- [ ] I have enabled debug mode
- [ x] I have read [checked the Common Issues page](https://snipe-it.readme.io/docs/common-issues)

**Describe the bug**
LDAP errors after updating to v5.0.6 (was working in v4.9.5)
User not imported due to not having first name
User not imported due to manager id invalid

**To Reproduc

[2020-11-14 23:13] samotelf opened #8749 "v5+ - Assets by status dashboard pie chart is blank"
#### Please confirm you have done the following before posting your bug report:

- [ ] I have enabled debug mode
- [x ] I have read [checked the Common Issues page](https://snipe-it.readme.io/docs/common-issues)

**Describe the bug**
In the dashboard the assets by status cake is blank after updating to v5.0.6 from v4.9.5

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Dashboard'
2. Se

[2020-11-15 00:17] samotelf opened #8750 "Clean install using install script fails with error"
#### Please confirm you have done the following before posting your bug report:

- [ ] I have enabled debug mode
- [ ] I have read [checked the Common Issues page](https://snipe-it.readme.io/docs/common-issues)

**Describe the bug**
Following the steps in https://snipe-it.readme.io/docs/downloading using install script with command line fails with error:
-bash: php: command not found
-bash: php: c

[2020-11-15 06:29] bahhhhh commented on #8670
It's LDAP (from FreeIPA)

[2020-11-15 23:21] Dimtar commented on #8636
@Go2ClassPoorYorick Appreciate you trying to help but the upgrade script worked fine, it fixed my first issue.
As for my second issue there was an update on the MariaDB container over the weekend it seems and this has resolved my Snipe IT issue, thanks all for their assistance.

[2020-11-15 23:21] #8636 closed, assigned to nobody

[2020-11-16 01:12] hawkeye426 opened #8751 "LDAP Issues"
#### Please confirm you have done the following before posting your bug report:

- [YES ] I have enabled debug mode
- [YES ] I have read [checked the Common Issues page](https://snipe-it.readme.io/docs/common-issues)

**Describe the bug**
The LDAP module does not allow any users to log in when the "Append domain name to username field" is unchecked, and allows all valid AD users to log in when it

[2020-11-16 03:08] denzfarid commented on #8731
[code]

[2020-11-16 06:12] NickNck opened #8752 "Requestable Assets Issue"
Hi i am having an issue with the requestable assets feature. Installation of snipeit ran well and i can enter and save asset information without a problem. But i am getting "Whoops, looks like something went wrong." error when someone requests for an asset.

[2020-11-16 07:28] roratonet opened #8753 "Create asset from Model does not autofill the model"
#### Please confirm you have done the following before posting your bug report:

- [ ] I have enabled debug mode
- [X] I have read [checked the Common Issues page](https://snipe-it.readme.io/docs/common-issues)

**Describe the bug**
I want to create a **New Asset** from **Asset Model** and I need to select the **Asset Model** again in the **Model** field

**To Reproduce**
Steps to reproduce the be

[2020-11-16 08:21] vincentndl opened #8754 "Predefined Kits check out - error 500 | server error"
#### Actual Behavior

Hi @snipe, I use the predefined kits feature of session 5.0.6 when I check out the user, the system gives error 500 | server error. I also used the test on the demo website but it failed
Can you help me handle this error?
thanks

-----

- [ x] I have enabled debug mode
- [x ] I have read [checked the Common Issues page](https://snipe-it.readme.io/docs/common-issues)

- Is thi

[2020-11-16 08:34] diegogarciadev commented on #8692
What do you think about this @snipe?

[2020-11-16 09:26] JorisVanEijden commented on #8748
We're also getting the `... was not imported. REASON: The selected manager Id is invalid.` after upgrade from 4.9.5 to 5.0.6.

Looks like the `manager_id` column in the `users` table contains both `NULL` and `0` values for users without managers. The sync works for those with `NULL` but fails for those with `0`.

After an `UPDATE users SET manager_id = NULL WHERE manager_id = '0';` all is well aga

[2020-11-16 09:51] Joly0 commented on #8500
Btw, this is still a problem even in the newest release. Snipe still cant comunicate with my AD and throws the error from above

[2020-11-16 10:30] denzfarid commented on #8746
same with me
tesing on branch master and develop

<img width="1063" alt="image" src="https://user-images.githubusercontent.com/1294403/99242204-710b3300-2831-11eb-8169-9a75ebf8f484.png">

checkin asset
![ezgif com-video-to-gif(7)](https://user-images.githubusercontent.com/1294403/99244848-3c00df80-2835-11eb-81fa-077824f4be35.gif)

checkout asset
![ezgif com-video-to-gif(9)](https://user-images.git

[2020-11-16 12:47] HilaliAhmer commented on #8717
Yes I did.
I looked for a group. I only allowed viewing, but it only lists users whose company is not selected. It can list all of them when I give super admin authority.
It also didn't work when I gave it all privileges except super admin. I definitely need to give a super manager.

I installed it from scratch, rebuilt the database. I installed the latest php and snipe-it files. However, the resu

[2020-11-16 13:07] denzfarid commented on #8746
@samotelf

Have you tried changing the branch to the tagged version?
i tried with the tag version, all works fine

`git checkout v5.0.6`

`php artisan config:clear`

`php artisan cache:clear`

[2020-11-16 14:05] mnemonicly commented on #8740
This was a way of allowing all importer errors to be pushed to its own logfile.  Given that the CLI importer was never as polished or used, and that feature was only for the CLI importer and never documented very well, it's probably simplest to just remove the option entirely.

[2020-11-16 14:23] magiausde commented on #8726
I can confirm this working for archived assets, but undeployable assets can still be checked out

[2020-11-16 14:33] samotelf commented on #8746
Hello @denzfarid.
Actually, php upgrade.php didn't jump my v4.9.5 version to 5.0.6 as documented [here](https://snipe-it.readme.io/docs/installation-issues#updating-with-upgradephp-fails-to-update-filesversion):

I had to do:

sudo git fetch --all
sudo git reset --hard origin/master
php upgrade.php

And it installed v.5.0.6

Is this not enough?
(meanwhile I reverted my snapshot to v4.9.5, but I wa

[2020-11-16 14:34] samotelf commented on #8748
Hello @JorisVanEijden.
Thank you for your reply. So doing that will import my AD users with no errors related to manager ID?

[2020-11-16 14:40] samotelf commented on #8746
I'll have to try this later.
Waiting for a fix but I guess someone had the solution:

Tzvika Zitzman @zitzman Nov 15 00:24
found the issue. there is a syntax error introduced in resources/lang/en/mail.php 2 days ago.
missing comma in line 76
https://github.com/snipe/snipe-it/commit/be114176a25664399a78d3454df47b7ee4f628e1#diff-88e6b73f0c298ae952a2237b639b049ca0a11f6fb7f860801d4f01a39acec7af

[2020-11-16 16:04] jmartins1 opened #8755 "Predefined Kits - Feature Request"
Currently, you create a predefined kit then assign it asset models.

Would you please also allow assets to be assigned to predefined kits?

For example.

I have multiple Chromebooks in my inventory system. I would like to create a predefined kit. A Chrome cart with multiple Chromebooks assigned to it.  So those assets (Chromebooks) would be assigned to a predefined kit (say Chrome Cart I).

Updati

[2020-11-16 16:55] thtech182 commented on #8747
I am having the opposite issue! Running in docker SnipeIT version 5.0.6 build 5600 (master).

The thumbnails in my asset list are broken. Inspecting shows they are pointing to mydomain.com/uploads/assets/[imagename].jpg. However, the images are actually at mydomain.com/uploads/uploads/assets/[imagename].jpg

The images are displaying correctly on the asset details page. Inspecting them shows them

[2020-11-16 18:21] airforceixi commented on #8737
Thanks for the quick fix. Confirming it is now functioning properly.

[2020-11-16 18:33] namarie23 commented on #8593
Hi any headway on this?

[2020-11-16 20:35] uberbrady commented on #8746
I eyeballed that diff and that's correct; the comma is definitely missing. We'll get this fixed today.

[2020-11-16 21:03] jmartins1 commented on #8403
I believe your APP_URL address and ServerName, ServerAlias names should be the same.

# Virtual Hosts
#
<VirtualHost *:80>
<Directory "C:/wamp/www/snipe-it/public/">
	Allow From All
    AllowOverride All
	Options +Indexes
    Require all granted
</Directory>
	DocumentRoot "C:/wamp/www/snipe-it/public/"
	ServerName localhost:80
</VirtualHost>

Also, ensure your httpd.config file has this entry.

Li

[2020-11-16 21:11] samotelf commented on #8746
Kudos for @zitzman
Thank you @uberbrady

[2020-11-16 22:11] uberbrady commented on #8746
My PR has been merged to both develop and master - if anyone can check it out and let us know if we're all set that'd be awesome!

[2020-11-16 23:29] zementente commented on #8747
Same here,
one model details the path to image is not correct
![image](https://user-images.githubusercontent.com/9779498/99320400-d5e37f00-286b-11eb-9f7d-70900ba58c3b.png)
on mostly every other site the path is correct and image is showing correct
![image](https://user-images.githubusercontent.com/9779498/99320450-f27fb700-286b-11eb-900b-fc7ec067ba23.png)

[2020-11-16 23:37] samotelf commented on #8747
Ooof, glad it’s not me.
Actually, the same happens in the snipe it demo page.
Let’s wait for a fix, I’m sure with the v5 release they are like breathing underwater :)

[2020-11-16 23:39] samotelf commented on #8746
@uberbrady I’ll clone my prod VM tomorrow and give it a try and will let know.
I just have to do a regular update right?

[2020-11-17 00:21] uberbrady commented on #8746
Yeah @samotelf,  the regular `upgrade.php` will pull the latest from `master`.

[2020-11-17 00:29] mrj1600 commented on #8632
I'm experiencing this issue also actually. I'm running a RHEL7.9 VM on VMWare. I've set storage/* owner and group as apache:apache, tried 777 and 775 permissions, run through clearing everything as stated in the common issues wiki, completely disabled SELinux and restarted httpd. The error still persists though the app appears to be running normally so far. I'm a first-time user and this is a clea

[2020-11-17 00:40] snipe commented on #8747
Breathing? what is breathing? lol

Okay, I've fixed this on `develop`, BUT check your `public/uploads` directory and make sure there isn't an additional `uploads` directory that was recently created. If there was, move the contents of those files into the normal `public/uploads` directory.

This bug is an artifact of trying to get local file upload URLs and S3 file uploads to play nicely with each

[2020-11-17 00:43] uberbrady commented on #8632
The only other possible things I can think of are that maybe PHP is in 'safe_mode'? Or maybe that newer RedHat distros decided to `chroot()` their PHP setups by default (and, run via fastcgi)? You can check the former with `php -i| grep safe`. You can check  the latter by doing a `ps aux|grep php` and seeing what the output is.

Barring that, this is pretty much standard Linux permissions stuff. W

[2020-11-17 00:50] denzfarid commented on #8746
i have tried checking in / out and working again

thank you :D

[2020-11-17 01:06] snipe commented on #8746
Awesome, thanks!

[2020-11-17 01:06] #8746 closed, assigned to uberbrady

[2020-11-17 01:24] thtech182 commented on #8747
That was quick!!! Thanks! Can't wait for it to be pushed out.

[2020-11-17 01:25] #8747 closed, assigned to nobody

[2020-11-17 01:25] snipe commented on #8747
It's on master now, should be in a tagged release in the next day or so. (We're trying to get an LDAP fix in before the next release, but if we can't confirm that LDAP fix, we'll just move forward without it and then tag a new one once the LDAP stuff is confirmed.)

[2020-11-17 01:35] vincentndl commented on #8570
tks you so much,

[2020-11-17 02:07] LecrisUT commented on #8639
Sorry for the late reply, I have reformulated the issue to be more relevant for the caddy webserver issue only.

[2020-11-17 03:13] uberbrady commented on #8748
That should fix that problem, yes. But the first name field is still required.

[2020-11-17 05:06] uberbrady commented on #8617
I'm pretty sure that what's happening here is we're passing non-User LDAP objects (e.g. Computers) to the `updateCreateUser()` method, and it's causing a runtime type-check error. The best fix is probably to do a test (perhaps using a relatively simple `instanceof` check?) in the `processLdapUsers()` loop.

As a workaround, if you specify a filter that only returns users (and not computers or OU's

[2020-11-17 05:35] #7850 closed, assigned to nobody

[2020-11-17 06:30] uberbrady commented on #8689
I've tried all sorts of different scenarios and I haven't been able to generate a 500 yet for various weird things - I tried missing firstnames (which will fail validation), disabled users, re-enabling, deleting the User record from the database - no matter what, I can't seem to get a 500-page on login.

[2020-11-17 07:13] ghost commented on #8546
But the problem is there.... I have no idea what to do now...

[2020-11-17 07:57] #8482 closed, assigned to nobody

[2020-11-17 08:54] Tayyabshahzad opened #8758 "JavaScript (AJAX Error)"
Failed to load resource: the server responded with a status of 401 (Unauthorized)
I am facing this error while adding the company to my account also unable to view all registered companies.

[2020-11-17 09:05] maodahua commented on #8621
Hello everyone, today I test V5.0.7 and when I check the box "Append domain name to username field". LDAP test successfully and I can login! but in old version, No matter whether I check it or not, I can’t log in.
![image](https://user-images.githubusercontent.com/11650756/99368754-7ed6bc00-28f6-11eb-83aa-ea2b948dfeee.png)
So, for now I think this issue have been fixed and I will close the issue.

[2020-11-17 09:23] snipe commented on #8758
Please see the common issues page:
https://snipe-it.readme.io/docs/installation-issues#table-listing-pages-load-with-401-unauthorizedunauthenticated

<blockquote><img src="/favicon.ico" width="48" align="right"><div>Snipe-IT Documentation</div><div><strong><a href="https://snipe-it.readme.io/docs/installation-issues#table-listing-pages-load-with-401-unauthorizedunauthenticated">Installation/Upgrad

[2020-11-17 09:23] #8758 closed, assigned to nobody

[2020-11-17 09:45] 2crak opened #8759 "Feature Request : Multiple Expiring Alerts Threshold"
**Server (please complete the following information):**
 - Snipe-IT Version 5.0.6
 - OS: Windows
 - Web Server: IIS
 - PHP Version 7.4.11

**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
It could be nice to implement multiple thresold to trigger alerts for renewal rather than only one
Example : 3 thresold (i.e : 90 (green) - 60 (orange -

[2020-11-17 10:23] snipe commented on #8621
@maodahua Great news! Thanks so much for testing that so quickly!

[2020-11-17 10:40] yanagha commented on #8601
Hi,
I have the same problem. When I check in or check out an asset, the user receives an email. In the message, there is no asset image like before (please see image below). I inspected an element and noticed that there is no src attribute in the img tag. Here is an example
`<img alt="Asset" style="font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Col

[2020-11-17 10:43] nilsrb commented on #8617
Thanks, gave it a try, but still didn't work. The filter actually did not return just users, but now fixed this.  I also made sure that `uid`, `sn` and `givenname` are set (the fields that we are using in LDAP settings) but still no success. LDAP-Test-Sync is working, Login gives "500 Server Error", People -> LDAP Sync also.

But: When i try to login with a wrong password, the login-screen actuall

[2020-11-17 10:49] snipe commented on #8601
@yanagha what email client are you using?

[2020-11-17 11:15] yanagha opened #8760 "Assigned accessories list is empty"
After updating to the latest version if I want to check accessories assigned to the user, cannot see them. To replicate the issue
Go to People > Select user > Open Accessories tab and you will see something like this
Showing 1 to 7 of 7 rows, but the list is empty. Please see the screenshot

![image](https://user-images.githubusercontent.com/18484466/99382993-bc334d80-28e6-11eb-974a-6d4bc159e4dc.p

[2020-11-17 11:15] Tayyabshahzad commented on #8758
Hi Folks,
I have set up and install Snipe-IT via git, I have done configuration and setup database and the user also. Now the application is running fine but facing some issues.
Issues:

- I have created companies that company are listed in my database but not visible on my company pages more ever when I try to create a new company having the same name its generate an error that "Company already e

[2020-11-17 11:18] yanagha commented on #8601
@snipe I am using Gmail web (G Suite) ( SMTP is also GSuite)

[2020-11-17 11:34] dopyrory3 commented on #8485
This has been solved as of version 5.0.0

[2020-11-17 11:34] #8485 closed, assigned to nobody

[2020-11-17 11:39] 2crak commented on #8723
just to update, same issue in 5.0.7

[2020-11-17 11:54] Tayyabshahzad opened #8761 "Error Data is not Showing"
Hi Folks,
I have set up and install Snipe-IT via git, I have done configuration and setup database and the user also. Now the application is running fine but facing some issues.
Issues:

I have created companies that company are listed in my database but not visible on my company pages more ever when I try to create a new company having the same name its generate an error that "Company already exi

[2020-11-17 12:18] thumperest commented on #8736
+1

[2020-11-17 12:52] swift2512 opened #8762 "Feature Request : Predefined Kit should allow to include accessories and consumables."
**Describe the solution you'd like**
Predefined Kit should allow to include accessories and consumables.

**Additional context**
In our company every new employee gets a pack of accessories: webcam, earphones and USB drive. This could easily be a KIT, but Snipe doesn't allow adding accessories or consumables to the KIT. Make kits for accessories and consumables. :)

IMHO, current implementation of

[2020-11-17 13:03] swift2512 opened #8763 "Feature Request : Accessories assignable to locations (and assets?)"
**Describe the solution you'd like**
You should be able to assign accessories, consumables to locations (and assets?).

**Describe alternatives you've considered**
I have to create a person for every location with an accessories or consumables in it.

**Additional context**
Conference rooms, class rooms, etc. have accessories (usb flash drives, cheap earphones, webcams, speakers,etc.) which we do

[2020-11-17 13:22] jmartins1 commented on #8601
Are you using https by chance?

On Nov 17, 2020, 4:18 AM, at 4:18 AM, yanagha <notifications@github.com> wrote:

[2020-11-17 13:56] r-hardiman opened #8764 "Unable to login after migrating DB to new install"
#### Expected Behavior (or desired behavior if a feature request)
Successful Log In after migrating database to a fresh install.

-----

#### Actual Behavior

Incorrect username/password error despite being 100% correct.

-----

#### Please confirm you have done the following before posting your bug report:

- [✓] I have enabled debug mode
- [✓] I have read [checked the Common Issues page](https:/

[2020-11-17 14:54] ciahang opened #8765 "Creating an Asset - Model is not required, but is required"
#### Please confirm you have done the following before posting your bug report:

- [x] I have enabled debug mode
- [x] I have read [checked the Common Issues page](https://snipe-it.readme.io/docs/common-issues)

**Describe the bug**
When creating an asset, the Model field is not required; the "required" indicator isn't there.  When going to save, an error shows that Model is required.

**To Reprod

[2020-11-17 15:07] moerkey commented on #8764
I can just approve it with :
- Ubuntu 18.04
- nginx 1.14.0-0ubuntu1.7
- php7.2-fpm7.2.34-8+ubuntu18.04.1+deb.sury.org+1

[2020-11-17 15:11] yanagha commented on #8601
Yes, We are using https

On Tue, Nov 17, 2020 at 5:22 PM jmartins1 <notifications@github.com> wrote:

[2020-11-17 15:15] moerkey opened #8766 "Logo not loaded due to APP_URL inserted in URL"
#### Please confirm you have done the following before posting your bug report:

- [ ] I have enabled debug mode
- [x] I have read [checked the Common Issues page](https://snipe-it.readme.io/docs/common-issues)

**Describe the bug**
The logo can not be loaded due to that the APP_URL is inserted in URL, i.e. https://example.foo.bar/example.foo.bar/uploads/setting-logo-STRING.png.
The file was succe

[2020-11-17 15:17] jmartins1 commented on #8601
I’m not sure you’re having the same issue.

I run Snipe-IT on a WAMP server and set it up to use https. While testing other issues, I created a second WAMP server without https and noticed that the missing email pictures resolved itself.  I later replicated this on my primary Snipe-IT installation and again the issue was resolved.  It could be an issue with the https configuration.

Joe

Yes, We a

[2020-11-17 15:35] samotelf commented on #8743
@twisted3motions in much older versions of Snipe I had to change the memory_limit=256 in /etc/php.ini
Hope it helps.

[2020-11-17 16:08] gilesytheking commented on #8762
+1 on this idea. I already had similar thoughts regarding the kits, along with some other users - #8723 #8539

[2020-11-17 16:33] jamesBotwright opened #8767 "LDAP Failed / 401 Unauthorised"
#### Please confirm you have done the following before posting your bug report:

I have enabled debug mode
I have read [checked the Common Issues page](https://snipe-it.readme.io/docs/common-issues)

**Describe the bug**
401 Unauthorised response to all API calls, resulting in application showing totals etc on dashboard but zero content on tables.  I have failed to get LDAP test working correctly

[2020-11-17 17:06] uberbrady commented on #8617
In debug-mode, we *do* display user passwords in cleartext. But if you disable that, we don't. We're happy to argue the merits of that; I don't think I'm 100% convinced it's a good idea, but I definitely *have* found it useful.

We've made a decent number of tweaks to LDAP for v5.0.7. If you can easily enough do backups/restores (so you can revert if anything goes wrong), it might make sense to up

[2020-11-17 17:26] uberbrady commented on #8500
If you run `php upgrade.php` on your instance, what output do you get? The latest version of that script (released formally in v5.0.7, but on master for a few days before that) has much more strict php module checking, and I wonder if it might help give us some troubleshooting information.

[2020-11-17 17:51] bahhhhh commented on #8670
@snipe I just updated to `v5.0.7 - build 5615 (master)` and this seems to be fixed.

Thank you thank you!

[2020-11-17 18:46] emike09 commented on #8340
In my experience, the Uncaught PDOException is usually related to a PHP version mismatch. When running php -v, does it match the line in your /etc/apache(or)nginx\sites-available site configuration, such as fastcgi_pass unix:/run/php/php7.4-fpm.sock;?

[2020-11-17 18:52] uberbrady commented on #8670
Glad to hear it!

[2020-11-17 18:52] #8670 closed, assigned to uberbrady

[2020-11-17 18:53] uberbrady commented on #8684
(It is actually on a release now; v5.0.7)

[2020-11-17 19:35] GustelDE opened #8769 "Wrong Translation - Purge Deleted Records"
Hi folks,

the translation in the "Purge Deleted Records" page is wrong (V5.0.7)!
It states the word "LÖSCHEN" is needed to perform the action. But, even "löschen" is the correct translation of "delete", the command is only executed when entering "DELETE".

Maybe you could fix this in the next release? New users will confuse this!

![Unbenannt-1](https://user-images.githubusercontent.com/26502186/

[2020-11-17 19:54] snipe commented on #8769
What language is this?

[2020-11-17 19:57] GustelDE commented on #8769
German

[2020-11-17 20:33] RomanoCodes opened #8770 "API/V1/ Endlessly Redirecting"
#### Please confirm you have done the following before posting your bug report:

- [x] I have enabled debug mode
- [x] I have read [checked the Common Issues page](https://snipe-it.readme.io/docs/common-issues)

**Describe the bug**
Had snipeit running on an older Debian/Apache2 server, moved it to a newer (similar) server to the latest version of snipe it (from 4.8 to current). I have copied fold

[2020-11-17 20:34] snipe commented on #8770
You cannot access the API via a web browser. That is by design.

[2020-11-17 20:34] #8770 closed, assigned to uberbrady

[2020-11-17 20:35] RomanoCodes commented on #8770
Sorry, I tried this via POSTMAN, as well, but you can see that the site isn't pulling any information (as shown in the network tab of the browser).

[2020-11-17 20:35] snipe commented on #8770
When the API calls are not loading in the Web UI, please see the common issues:
https://snipe-it.readme.io/docs/installation-issues#table-listing-pages-load-with-401-unauthorizedunauthenticated

<blockquote><img src="/favicon.ico" width="48" align="right"><div>Snipe-IT Documentation</div><div><strong><a href="https://snipe-it.readme.io/docs/installation-issues#table-listing-pages-load-with-401-una

[2020-11-17 20:36] RomanoCodes commented on #8770
Thank you for the quick reply. I will have a look.

[2020-11-17 20:36] snipe commented on #8770
(If you use the newer `upgrade.php`, it will tell you which extensions you're missing and will try to delete those cache files.)

[2020-11-17 21:27] snipe commented on #8767
Please see the common issues page that addresses this:
https://snipe-it.readme.io/docs/installation-issues#table-listing-pages-load-with-401-unauthorizedunauthenticated

<blockquote><img src="/favicon.ico" width="48" align="right"><div>Snipe-IT Documentation</div><div><strong><a href="https://snipe-it.readme.io/docs/installation-issues#table-listing-pages-load-with-401-unauthorizedunauthenticated"

[2020-11-17 21:29] snipe commented on #8766
The APP_URL is intended to be inserted into the URL. That's literally what it's there for.

What do you have for the APP_URL value in your .env?

[2020-11-17 21:31] snipe commented on #8764
I'm not sure what you mean approve it?

If you're getting a username/password rejected error, then the username or password must be incorrect or mis-formatted in the `.env`.

So does putting the PW in quotes work? If so, what is the actual issue here?

[2020-11-17 21:32] snipe commented on #8765
Model is always required. We'll fix the missing required indicator.

[2020-11-17 21:42] snipe commented on #8723
It's not really an issue, it's a feature request, and we haven't added that functionality yet. Kits are brand new and we'll be adding to their functionality over time.

[2020-11-17 21:43] #8765 closed, assigned to nobody

[2020-11-17 21:43] #8769 closed, assigned to nobody

[2020-11-17 21:44] snipe commented on #8769
This is fixed on master

[2020-11-17 21:45] snipe commented on #8758
See the documentation I Iinked to in my previous reply.

[2020-11-17 21:45] ciahang opened #8771 "Custom Fields for Assets"
**Server (please complete the following information):**
 - Snipe-IT Version: 5.0.6
 - OS: CentOS
 - Web Server: Apache
 - PHP Version: 7.1

**Is your feature request related to a problem? Please describe.**
Not related to a problem. Custom Fields by Asset Model serves a great purpose. The current custom fields only apply if I have configured an Asset Model for the specific custom field, but I'd li

[2020-11-17 21:57] snipe commented on #8771
You would simply bulk update your asset models to use the fieldset that you want to apply to all assets.

[2020-11-17 21:57] #8771 closed, assigned to nobody

[2020-11-17 22:14] moerkey commented on #8764
I am sorry. The login is just not successful.
The credentials are fine. I am not getting any error messages.
I am getting a redirect to the login page.

[2020-11-17 22:15] moerkey commented on #8766
I was thinking that the APP_URL is the hostname and not added as a path to the hostname itself.

https://example.foo.bar/example.foo.bar/uploads/setting-logo-STRING.png

[2020-11-17 22:32] snipe commented on #8406
I don't have any idea what you mean here.

[2020-11-17 22:32] snipe commented on #8303
Hi there - We haven't heard back in a bit, so I'm going to close this ticket for now, but will re-open it if you're still having issues.

![hackerman-hacking](https://user-images.githubusercontent.com/197404/31936003-27a7f6d8-b865-11e7-8f5e-eb03062925f4.gif)

[2020-11-17 22:32] #8303 closed, assigned to nobody

[2020-11-17 22:33] #8601 closed, assigned to uberbrady

[2020-11-17 22:46] RomanoCodes commented on #8770
After checking the bootstrap/cache folder I noticed only services.php was there, which I deleted (and ensure was coming back after a reload to ensure permissions issues were not a factor). This did not fix anything, however.

Hitting upgrade.php off of the root of the site yields a 404, as well. I have tried removing the .htaccess and switching around some directives in the vhost to no avail. I am

[2020-11-17 22:47] snipe commented on #8770
You run `php upgrade.php` from the command line, not from the web.

Do not remove the htaccess file! It is requires for everything to work.

[2020-11-17 22:47] snipe commented on #8770
[code]

[2020-11-17 22:48] RomanoCodes commented on #8770
You truly are the some kind of wizard... thanks for the quick reply. 👍
I will try this out - Thank you!

[2020-11-17 22:49] snipe commented on #8770
When you've run that script, show me the output of it here

[2020-11-17 22:52] RomanoCodes commented on #8770
Looks like...

✘ MISSING PHP EXTENSION: bcmath

Will sort that out and report back.

[2020-11-17 23:08] RomanoCodes commented on #8770
[code]

[2020-11-17 23:09] snipe commented on #8770
And? What's the state of your Snipe-IT install now?

[2020-11-17 23:11] RomanoCodes commented on #8770
The pandas, they weep.
![image](https://user-images.githubusercontent.com/1924944/99461677-16341300-28e7-11eb-863f-59e48ddd4f54.png)

[2020-11-17 23:12] snipe commented on #8770
Did you logout, clear your browser cookies and log back in?

[2020-11-17 23:15] RomanoCodes commented on #8770
Yes, tried on a completely different browser (in incognito/private mode). No luck.
The odd thing is that on the main dashboard it is reporting all the assets I have stored on the old server/install, but it simply won't list them. Schema changes of some sort, perhaps?

![image](https://user-images.githubusercontent.com/1924944/99462006-b0945680-28e7-11eb-8caa-13fd2307c571.png)

[2020-11-17 23:18] snipe commented on #8770
would indicate that your schema is up to date, and your `storage/logs/laravel.log` would be indicating a database schema error, not a 401. When you reload the page, do you see anything new in that log file?

[2020-11-17 23:18] RomanoCodes commented on #8770
To be clear, I have not edited any of the source/master on my previous install where this was running.

[2020-11-17 23:20] snipe commented on #8770
Actually, this bit here seems a bit weird...

[code]

You'll want to fix that:
https://stackoverflow.com/questions/43662048/getting-fatal-empty-ident-name-not-allowed-when-doing-git-commit-amend/43662115

Then try running those commands again

<blockquote><img src="https://cdn.sstatic.net/Sites/stackoverflow/Img/apple-touch-icon@2.png?v=73d79a89bded" width="48" align="right"><div>Stack Overflow</d

[2020-11-17 23:24] RomanoCodes commented on #8770
Will look into the above...

For what it is worth, there are no new log entries in that log file after running the page or the upgrade.php file (nor in the apache error log).

[2020-11-17 23:31] RomanoCodes commented on #8770
Well sheesh.

After setting a user.name and user.email, it a whole lot more grabbing of things... pasting here for posterity.

[code]

**Thank you** _kindly_ for your help.

[2020-11-17 23:49] snipe commented on #8770
That looks much better. Is your Snipe-IT loading now?

[2020-11-17 23:52] RomanoCodes commented on #8770
Yes, all screens are green. Thank you very much for your help, this is what fixed it... I suspect some packages, specifically `/tighten/ziggy` needed updating, hence the routing fail.

[2020-11-17 23:53] gramakri opened #8772 "Inactive LDAP user throws exception"
#### Please confirm you have done the following before posting your bug report:

- [X] I have enabled debug mode
- [X] I have read [checked the Common Issues page](https://snipe-it.readme.io/docs/common-issues)

**Describe the bug**
Have an inactive LDAP user. Try to login as inactive user.  Page throws "500 | Server Error"

**To Reproduce**
Steps to reproduce the behavior:
1. Have LDAP login enab

[2020-11-17 23:56] gramakri commented on #8772
From what I could debug: https://github.com/snipe/snipe-it/blob/de6f3f866fe1c64d80589cbf41f45f6312001330/app/Services/LdapAd.php#L148 returns null because user exists and activated is 0. This results in the code throwing an exception.

[2020-11-17 23:57] uberbrady commented on #8772
Yeah, this is actually a strict-typing error - that function is not 'supposed' to return null. Let me see if I can reproduce it in my environment.

Thanks for the detailed bug report, and thanks for taking a stab at debugging it for us!

[2020-11-17 23:59] gramakri commented on #8772
@uberbrady One additional info is that the "activated" field is not set by the Cloudron package. I guess because this is new in 5.0.7. And if it helps, the database table looks like this. Crash happens when trying to login as "girish" . It works fine when trying to login as admin.

[code]

[2020-11-18 00:08] djlongy opened #8773 "Edit Suppliers, incorrect URL image path"
#### Please confirm you have done the following before posting your bug report:

- [ ] I have enabled debug mode
- [x] I have read [checked the Common Issues page](https://snipe-it.readme.io/docs/common-issues)

**Describe the bug**
This looks like just a minor incorrect URL in some code/page.
It appears that on Edit Supplier page, the images are pointing to uploads/**_models_**/supplier-image-XxX

[2020-11-18 00:16] #8773 closed, assigned to nobody

[2020-11-18 00:17] snipe commented on #8772
The activated flag has been part of Snipe-IT since the very beginning. It doesn't mean the LDAP parlance of activated, which is why we changed the phrasing to "Login enabled"

[2020-11-18 00:21] gramakri commented on #8772
So, the bug itself is clear but I don't know why/what :-)

1. isLdapSync returns true since ldap_active_flag is not set in https://github.com/snipe/snipe-it/blob/de6f3f866fe1c64d80589cbf41f45f6312001330/app/Services/LdapAd.php#L283

2. This means that the code gets to https://github.com/snipe/snipe-it/blob/de6f3f866fe1c64d80589cbf41f45f6312001330/app/Services/LdapAd.php#L148 and the it crashes in

[2020-11-18 00:25] uberbrady commented on #8772
We changed a little bit about how we handle active/inactive in v5.0.7 - let me poke around and hopefully I can come up with something. Though I may have a few more questions for you @gramakri - thanks again for the detailed bug report!

[2020-11-18 00:36] uberbrady commented on #8772
Ok, I can replicate this on my local instance, at least. They have to be **deactivated** in the database, but still **active** in AD - and it should be that if I re-sync them, they should flip back over to 'active'.

[2020-11-18 00:36] gramakri commented on #8772
@uberbrady Thanks for looking into this :) Last comment since I ended up debugging this a bit. The main issue is in this branch of code - https://github.com/snipe/snipe-it/blob/de6f3f866fe1c64d80589cbf41f45f6312001330/app/Services/LdapAd.php#L324 . When ldap_active_flag is not set, it simply returns null (thus the user ends up getting added with activated bit as 0).

Maybe line 326 means `===` ? (

[2020-11-18 01:36] uberbrady commented on #8772
@gramakri PR is up - mind you, we *still* respect the DB's "activation" setting here (we have many users who want to specifically choose who can and cannot log in, and we still need to respect that).

[2020-11-18 02:14] uberbrady commented on #8772
@gramakri But I think I've definitely seen some stuff where the active flag is incorrectly being toggled to `0` per your point - are you using AD? Are your users 'normal users'? Or something weirder than that? We can handle all of:

https://github.com/snipe/snipe-it/blob/6ebdfdbabbcc2b3daa9bc21791739df07d6ca2c1/app/Services/LdapAd.php#L41-L52

[2020-11-18 02:21] snipe commented on #8770
Anything that needed updating should be handled via the `composer install` that the upgrade script does. You should never be running `composer update`. I noticed the `composer.lock` file was modified when you ran that upgrader the first time, which typically only happens if someone ran `composer update`. When you do that, your package versions become out of sync with ours, and that becomes nearly

[2020-11-18 02:27] uberbrady commented on #8772
I absolutely just saw an _initial_ sync import a user as inactive, but a later sync seemed to toggle them back to active. That's definitely **a** bug, but not all of the bug here.

[2020-11-18 02:28] gramakri commented on #8772
@uberbrady This is not AD (we have a custom LDAP server). The LDAP settings we use are

[code]

Did I understand correctly that `ldap_active_flag` _has_ to be set for users to be activated? In 5.0.6, it wasn't set and the user activated defaulted to true. But it looks like in 5.0.7 this has default to false, meaning that I have to set this flag to something ? I can fix the Cloudron package accordi

[2020-11-18 02:38] uberbrady commented on #8772
No, it _should_ be fine if you leave the flag unset; then it should just get ignored. Any imported users _should_ just be active. It seems like it must not be working for you that way though. Even if you set the flag-attribute to something, if the attribute doesn't exist at **all** on your users, we should ignore that fact too.

Unfortunately, emphasis on 'should' :/

I'm still working on it, hope

[2020-11-18 02:43] gramakri commented on #8772
@uberbrady Thanks for the explanation!

[2020-11-18 02:48] uberbrady commented on #8772
@gramakri if you do a second LDAP sync, does your user flip status at all?

[2020-11-18 04:30] gramakri commented on #8772
@uberbrady It does not flip status on sync. I tried `php /app/code/artisan snipeit:ldap-sync  -v` . Also, that command gave no output despite the verbose flag (tried with -vvv as well)

[2020-11-18 04:54] uberbrady commented on #8772
I think I pretty much understand it now, @gramakri , I'd love it if you could give #8776 a spin.

[2020-11-18 06:33] snipe commented on #8772
That PR is merged onto master/develop now

[2020-11-18 06:33] snipe commented on #8689
There is a fix on master/develop now if anyone wants to pull that down and check if it's working now

[2020-11-18 06:40] Tayyabshahzad opened #8777 "Data Visiblity Issue"
Hi Folks,
I have set up and install Snipe-IT via git, I have done configuration and setup database and the user also. Now the application is running fine but facing some issues.
Issues:

I have created companies that company are listed in my database but not visible on my company pages more ever when I try to create a new company having the same name its generate an error that "Company already exi

[2020-11-18 06:42] snipe commented on #8777
Please provide answers to the questions you deleted.

#### Confirm you have done the following before posting your bug report:

- [ ] I have enabled debug mode
- [ ] I have read [checked the Common Issues page](https://snipe-it.readme.io/docs/common-issues)

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2.

[2020-11-18 07:47] nilsrb commented on #8617
Actually debug-mode was not enabled, when the passwords were shown. Just wanted to let you know, if that was not an expected behavior :+1:

Oh, i forgot to say that i upgraded to latest (5.0.7), before i tested this yesterday. Unfortunately no success... If there is anything else i can do to help, please let me know :) And thanks for looking into this, appreciate that. Switched last year to SnipeI

[2020-11-18 08:27] Joly0 commented on #8500
[upgrade_first.txt](https://github.com/snipe/snipe-it/files/5558724/upgrade_first.txt)
[upgrade_second.txt](https://github.com/snipe/snipe-it/files/5558728/upgrade_second.txt)
Ok, so i executed the upgrade.php script twice. The first output shows the normal update to the latest release and the second should be the output of the newer upgrade.php which gives the requested information.

[2020-11-18 08:30] r-hardiman commented on #8764
If I do not put the PW in quotes I get the Snipe-It Pre-Flight setup page and all is good apart from an "Access Denied" message under database, whereas if I put the PW in quotes I get the normal login page, however, I am unable to login due to an "Incorrect username or password" error message, despite putting in the correct login details.

[2020-11-18 08:40] snipe commented on #8500
Adding output to comment so I don’t have to keep downloading it to my iPad:

First:

[code]

Second:

[code]

[2020-11-18 08:43] snipe commented on #8500
What version does it say in the footer of your Snipe-IT now? And did upgrading affect your original issue at all?

[2020-11-18 08:44] snipe commented on #8764
So then it sounds like your password should be in quotes. Are you logging in with a local user or LDAP/AD/etc?

[2020-11-18 08:45] r-hardiman commented on #8764
LDAP Account that I used on the old installation.

[2020-11-18 08:47] swift2512 commented on #8762
Just think about it for one moment.
Current process in steps:
1. You create a KIT in SnipeIT (PC, screen, printer) with only model numbers in it.
2. You assign this kit to a person.
3. SnipeIT assigns random assets to this person.
4. You check in SnipeIT which assets were assigned to the person.
5. You physically assemble this KIT by fetching all the assets from different locations.
 *Mindblown* W

[2020-11-18 08:48] Joly0 commented on #8500
Version v5.0.7 - build 5615 (master) and the original problem still persists. Snipe-IT cant connect to the ldap server

[2020-11-18 08:50] jamesBotwright commented on #8767
@snipe  Many thanks for the reply.  I had tried going through the items on those pages but I tried again this morning to make sure and it is now working, therefore I must have missed a step previously.  Apologies to waste time and thanks for the help, great repo 👍

[2020-11-18 08:50] #8767 closed, assigned to nobody

[2020-11-18 08:53] Joly0 commented on #8500
Just a question, does snipeit support something like openid connect?

[2020-11-18 09:02] r-hardiman commented on #8764
I just created a local admin account on the old version and then tried to log in to that account on the new version, and it did kinda work but it gave me a 500 error code.

[2020-11-18 09:07] r-hardiman commented on #8764
Here is the error that comes up when I try to log in to the local account I created:

SQLSTATE[42S02]: Base table or view not found: 1146 Table '*dbname_here*.permission_groups' doesn't exist (SQL: select `permission_groups`.*, `users_groups`.`user_id` as `pivot_user_id`, `users_groups`.`group_id` as `pivot_group_id` from `permission_groups` inner join `users_groups` on `permission_groups`.`id` =

[2020-11-18 09:19] wilkis3 commented on #7696
This bug still appears with snipe-it 5.0.7.

There is a [solution for Active Directory](https://github.com/snipe/snipe-it/issues/8230#issuecomment-660081720), but not for other LDAP services.

There are some other issues with the same bug:
https://github.com/snipe/snipe-it/issues/8315
https://github.com/snipe/snipe-it/issues/8214 (there are using [Univention Corporate Server Core Edition](https://

[2020-11-18 09:33] r-hardiman commented on #8764
Resolved it, the upgrading documentation didn't mention anything about having to run the database migration command if going from v4 to v5 but I ran that and it is now up and functioning.

[2020-11-18 09:33] #8764 closed, assigned to nobody

[2020-11-18 09:40] moerkey commented on #8764
Which command is it?

[2020-11-18 10:29] snipe commented on #8764
Indeed we do mention that:

<img width="875" alt="Screen Shot 2020-11-18 at 2 30 10 AM" src="https://user-images.githubusercontent.com/197404/99518907-0861aa80-2946-11eb-8881-18cb60c6475f.png">

https://snipe-it.readme.io/docs/upgrading#upgrading-manually

If you use the upgrade.php script, migrations are run for you, but if you upgrade manually, you have to run them yourself.

<blockquote><img sr

[2020-11-18 10:34] snipe commented on #7696
@wilkis3 Those older issues don't seem relevant, since they are all pre-v5, and LDAP/AD was completely rewritten in v5 - and certainly a lot of people are able to use OU syncing (in v4 as well) using Location-specific OUs. That's currently the only way to sync multiple OUs, and always has been.

[2020-11-18 10:37] snipe commented on #8500
@Joly0 We support LDAP/AD login and SAML currently.

Unless you're getting a new LDAP error, as @uberbrady mentioned, `"Can't contact LDAP server" is pretty low-level; if you can't contact it then that means that Snipe-IT's LDAP connect commands will not let you connect - any other test you would do would be the same.` It means it's either a misconfiguration of your LDAP settings *or* a networking

[2020-11-18 10:38] snipe commented on #8767
No worries - glad you're all sorted now!

[2020-11-18 10:39] snipe commented on #8766
What do you have for the APP_URL value in your .env?

Per the docs, you have to use a complete URL, including the `http://` or `https://` protocol for your APP_URL:
https://snipe-it.readme.io/docs/configuration#required-basic-app-settings

[2020-11-18 10:39] Joly0 commented on #8500
Cant be any of them. It worked on the latest 4er release and nothing other then the upgrade changed on that system or the network. With a simple powershell command i am able to get the desired information from the ad

[2020-11-18 10:42] snipe commented on #8500
You're welcome to roll back to 4.9.5 then, but it seems highly unlikely to me that this is an issue on our end. If we can't even talk to your LDAP server, we obviously cannot sync to it or use it to login.

[2020-11-18 10:45] Joly0 commented on #8500
If you have any other idea on how i can change my configuration? I already tried different variations of the base bind dn and the bind username aswell as other ips for the ldap server field or domains in the active directory domain.
Rolling back to 4.9.5 would not help as this is a dev environment specifically for testing new releases. The Production environment ist still on 4.9.5 but i would like

[2020-11-18 11:19] beatkind commented on #8749
We are on v5.0.7 and have the same issue. With debug enabled I can see the following error:

[code]
and

`[2020-11-18 12:17:07] production.ERROR: ErrorException: Undefined offset: 9 in /var/www/html/app/Http/Controllers/Api/StatuslabelsController.php:186`

[2020-11-18 11:25] moerkey commented on #8766
Thx, that was it. I had only the hostname.

[2020-11-18 11:25] #8766 closed, assigned to nobody

[2020-11-18 11:35] samotelf commented on #8749
@beatkind oooof glad I’m not the only one.
I should have posted the debug.
Thank you.

[2020-11-18 11:52] snipe commented on #8749
Can I see screenshots of your status label listings page? Like this page?

<img width="1380" alt="Screen Shot 2020-11-18 at 3 52 07 AM" src="https://user-images.githubusercontent.com/197404/99527337-79f32600-2951-11eb-8738-92a088f4ebb5.png">

[2020-11-18 11:54] snipe commented on #8749
(I'm specifically looking to see how many status labels you have with assets in them, and whether or not you've got custom colors set for them.)

[2020-11-18 11:54] beatkind commented on #8749
You mean like that?
![grafik](https://user-images.githubusercontent.com/15236554/99527519-33c3b400-299d-11eb-8075-5fde34057a5c.png)

[2020-11-18 11:55] snipe commented on #8749
@beatkind perfect, TYSM. I'm trying to reproduce the kinds of numbers you both have so I can reproduce the issue locally.

[2020-11-18 11:55] beatkind commented on #8749
@snipe if you need any other informations, just let me know

[2020-11-18 12:01] snipe commented on #8749
@samotelf can you give me a screenshot as well?

[2020-11-18 12:07] snipe commented on #8749
Aha - I can reproduce it locally now. Fix should be out shortly.

[2020-11-18 12:07] Dnatalyaalex opened #8778 "AD users can't login"
#### Expected Behavior (or desired behavior if a feature request)
Active direcrory users can login.

(what you expect to happen goes here)
It seems my LDAP Filter or LDAP Authentication query is wrong.
-----

#### Actual Behavior

(what actually happens goes here)
I configured AD sync for snipe-it . Now I can see all my AD users but they can't login.
Also I tried Test LDAP Login and it failed for

[2020-11-18 12:08] beatkind commented on #8749
Thank you very much!

[2020-11-18 12:10] snipe commented on #8778
Why are you upgrading to 4.9.2? Latest is version 5.0.7.

[2020-11-18 12:25] snipe commented on #8749
The issue here is that our array of default colors is finite - 9 to be exact - so if you have 10 or more status labels and no default color set for them, we run out of colors and the index on the array breaks (array starts at 0).

This is unfortunately trickier than it looks, as generating random colors that don't look like ass together is pretty tricky, and if we just hardcode a bunch of them in,

[2020-11-18 12:32] beatkind commented on #8749
Maybe a solution would be to define colors for the default status labels and for custom labels make the color mandatory? For process of creating a new label it then is maybe a solution to generate a color as a suggestion?

But than I am unsure how to apply this to upgrades and already existing labels. For this I am to much an ops guy.

[2020-11-18 12:35] snipe commented on #8749
@beatkind yeah, therein lies the rub. Existing status labels won't have a value for those, so we could still run into the "running out of default colors" issue.

(In the meantime, if either of you want to fix your pie problem, you should just be able to go into your status labels and assign them some colors.)

[2020-11-18 13:25] JohnLBergqvist opened #8779 "Two Factor codes are no longer vaild - how can I disable two factor?"
#### Please confirm you have done the following before posting your bug report:

- [x] I have enabled debug mode
- [x] I have read [checked the Common Issues page](https://snipe-it.readme.io/docs/common-issues)

**Describe the bug**
All of a sudden, our Two factor codes it asks us to enter are invalid, even when creating new users. How can I disable two factor system wide (i can get into the mysql

[2020-11-18 13:26] snipe commented on #8779
What version of Snipe-IT are you running?

[2020-11-18 13:31] JohnLBergqvist commented on #8779
@snipe 4.1.9

[2020-11-18 13:31] snipe commented on #8779
@JohnLBergqvist wait, which is it?

We haven't made any changes to 2FA in quite some time. Are you using LDAP or SAML or just local users?

You should be able to run `update settings set two_factor_enabled = 0;` - you might have to clear your cookies.

[2020-11-18 13:33] JohnLBergqvist commented on #8779
@snipe Sorry, it's definitley 4.1.9. Yeah I think the error is its unable to talk to our LDAP server all of a sudden, which is odd as it was working fine last week and the LDAP server is up, and the credentials haven't changed:

[code]

[2020-11-18 13:36] snipe commented on #8779
We haven't touched anything on Snipe-IT v4.1.9 since it was released, in Dec 2017.
https://github.com/snipe/snipe-it/releases/tag/v4.1.9

Possible something in your server environment changed? PHP got upgraded, etc?

<blockquote><img src="https://repository-images.githubusercontent.com/14346979/164a6580-7d79-11e9-865f-eae87593e11a" width="48" align="right"><div><img src="https://github.githubasset

[2020-11-18 13:37] snipe commented on #8779
That looks like your LDAP credentials either changed, or the user you use to bind with no longer has that ability. You said you could get into the database itself.

You'd need tp get a mysql prompt.

[2020-11-18 13:38] 2crak commented on #8723
Ok, hope the ETA won't be long, it will be so useful !!! 👍

[2020-11-18 13:39] JohnLBergqvist commented on #8779
@snipe thanks, I've ran the update command, cleared my cookies, but it's still prompting me for a 2FA code

[2020-11-18 13:39] snipe commented on #8779
One other thing that maaaaybe could have happened is that your APP_KEY changed, and it scrambled your LDAP password. (That doesn't happen on it's own, mind you - someone would have had to regenerate it - and even then I'd expect a different error.) But if you need to disable LDAP, run `update settings set ldap_enabled = 0;` on your database.

[2020-11-18 13:39] snipe commented on #8779
What was the output of the mysql query when you ran it?

[2020-11-18 13:53] JohnLBergqvist commented on #8779
@snipe
[code]
however it's still prompting me for a 2FA code

[2020-11-18 14:01] snipe commented on #8779
Try `UPDATE settings SET two_factor_enabled = null;`

[2020-11-18 14:04] JohnLBergqvist commented on #8779
@snipe Ah, that worked! Thank you. Looks like the LDAP errors I saw where genuine invalid logins to the frontend, so yeah, unrelated.